/* ++++++++++ Styles common to all sizes +++++++++++ */

body {
    font-family : 'Arial', sans-serif;
    font-size: 1em;
}
/** server message in red-error message or temporary content during migration **/
#message{
    color: #A90101;
    font-size: 1.1rem;
}

/********* LINKS in text and elsewhere but nav  ************/
a {
    color :#A90101;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

/******* General styles that do not change with screen size *****/

/******* titles and deco elements ***********/
h1 {
    margin-bottom: 5px;
}
h2{
    border-bottom: 1px solid #118cff66; 
    border-radius: 8px;
    padding-left: 15px;
    margin-right:10%;
    margin-left: 5%;
}

/******* Containers ***********/

/* 
*  (Blue nav, #118cff66 and #118cffcc, on top or left, on extra css), footer on the bootom, 
*  main= zone handled by single pages, contains named div as (inline style colored) zone for text and images
*  background div may have sections with headers if several h1 titels are needed
* .fond = background gallery pages (layout galerie base and inline styles)
* .bgsite = background chapter site 
*/

.bgsite{
    width: 97%;
    max-width: 800px;
    margin:1%;
} 
.fond{
    /* margin-top:1%; */
    margin-left:1%;
    /* margin-right: 8%; */
} 
.bgarchive{
    max-width: 90%;
    margin:1%;
} 
section {
    max-width: 100%;
}
header{
    border-bottom: 1px solid #A90101 ;
    border-radius: 12px;
    padding-left: 15px;
}
footer, .piedvariable{
    text-align: center;
    background-color: white;
    font-size: 0.8em;
}
.piedvariable{
    margin-top: 5%;
}
hr.piedvariable, footer hr{
    border-bottom-color:#118cff66;
    border-style:outset;
    height: 1px;
    width: 400px;
    text-align: center;
}


/**********  reactive styles*/

/********* < 400 ***************/

@media only screen and (max-width:400px) {
    
    #message{
        margin-top: 22px;
    }
    main {
        margin : 0 20px;
    }  
    section {
       font-size: 0.9rem;
       width: 100%;
    }
    .bgsite{
        max-width: 400px;        
    } 
    .fond{
        /* max-width: 96%;      */
        margin-right: 14%;   
        border-top: 24px solid white;
    } 
}

/*************    400 - 600   *************/

@media only screen and (min-width:400px) and (max-width:600px) {
	body{
		font-size: 0.8rem;
    }
    #message{
        margin-top:28px;
    }
    main {
        margin : 0 14px;
    }  
    section {
       font-size: 0.9rem;
       width: 100%;
    }
    .bgsite {
        padding-top: 12px;
    }
    .fond{
        /* max-width: 89%;      */
        border-top: 24px solid white;
        margin-right:8%;
    } 
}

/********************* 600 - 768    *********************/
@media only screen and (min-width:600px) {
	body {
		font-size: 0.8rem;
    }
    #message{
        margin-top:0;
        text-align: center;
    }
    main {
        margin : 0 20px;
    }  
    section {
       font-size: 0.9rem;
    }
    .bgsite{
        padding-top: 12px;
    }
    .fond{
        border-top: 27px solid white;
        margin-right: 6%;
    }
    .bgarchive{
        padding-top: 12px;
    }
   
}

/***** menu on the left side from this size on  ****/

@media only screen and (min-width:768px) {
	body{
		font-size: 0.9rem;
	}
    main {
        position : absolute;
        margin : 15px;
        left : 130px;
        height : 90%;
        min-width : 80%;
        box-sizing : border-box;
    }
    section {
        font-stretch: semi-expanded;
    }
    footer {
        position : absolute;
        display : block;
        left:130px;
        width : 62%;
        bottom : 0;
    }
    .bgsite, .bgarchive{
        padding-top: 0px;
    }
    .fond{
        border-top:Opx;
        padding-top: 3%;
    }
}

/***  large screen : > 992 **/

@media only screen and (min-width:992px) {   
    main {
        position : absolute;
        display : block;
        margin : 20px;
        left : 180px;
        min-width : 77%;
        height : 90%;
        box-sizing : border-box;
        }
    section {
        font-stretch: semi-expanded;
    }
    footer {
        position : absolute;
        display : block;
        left:180px;
        width : 82%;
        bottom : 0;
    }
    .bgsite footer {
        left:0px;   
    }
}
/**********   extra large screen  > 1200 px   ***********/
@media only screen and (min-width:1200px) {
    main {
        position : absolute;
        margin : 20px;
        left : 210px;
        min-width : 78%;
        height : 90%;
        box-sizing : border-box;
    }       
    section {
        font-stretch: semi-expanded;
    }
    footer {
        position : absolute;
        display : block;
        left:210px;
        width : 74%;
        bottom : 0;
    }  
    .bgsite footer {
        left:0px;       
    }
}
