/*only the nav-styles common to all sizes */


/*************** navigation + nav links */
nav {
    background-color : #118cff60;
}
.menu1 {
text-align : left;
}
nav ul {
    padding-inline-start: 9px;
}
nav li {
    list-style-type : none;
    }
nav > ul > li {
    position : relative;
    }
nav > div > ul > li:hover .menu2 {
    display : block;
    }
.menu2 {
    background-color :  #118cffcc; 
    position : absolute;
    display : none;
    min-width : 140px;
    z-index : 3;
    max-width: 300px;
    min-width: 100px;
    }        
.menu2 li {
    display: list-item;
}  
nav a {
    color : #A90101;
    text-decoration: none;
    font-weight: 600;
}

nav a:active {
    color: #0000CC;
    font-weight: 400;
    text-decoration : underline;
    }
nav a:visited{
    text-decoration : none;
    }
nav a:hover, 
nav a:focus {
    text-decoration : none;
    background-color :white;
    outline: #A90101 1px ridge;
    padding: 2px;
}
nav hr {
	width: 60%;
	margin-left:10%;
	color: white;
	height:1;
}
/*  /  .start holds .asf = the asf logo  */
 
.asf {
    background-image: url("/images/asf20.png");
    background-size: cover;
    display: block;
    border:0px;
    margin-bottom:5px;
}
.asf:hover, .asf:focus{
    background-image: url("/images/asf20.png");
    outline: none;
}
.start{
    border:0;
    display:block;
}
/*  there are 3 flags, e, f, d, which appear on specific places of a page, depending on the original language
 There is a fourth version  flagef  for the French flag appearing on the English website   */

.flagd, .flage, .flagf, .flagef{
    background-size: cover;
    display: block;
    border:0px;
}

/* German flag always left on small screens, hidden on tiny screens */
.flagd{
    background-image: url("/images/drapeau-de.png");
    background-color: forestgreen;
}
/* US flag always right side on small screens */
.flage{
    background-image: url("/images/drapeau-en.png");
    background-color: #A90101;
}
/* French flag right side on English pages small screen, left on German pages, hidden on tiny screens  
(The French flag uses the same space as one of the others, but only one flag can be needed )*/
.flagf, .flagef{
    background-image: url("/images/drapeau-fr.png");
    background-color: blue;
    
}
/* The 4 arrows: arrows as a container, -up and down in the news archive, forward (arrow) and back between artists */
.arrowup, .arrowdown, .arrow, .arrowback{
    position: absolute;
    background-size: cover;
    display: block;
    border:0px;
    background-color : #118cff30;
    border-color: transparent;
    border-style: solid;
   
}
.arrowup{background-image: url("/images/fleche-haut.png");}
.arrowdown{background-image: url("/images/fleche-bas.png");}
.arrowback{background-image: url("/images/fleche-gauche.png");}
.arrow{background-image: url("/images/fleche.png");}
/* .arrowback{background-image: url("/images/arrow-back.png");}
    .arrow{background-image: url("/images/arrow.png");} 
    -check with graphist*/

a.see{
    display:inline;
    /* check if still needed */
} 
/*********block accessibility ************/

.arrowup:focus, .arrowdown:focus, .arrow:focus, .arrowback:focus,
.arrowup:hover, .arrowdown:hover, .arrow:hover, .arrowback:hover {
    outline: none;
    padding:none;
    background-color:#118cffcc; 
    border-color: none;
}
.flagd:focus, .flage:focus, .flagf:focus, .flagef:focus
.flagd:hover, .flage:hover, .flagf:hover, .flagef:hover{
    outline: #A90101 2px ridge;
    padding:none;  
}
.asf:hover, .asf:focus{
    background-image: url("/images/logo_asf-blanc.jpg");
    outline: none;
}
/**********  reactive styles
** hidden on small screens: 
** deco elements on nav bar: 
**    .mini (line breaks and parts of texts) and nav hr;
**     .min600 for the link with the logo: it appears smaller on sizes 400-600 
**     and in normal size between 600 and 792 px (tablet portrait mode), invisible on other sizes;
**     arrowtexts: invisible on mobile screens
**************/

/*          < 400              */

@media only screen and (max-width:400px) {
	nav {
        border-bottom : 1px dotted #A90101;
        height : 33px;        
    }
    nav hr, 
    .min600,
    .mini, 
    .arrowtextup, .arrowtextdown, .arrowtext {
	    display: none;
    }
    nav ul {
        display : inline;
        margin-left : 2px;
        margin-right: 45px;
        padding : 2px;
    }
    nav li {
        display : inline;
        padding : 3px;
        padding-right: 4px;
    }
    .menu1 {
        line-height: 25px;
        font-size: 0.8rem;
    }
    .menu2 {
        padding : 2px;
        border-radius :  0 0px 10px 0;
        top : 25px;
        left : 0px;
        min-width: 100px;
        font-size: 0.8rem;
        line-height: 17px;
    }
    .asf {
        width : 50px;
        height : 33px;
    }   
    .start  {
        position : absolute;
        top : 9px;
        right : 9px;
        width: 41px;
        height : 29px;
    }
    .arrowup{
        width: 21px;
        height: 30px;
        top: 150px;
        right: 4px;
    }
    .arrowdown{
        width: 21px;
        height: 30px;
        top: 200px;
        right: 4px;
    }
    .arrowback{
        width: 30px;
        height: 21px;
        top: 170px;
        left: 2px;    
       
    }
    .arrow{width: 30px;
        height: 21px;
        top: 170px;
        right: 2px;
    }
    a.flagd, a.flage, a.flagf, a.flagef{
        color: white
        /* otherwise the link on the div is underlined in red */
    }    
    .flagd, .flage, .flagf, .flagef{
        position: absolute;
        width: 33px;
        height: 20px;
        border-bottom: 3px solid;
    }
    .flage, .flagef{
        top : 46px;
        right : 8px;
        /* always visible if not English version */ 
    }
    .flagd{
       display: none;
        /* not visible on smallest screens */
    }
    .flagf{
        top : 46px;
        left : 8px;
        /* always visible if not French version */
        
    }
}
/*************    400 - 600   *************/

@media only screen and (min-width:400px) and (max-width:600px) {
    nav {
        border-bottom : 1px dotted #A90101;
        height : 33px;
    }
    nav ul {
        margin-left : 5px;
        margin-right: 30px;
        padding : 2px;
    }
    nav li {
        display : inline;
        padding : 3px;
        padding-right: 8px;
    }
    .menu1 {
        line-height: 26px;
        font-size: 0.9rem;
    }
    .menu2 {
        padding : 2px;
        border-radius : 0 0 10px 10px;
        top : 25px;
        left : 30px;
        right : 45px;       
        font-size: 0.9rem;
    }
    nav hr,
    .mini, 
    .arrowtextup, .arrowtextdown, .arrowtext {
	    display: none;
    }
    .min600{
        position:absolute;
        top:24px;
        right: 62px;
        font-size: smaller;
    }
    .start{
        position : absolute;
        top :11px;
        right : 9px;
    }
    .asf {
        width : 50px;
        height : 33px;
    }
    .arrowup{
        width: 21px;
        height: 30px;
        top: 150px;
        right: 4px;
    }
    .arrowdown{
        width: 21px;
        height: 30px;
        top: 200px;
        right: 4px;
    }
    
    .arrowback{
        width: 30px;
        height: 21px;
        top: 140px;
        left: 2px;        
    }
    .arrow{
        width: 30px;
        height: 21px;
        top: 140px;
        right: 2px;
    }
    .flagd, .flage, .flagf, .flagef{
        position: absolute;
        width: 33px;
        height: 20px
    }   
    .flage, .flagef{
        top : 53px;
        right : 8px;
    }
   
    .flagf, .flagd{
        top : 53px;
        left : 8px;
        /* flagd is visible from now on */        
    }
}
/********************* 600 - 792    *********************/

@media only screen and (min-width:600px) {
	nav {
        border-bottom : 1px solid #A90101;
        height : 35px;
    }
    .menucontainer {
        margin : 3px 5px;
    }
    nav ul {
        display : inline;
        margin-left : 5px;
        margin-right: 40px;
        padding : 5px;
    }
    nav li {
        display : inline;
        padding : 5px;
        padding-right: 10px;
    }
    .menu1 {
        padding-top: 2px;
        line-height: 35px;font-size: 0.9rem;
    }
    .menu2 {
        padding : 2px;
        border-radius : 0 0 10px 10px;
        line-height: 22px;
        top : 33px;
        left : 30px;
        right : 45px;
        font-size: 0.9rem;
         }
    nav hr,
    .mini, 
    .arrowtextup, .arrowtextdown, .arrowtext {
        display: none;
    }
    .start {
        position : absolute;
        top : 9px;
        right : 9px;
    }
    .asf {
        width : 50px;
        height : 33px;
    }
    .min600{
        position:absolute;
        top:19px;
        right: 65px;
    }
    .arrowup{
        width: 21px;
        height: 30px;
        top: 150px;
        right: 4px;
    }
    .arrowdown{
        width: 21px;
        height: 30px;
        top: 200px;
        right: 4px;
    }
    .arrowback{
        width: 30px;
        height: 21px;
        top: 140px;
        left: 2px;        
    }
    .arrow{
        width: 30px;
        height: 21px;
        top: 140px;
        right: 2px;
    }  
    .flagd, .flage, .flagf, .flagef{
        position: absolute;
        width:33px;
        height: 20px;
    }    
    .flage, .flagef{
        top : 52px;
        right : 8px;       
    }  
    .flagf, .flagd{
        top : 52px;
        left : 8px;
    }
}

/***** menu on the left side from this size on  ****/

/*  special effects coming with menu change: 
the arrows don't need a blue background any more, as they are now situated in the blue menu bar. 
Safari handles background-color:none arbitrarily, therefore they get a fully transparent (blue) background

Linktext belonging to the arrow background-image appears either left or right of it. 
Focus and hover are white now, the state needs the same padding-left for the down arrow, 
otherwise the text jumps to the left when trying to click it. 
hidden parts for small screens get a display:inline
*/

@media only screen and (min-width:768px) {
    .min600 {
        display: none;
    }
    .mini, .arrowtextup, .arrowtextdown , .arrowtext {
        display: inline;
    }
    nav {
        position : absolute;
        display : block;
        height : 100%;
        left : 0;
        width : 130px;
    }
    .menucontainer {
        display : block;
        position:relative;
        left : 12px;
        padding : 3px;
        border-left : 2px solid;
        border-color : #A90101;
        min-height : 800px;
    }
    .menu1 {
        text-align : left;
        font-size: 0.9rem;
        line-height: 20px;
    }
    nav li {
        display : list-item;
    }
    .menu2 {
        padding : 2px;
        border-radius : 0 10px 10px 0;
        top :100px;
        left : 105px;
        min-height: 195px;  
        font-size: 0.9rem;
        min-width:180px;
    }
    .start {
        display : block;
        left:6px;
        position : inherit;
        padding-bottom: 50px;
    }
    .asf {
        width : 71px;
        height : 50px;
    }
    /* arrows archive */
    .arrowup, .arrowdown {
        position: relative;
        display: block;
        background-color: #118cff00;   /* transparent background for the arrows from here on, as they are situated in the blue navbar */
        font-size: 0.8rem;
        font-weight: 300;
        width: 21px;
        height: 30px;      
        margin-bottom: 5px ;  
        top:20px;
        left:8px;
        text-align: right;
        z-index:3;
    }
    .arrowup{
        margin-left: 35px;
        /* the link text appears left of the icon */
    }
    /* arrow galerie */
    .arrow, .arrowback{
        display: block;
        background-color: #118cff00;   /* transparent background for the arrows from here on, as they are situated in the blue navbar */
        width: 30px;
        height: 21px;
        margin-bottom: 15px;     
        position:absolute; 
        top:103px;    
    }
    .arrowback {
        left: 8px;
    }
    .arrow{
        left:52px;
        /* the icon appears left of the arrowback icon */
    }
    /* the text of the arrow links, invisible on small screens */
    a.arrowtext{
        font-size: 0.8em;
        font-weight: 300;
        padding-left: 3px;
        margin-top:50px;
    }
    a.arrowtextup{
        font-size: smaller;
        padding-left: 3px;
    }
    a.arrowtextdown{
        font-size: smaller;
        padding-left: 38px;
    }
    a.arrowtextdown:hover{
        padding-left: 38px;
    }
    .arrowup:hover, .arrowdown:hover, .arrow:hover, .arrowback:hover,
    .arrowup:focus, .arrowdown:focus, .arrow:focus, .arrowback:focus {
        background-color: white;
    }
    a.flagd, a.flage, a.flagf, a.flagef{
        color:  #118cff00;  
        /* on the blue navbar the underline is transparent blue */
    }
    .flagd, .flage, .flagf, .flagef{
        position: relative;
        width: 40px;
        height: 24px;
    }
    .flage, .flagef{
        left : 8px;
        margin-bottom: 10px;       
    }
    .flagd{     
        left : 8px;      
    }
    .flagf{
        left : 8px;
    }
}

/*** large screens > 992 **/

@media only screen and (min-width:992px) {
    nav {
        position : absolute;
        display : block;
        height : 100%;
        left : 0;
        width : 180px;
    }
    .menucontainer{
        position : relative;
        display : block;
        left : 30px;
        padding : 10px;
        border-left : 2px solid;
        border-color : #A90101;
        height : 100%;
    } 
    nav li {
        display : list-item;
    } 
    .menu1 {
        text-align : left;
    }
   .menu2 {
        padding : 2px;
        border-radius : 0 10px 10px 0;
        top : 130px;
        left : 105px;
        min-width:180px;
    }
    .start {
        display : block;
        position : inherit;
       
    }
    .asf {
        width : 72px;
        height : 48px;
    }
    .arrowback {
        left: 12px;
    }
    .arrow{
        left:60px;
    }
    .flagd, .flage, .flagf, .flagef{
        position: relative;
        width: 50px;
        height: 30px;
    }
    .flage, .flagef{
        left : 10px;
        margin-bottom: 10px;       
    }
    .flagd{  
        left : 10px;       
    }
    .flagf{
        left : 10px;
        margin-top: 13px;
    }
}
@media only screen and (min-width:1200px) {
    nav {
        position : absolute;
        display : block;
        min-height : 1000px;
        left : 0;
        width : 210px;
    }
    .menucontainer {
        position : relative;
        display : block;
        left : 60px;
        padding : 10px;
        border-left : 2px solid;
        border-color : #A90101;
        min-height : 1000px;
    }
    nav li {
        display : list-item;
    }
    .menu1 {
        text-align : left;
        font-size: 1rem;
    }
    .menu2 {
        padding : 2px;
        border-radius : 0 10px 10px 0;
        top : 128px;
        left : 110px;
        font-size: 0.9rem;
    }
    .start {
        display : block;
        position : inherit;
        padding-left:8%;
    }
    
}
