/* ****** Styles to add for artists' basic sites with a dia show.
** The layout-galerie-base needs 
** this file and 
** 20main.css, 
** 20main-nav.css for the nav-galerie,
** flex.css (on main), 
** colonnes.css
**
*  There are two types of basic websites: with a diashow and without. 

*  The basic websites have some inline styles to create individual designs. 
*  The construction is 
*  .fond (option) a div with .fond for backgrounds of the whole dedicated space 
*  .rowartists (could be another row) with flex wrap
*  two columns, mostly column35 with style logoartist as container for the logo of the artist and some text, links
*  and column 65 with the diashow
*  # diacontainer contains #dias and #legende
*  #icons is the stop button (more functions to come) and can be placed freely or hidden 
*  !!! Note: the # diacontainer, dias, legende and icons are used by the JS, don't change the names
*  #bio, #philo and #extratext are containers for texts, which can replace the diacontainer
 *******/

/* #logoartist = container for name, logo, links, left on screen, upper half on mobile */

#logoartist{
    margin-left: 2%;
    margin-top: 1%;
    padding-bottom:1%;
}


#logoartist img {
    padding: 20px 30px 20px 0px;
}

/* container where the js will place the dias
   and containers for texts
** the functions call elements by ID !!!  */
#diacontainer, 
#bio, #philo, #extratext{
    position: relative;
    display: block;
    /* background-color: antiquewhite; */
    width:98%;   
    margin:auto; 
    max-height: 700px; 
}
#diacontainer{
    /* display:none; */
    text-align: center;
    /* background-color: darkkhaki; */
}
#bio{
    display:none;
}
#philo{
    display:none;
    background-color: white;
}
#extratext{
    display:none;
}

/*    #legende = the id of the element where the js will write the dias' subtitles 
**    the function calls element by ID -do not rename
**    #legendes can get additional inline styles on pages with a diashow (background-color)

**    .legendes = class for the subtitles of individual images on pages without a diaporama.
**    if there are several images, check / style position inline
*/
#legende, .legendes{
	text-align: center;
	font-weight: 500;
	font-size: 0.9rem;
    padding-bottom: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    vertical-align: bottom;
    /* background-color: rgba(161, 75, 75, 0.3); */  
}

#dias {
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    position: absolute;
    top:0;
    display: block;
    width : 100%;
    height: 90%;
    max-height: 600px;
}
#icons {
    background-color:#A90101;
    color:white;
    z-index: 4;
}
/* Optional: for the menu within the multipage artist's sites.
   style colors inline */
#artistmenu a{
    font-weight: 600;
    text-decoration:  underline #118cffcc;
    font-size: 1rem;
    line-height: 1.4rem;    
}
.am{
    border-radius:8px;
    border: 1px dotted;
    padding: 3px 8px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
.am:hover, .am:focus {
    background-color: #118cffcc;
    color:#A90101;
    border-style: solid;
  }


/* **********   Responsive styles  ************** */

/* small screens under 762 */
@media only screen and (max-width:767px) {
    main, 
    main div{
        width: 100%;
    }
    .fond{
        width: 98%;
        max-width: 100%;
        margin-top: 5px;
       
    }
   
    #diacontainer, 
    #bio, #philo, #extratext{
        margin: auto auto auto 40px;
        min-height: 410px;
    }
    #logoartist  {
       min-width: 170px; 
       padding-left: 4%;
       padding-top: 6px;
       margin:auto;
       /* border: 1px dotted blue; */
    }
    #logoartist  {
        margin-bottom:2%;
    }
    #logoartist img {
        max-height: 200px;
    }
    #legende, .legendes{
        font-size: 0.9rem;
    }
    #titre h1{
        padding-left:250px;
     }

    #icons {
        margin-left: 250px;
        margin-top:2%;
    }
    footer {
        opacity: 0.3;
    }
    .fond{
        width: 98%;
        margin-top: 3px;
    }
}


/* Medium devices (landscape tablets, between 768px and 991px) */
@media only screen and (min-width:768px) and (max-width:991px) {
    .fond{
        width: 95%;
        margin: 0 auto;
        /* background-color: magenta; */
    }
    #diacontainer, 
    #bio, #philo, #extratext{
        
        width: 96%;
        min-height: 450px;  
        right: 0px;
    }
    #logoartist{
        min-height: 450px; 
        padding-left: 3%;
        padding-top: 12px;
        margin-bottom:none;
    }
    #logoartist img {
        max-width: 95%;
        max-height: 300px;
    }
    #dias{
        max-height: 500px;;
    }
    #legende, .legendes {
         font-size: 1rem; 
    }    
    #icons {
        margin-left: 250px;
        margin-top:2%;
    }
    footer {
        opacity: 0.3;
    }
}

/* Large devices, laptops/desktops, between 992px and 1200px */

@media only screen and (min-width:992px) and (max-width:1199px) {
    .fond{
        width: 95%;
        margin: 0 auto;
    }
    #diacontainer, 
    #bio, #philo, #extratext{
        width: 100%;
        min-height: 450px;
    }
    #logoartist{
        width: 100%;
        min-height: 450px;
        padding-left: 5%;
        padding-top: 16px;    
    }
    #logoartist img {
        max-width: 95%;
    }
    #legende {
        margin-bottom: 0;
        padding: 0;
    }
    #titre h1{
        padding-left: 250px;
    }
    #icons {
        margin-left: 250px;
        margin-top: 0;
    }
    footer {
        opacity: 0.3;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width:1200px) {
    #diacontainer,
    #bio, #philo, #extratext{
        /* width: 75%; */
        min-height: 640px;
        height: 70%;
        /* margin-left:280px; */
        margin-bottom: 0;
    }
    #logoartist{
        min-height: 640px;
        padding-left: 5%;
        padding-top: 20px;
    }
    #legende, .legendes {
        margin-bottom: 0;
        padding: 0;
        text-align: center;       
    }
    #titre h1{
        padding-left: 300px;
    }
    #icons {
        margin-top: 0;
        right: 7%;
        bottom: 40px;
    }
}