/* the canvas is responsive within the responsive styles of the website */
#stage {
    position: relative;
    margin-top:5%;
}

canvas {
    position: absolute;
}
/* this canvas is visible from the beginning, two others may be used in layers: (deepest) bg-mg-fg (highest) */
#canvasBg {
    z-index: 2;
}
#canvasMg {
    z-index: 3;
}
#canvasFg {
    z-index: 4;
}

/* responsive styles */

@media only screen and (max-width: 600px) {
    #canvasFg, #canvasBg, #canvasMg { width: 100%; }
}

@media only screen and (min-width: 600px) {
    /* body { background: yellow; } */
    #canvasFg, #canvasBg, #canvasMg { width: 95%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body { background: blue; } */
    #canvasFg, #canvasBg, #canvasMg { width: 90%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* body { background: orange; } */
    #canvasFg, #canvasBg, #canvasMg { width: 90%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body { background: pink; } */
    #canvasFg, #canvasBg, #canvasMg {
        width: 90%;
        max-width: 1200px;
    }
}
