/* the div canvas (container) is responsive within the responsive styles of the website */
#intro {
  padding-bottom: 1.5em;
  font-size:1.2em;
}

#stage {
    position: relative;
}
canvas {    position: absolute;}

/* responsive styles for #canvasBg (drawing), (vh = % of visible screen height)*/

@media only screen and (max-width: 400px) {
   /* body { background: red; } */ 
   #canvasBg {  max-width:95%; height: 50vh;  }
}
@media only screen and (min-width: 400px) {
   /* body { background: grey; } */ 
   #canvasBg {  max-width:95%; height: 45vh; }
}
@media only screen and (min-width: 600px) {
   /* body { background: yellow; } */ 
     #canvasBg { max-width: 95%;   height: 40vh; }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body { background: blue; } */
    #canvasBg{       max-width: 90%;        height: 55vh; padding-left:6vw; }
  }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* body { background: orange; } */ 
    #canvasBg {        max-width: 90%;    height: 66vh;  padding-left:5vw;} 
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* body { background: pink; } */ 
    #canvasBg {        max-width: 95%;        height: 70vh;    }
}
