
#scene_0, #stage {
    background-color: teal;
    z-index:1;
    margin-top:5%;
}
#artistediv_0{
    z-index:11;
}
#speedradio_0{
    z-index: 15;
}

#artistediv_0_ending {
    display: none;
}

#artistediv_0_button_next {
    display: none;
}

#artistediv_0_linkpage {
    display: none;
}