/*only the styles  without nav, first styles common to all sizes */

body {
    font-family : 'Arial', sans-serif;
    margin : 5;
    font-size: 1em;
}
/********* links in text and elsewhere but nav  */
a {
    color :#A90101;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/******* General styles that do not change with screen size */
main {
    padding : 3%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row wrap; 
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
}
main div {
    max-width: 90%;
}
section {
    max-width: 100%;
}
header{
    border-bottom: 1px solid #A90101 ;
    border-radius: 12px;
    padding-left: 15px;
}
h1 {
    margin-bottom: 5px;
}
h2{
    border-bottom: 1px solid #009edb; ;
    border-radius: 8px;
    padding-left: 15px;
    margin-right:10%;
    margin-left: 5%;
}
footer{
    text-align: center;
    background-color: white;
    font-size: 0.8rem;
}
aside{
    background-color: lightgrey;
}
/**********  reactive styles*/

@media only screen and (max-width:400px) {
	body{
		font-size: 0.7rem;
	}
}

@media only screen and (min-width:400px) and (max-width:600px) {
	body{
		font-size: 0.8rem;
	}
    main {
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-wrap: row wrap;
        margin : 0 20px;
    }  
    section {
       font-size: 0.9rem;
       width: 100%;
    }
    aside{
        font-size: 0.8 rem;
    }
}

@media only screen and (min-width:600px) {
		body {
		font-size: 0.8rem;
	}
    main {
        display: flex;
        flex-wrap: row wrap;
        display: -webkit-flex; /* Safari */
        margin : 0 20px;
    }  
    section {
       font-size: 0.9rem;
    }
    aside{
        font-size: 0.8 rem;
        width: 100%;
    }
}

/***** menu on the left side from this size on  ****/

@media only screen and (min-width:768px) {
		body{
		font-size: 0.9rem;
	}
    
    main {
        position : absolute;
        display : flex;
        display: -webkit-flex; /* Safari */
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap; /* Safari 6.1+ */
        margin : 15px;
        left : 130px;
        height : 90%;
        min-width : 80%;
        box-sizing : border-box;
       
    }
    section {
        font-stretch: semi-expanded;
    }
    aside{
        font-size: 0.8 rem;
        width: 20%;
    }
    footer {
        position : absolute;
        display : block;
        left:130px;
        width : 82%;
        bottom : 0;
    }
    
}

/*** aside on the left from here on **/

@media only screen and (min-width:992px) {
    
    main {
        position : absolute;
        display : block;
        margin : 20px;
        left : 180px;
        min-width : 77%;
        height : 90%;
        box-sizing : border-box;
        display : flex;
        display: -webkit-flex; /* Safari */
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap; /* Safari 6.1+ */
    }
    section {
        font-stretch: semi-expanded;
    }
    aside{
        font-size: 0.8 rem;
        width: 20%;
        height: 100%;
        align-self: flex-end;
    }
    footer {
        position : absolute;
        display : block;
        left:180px;
        width : 82%;
        bottom : 0;
    }
}
@media only screen and (min-width:1200px) {
    
    main {
        position : absolute;
        display : flex;
        display: -webkit-flex; /* Safari */
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap; /* Safari 6.1+ */
        margin : 20px;
        left : 210px;
        min-width : 78%;
        height : 90%;
        box-sizing : border-box;
    }
        
    section {
        font-stretch: semi-expanded;
    }
    aside{
        font-size: 0.8 rem;
        width: 25%;
        height: 100%;
        align-self: flex-end;
    }
    footer {
        position : absolute;
        display : block;
        left:210px;
        width : 80%;
        bottom : 0;
    }
}
