extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, pictures of the event and participants of the Open Doors 2004, Exhibitions 2004 : Doug Petrovic, Christian "Motor" Polansek et Eveline Krischan' )
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1  Open doors of the artist's ateliers, Paris, 14 arrondissement
            p 15 and 16 May 2004
            h3  
                |Exhibition: 
                | Paintings and sculptures by
                a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic 
                | , Christian "Motor" Polansek, 
                a(href="/galerie/krive") Eveline Krischan 
                |  and and of 10 Austrian artists.     
        block script
            script(src='../images-news/2004/dias-listes.js')
            