extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, poster of the event and participants in the 2004 Exhibitions : Doug Petrovic' )
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Exhibition à Sète: Doug Petrovic
            .row
                .column
                    h2  
                        |
                        a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic
                        |  
                    p exhibits at Sète, in the South of France, from  21 June To 12 July 2004
                    p Vernissage June 21, day of a Music Festival in all of France,  naturally with music
                    h3 Blues-Rock-Band "Drivin' South"
                    p Address: Bistro du Marché, 1 rue Alsace Lorraine, 34200 Sète
                .column
                    img#imagefull(src="../images-news/2004/affiche_sete.jpg", alt="affiche show Doug Petrovic 2004")
