extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, pictures of the event and participants of the Open Doors 2004, Exhibitions 2004 : Doug Petrovic, Jacqueline Cauet, Tajuddin Ahmed' )
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1  Open doors 2004
        .row
            .column
                h2 Open doors   
                p Saturday 20 and Sunday 21 november 2004
                p from 14 to 20 h
                p 7, Impasse du Rouet
                h3  
                    |Exhibition: 
                    a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic
                    |  and Jacqueline Cauet
                p Since the last Open Doors in May 2004 our Paris office did change once more: We realised further renovation work and constructed a work space for an artist, which allows him to work "upstairs", to receive visitors at ground level and to exhibit his work on the whole space.
            .column
                img#imagefull(src="../images-news/2004/bilder.jpg", alt="Work in progress for the Open House")
                br
                | Work in progress for the Open House     

        .row 
            .column
                img(src="../images-news/2004/atelier.jpg", alt="Atelier 2004")
            .column
                p This working place was constructed with hundred year old oak wood and a huge table top in plexiglass, to reduce neither the height of the room nor the light.
                p These two very different materiels, the solid antique oak wood pillars and the plexiglass, allowed us to create a very modern design without changing the spirit of the old artist's work shop.


    section
        header
            h1 Exposition au Musée Atelier Adzak
        p 3 rue Jonquoy, 75014 Paris, tél. 01.45.43.06.98 
        h3 Didier de Nayer, Philippe Descharmes and Luc Gueronnet: Photographs "De Natura"
        p Monday, November 8 to Tuesday November 23, 2004
        p Vernissage Tuesday, November 9. November 16 Claude-Marie's poetry from 18:00.

    section
        header
            h1 Automne de Bengale: 
        h2
            a(href="/galerie/tajuddin") Tajuddin Ahmed
            | ,  Bengali painter 
        p From Thursday 16 to Friday 24 December 2004
        p Vernissage the Thursday, December 16 from 18:00.

    section
        header
            h1 Forecast for February - March 2005:         
        h3 Exhibtion of the members of Artistes sans Frontières in Paris