extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos Open doors 2005 : Claire Pluvinage, Doug Petrovic, Airelle ')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Autumn Open Doors 
            h3
                | Airelle, 
                a(href="/galerie/pluvinage") Claire Pluvinage
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
        block script
            script(src='../images-news/2005/ponov/dias-listes.js')