extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, invitation an poster for the show at the Loft Gallery 2005 : Douglas "Doug" Petrovic, Roland Erguy, Monique Dussauge')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Exhibition at the Loft Gallery
            .row
                .column
                    p 15 to 29 June 2005, daily from 12h to 19h
                    p 88, rue du dessous des Berges, 75013 Paris
                    h3  Exhibition : 
                    p 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        br
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | ,  
                        br
                        | Monique Dussauge
                .column                    
                    img.image80c(src="../images-news/2005/loft/loft-affiche.jpg", alt="poster show loft gallery")
            .row
                .column
                    img(src="../images-news/2005/loft/loft-recto.jpg", alt="invitation card show loft gallery")
                .columnright
                    img(src="../images-news/2005/loft/loft-verso.jpg", alt="invitation card backside, show loft gallery")
