extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos and participants, art show at the Loft-Gallery 2005 : Roland Erguy,  Doug Petrovic, Suzan Rasmussen')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
        header
            h1  The exhibition at the Loft-Gallery, June 2005
        h3 
            | Expositon: 
            a(href="/galerie/erguy") Roland Erguy
            | , 
            a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
            | and  
            a(href="/galerie/rasmussen")  Suzan Rasmussen


        block script
            script(src='../images-news/2006/loft/dias-listes.js')
