extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos and participants Art Market at Pont Audemer 2005 : Doug Pretrovic, Suzan Rasmussen')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
        header
            h1  Marché d'Art à Pont Audemer
        p  3 July 2005
        p Exhibition : 
            br
            a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
            | , painting, sculpture 
            br
            a(href="/galerie/rasmussen")  Suzan Rasmussen
            | , painting, engraving
            br

            block script
                script(src='../images-news/2005/audemer/dias-listes.js')
