extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Autum Art Fair, photos of the fair and artists: Douglas "Doug" Petrovic, Roland Erguy, Nicholas Wright, Airelle')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Salon des Arts - Art fair
            .row
                .column
                    h3 Mairie du 14e arrondissement de Paris
                    p 
                        | 15 - 25 September 2005, 
                        br
                        | 10h - 17h, Thursday 19h 
                .column
                    h3 Several of our members exhibit:
                    p
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | ,  painting lance
                        br
                        a(href="/galerie/erguy")  Roland Erguy
                        | , Sculpture nef
                        br
                        a(href="/galerie/wright")  Nicholas Wright
                        | , Sculpture Margaret
                        br
                        | Airelle,  painting solstice
        block script
            script(src='../images-news/2005/salon/dias-listes.js')