extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, the athmosphere of the Art du Nu 2006 fair')
    meta(name='author' content='Babacar')
block main
    section 
        p#message=title
            header 
                h1  Salon Art du Nu - impressions in the surroundings 
        block script
            script(src='../images-news/2006/artdunu2/dias-listes.js')
        p 
            a(href='e06-12') The salon: the association's stand
        