extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the Exhibition 2006 : Roland Erguy and Zemrina')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 
                    | Exhibition 
                    a(href="/galerie/erguy") Roland Erguy 
                    | and Zemrina 
            p Musée Adzak, 12 - 22 April 2006
            block script
            script(src='../images-news/2006/adzak/dias-listes.js')