extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, pictures of the event and participants in the XIVe 2006 Open Doors : Roland Erguy, Nicolas Ganter, Doug Petrovic')
block main
    section
        p#message=title
            #textgauche
                header 
                    h1  Portes Ouvertes (Open doors), 20 - 21 May 2006, at Artistes sans Frontières
                h3 
                    | L'association presents  
                    a(href="/galerie/erguy") Roland Erguy
                    | , 
                    a(href="/galerie/nicolas") Nicolas Ganter
                    |  and  
                    a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic.
 
        block script
            script(src='../images-news/2006/po/dias-listes.js')

