extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exhibitions announcements 2006 : ')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Exhibitions announcements: 

            h2 Ulysses Belz exhibit in Germany: „Zurück zur Figur“ 
            p Kunsthalle der HYPO-Stiftung, München 2 June - 13 August 2006
            .row
                .column
                    h2 
                        a(href="/galerie/nicolas") Nicolas Ganter
                        | 
                    p exhibits at the Montparnasse Gallery,
                    p 55 rue du Montparnasse, 75014 Paris,
                    p 1st - 15th september 2006
                    p Monday to Saturday 11h - 19h 
                    p Vernissage the Friday 8 september,  18:30
                .column
                    img#imagefull(src="../images-news/2006/n-ganter-invit.gif", alt="affiche de l'exposition de nicolas ganter")
            h2 
                a(href="/galerie/rasmussen") Suzan Rasmussen
                | , 
                a(href="/galerie/erguy") Roland Erguy    
                |  and  
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  
            p will exhibit together at the Loftgallery  
            p beginning of September. Suzan Rasmussen, who lives in Utah will come to Paris for the exhibition. 
            p Finissage: 7 september 2006
            p Loftgallery, 88, rue du dessous des Berges, 75013 Paris
            p Metro: Bibliothèque François Mitterand, 14 et RER C   
            p Bus: Patay-Tolbiac, 27, 62 et 132
            h2 
                | Airelle,
                |
                a(href="/galerie/rasmussen") Suzan Rasmussen
                |  and    
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exhibit at the 
                | 
                a(href='06-12')  Salon Art du Nu
            p Espace de la Porte Champerret, Place de la Porte de Champerret, Paris XVIIe
            p which will take place 23 - 25 September.
            p Saturday 23 September 2006: 2pm - 10pm Vernissage
            p Sunday 24: 11am - 7pm Artist's aperitif   
            p Monday 25: 12am - 7pm Vernissage
            h2  
                a(href="/galerie/pillas") Cathérine Pillas
                |  exhibits at:
            p 
                | Académie Internationale de Lutèce, espace 2001, salle Next Step, 9 - 11, cour Debille, 75011 Paris, 
                br
                | 22 - 29 October. Vernissage: 21 October, 6pm.
            p 
                | FMP, fédération mutualiste interdépartementale de la région parisienne, 24 rue St. Victor, 75005 Paris,
                br
                | Tuesday 7 November: vernissage and one day show
            h2 Summer activities:
            p We organize painting and sculpture workshops in the center of France, in the Alier.
            p Small groups, stay at the hotel or in the farm / guesthouse , meals and training. Details on request.
