extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, pictures of the event and participants of the Ascension Day 2006 ')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
            #textgauche
                header 
                    h1  A party at the association
                p In summer, Paris gets empty and mid-July we found ourselves the only ones left in the courtyard, because all the neighbors of the ground floor of our buildings had left on holiday. On Saturday 22 July we thus gave an improvised party for our members and neighbors, who had remained in Paris.
        
                p The aperitif between 17 and 19 hours was transformed into a dinner for those, who could stay. On the photographs you already find us at the dessert course between 21 and 22 hours. The last visitor left around three hours in the morning. We hope to have good weather in September to repeat the experience after the return of the Parisians.          
        block script
            script(src='../images-news/2006/fete/dias-listes.js')