extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants Tiki Joe 2006 : ')
    meta(name='author' content='Babacar')
block main
    section 
        p#message=title
            #textgauche
                header 
                    h1  Tiki Joe 
                p on invitation of Greg Iaggart at the Shannon bar, Paris 13e, 24 August 2006
        block script
            script(src='../images-news/2006/tikijoe/dias-listes.js')
