extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, anouncements upcoming shows in 2006')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Next exhibitions :
            .row
                .column
                    h2 
                        a(href="/galerie/nicolas") Nicolas Ganter
                        | 
                    p exhibits at the Galerie du Montparnasse,
                    p 55 rue du Montparnasse, 75014 Paris, 1- 15 September 2006.
                    p Open Monday till Saturday 11 - 19:00.
                    p Vernissage Friday 8 September 18:30
                .column
                    img#imagefull(src="../images-news/2006/n-ganter-invit.gif", alt="affiche de l'exposition de nicolas ganter")
            .row
                .column   
                    h2 
                        a(href="/galerie/rasmussen") Suzan Rasmussen
                        | , 
                        a(href="/galerie/erguy") Roland Erguy    
                        |  and   
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        |   
                    p will exhibit together at the Loft-gallery beginning of September.
                    p Suzan Rasmussen, who lives in Utah will come to Paris for the exhibition. 
                    p Finissage: Thursday, 7 September 2006
                    p With Tiki Joe, Congo Drums 
                        a(href='06-7') (photos see beneath)  
                    p Loftgallery, 88, rue du dessous des Berges, 75013 Paris
                    p Metro: Bibliothèque François Mitterand, 14 et RER C   
                    p Bus: Patay-Tolbiac, 27, 62 et 132
                .column
                    .row
                        .columndouble
                            img(src="../images-news/2006/artistes-sf_invit-r.gif", alt="carte d'invitation recto")
                        .columndouble
                            img(src="../images-news/2006/artistes-sf_invit-v.gif", alt="carte d'invitation verso")
            h2 
                | Airelle,
                |
                a(href="/galerie/rasmussen") Suzan Rasmussen
                |  and  
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exhibit at the 
                a(href='06-12') Salon Art du Nu
            p Espace de la Porte Champerret, Place de la Porte de Champerret, Paris XVIIe
            p Saturday 23 September 2006: 14h - 22:00 Vernissage
            p Sunday 24: 11 - 19:00 Artist's aperitif   
            p Monday 25: 12 - 19:00 Vernissage
            h2  
                a(href="/galerie/pillas") Cathérine Pillas
                |  exhibits: 
            p Académie Internationale de Lutèce, espace 2001,  salle Next Step, 9 - 11, cour Debille, 75011 Paris, 22 - 29 October. Vernissage: 21 October, 18:00.
            p FMP, fédération mutualiste interdépartementale de la région parisienne, 24 rue St. Victor, 75005 Paris, le mardi 7 November: vernissage and salon of one day.
            br 
            h2 Summer activities:
            p We organize painting and sculpture workshops in the center of France, in the Alier.
            p Small groups, stay at the hotel or in the farm / guesthouse , meals and training. Details on request.