extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Open Doors show 2007 : Roland Erguy, Val Gallard,  Nicolas Ganter, Dirk Gruyters, Douglas de Petrovic')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h3  Exhibition announcement :
            p 
                a(href="/galerie/villaada") Ada Villa 
                | : 'Ritagle di Memorie' May 26th to June 4th
                br
                | Galleria dea Borgo Pinti 42/r 50121 Firenze
                br
                | Vernissage 26 May 18h
    section
        #textgauche
            header 
                h1  Open Doors of the 14th arrondissement artists' studios in Paris
            p May 12 and 13, 2007, at Artistes sans Frontières
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="/galerie/valgallard") Val Gallard
                | , 
                a(href="/galerie/nicolas") Nicolas Ganter
                | , 
                a(href="/galerie/gruyters") Dirk Gruyters
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Douglas de Petrovic

            block script
                script(src='../images-news/2007/po/dias-listes.js')
