extends ../../templates/e-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Le pot d'adieu du marchand de journaux
            p Une petite fête improvisée pour le depart d'une âme de quartier
           
            block script
                script(src='../images-news/2007/pot/dias-listes.js')
            