extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Next show 2008 Rangel Amorim, shooting of Bunker, Nicolas Ganter')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Next shows and other events: 
            .row
                .column
                    h2 
                        a(href="/galerie/amorin") Rangel Amorim
                    p The young painter from Brazil exhibits his paintings:
                    p 5 - 18 May 2008
                    p 
                        | Galerie 3 F,
                        br
                        | 58 rue des 3 Frères, Paris 18,
                        br
                        | Métro Abesses 
                .column
                    img#imagehalf(src="../images-news/2008/invitation-rangel-amorim.jpg", alt="Rangel Amorim, invitation show")
            .row
                .column
                    h2
                        a(href="/galerie/nicolas") Nicolas Ganter 
                        | shoots "Bunker"
                    p Nicolas Ganter, engraver, painter and filmmaker, wrote the screenplay for the film "Bunker".


                .column
                    img.image80c(src="../images-news/2008/cinema-tournage-nicolas-gan.jpg", alt="cinema, shooting of 'Bunker' by Nicolas Ganter")
                    p Article published in the newspaper Nice Matin 