extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, pictures of the event and participants, Open Days Portes ouvertes 14ème arrondissement september 2008 : Fatma-Zohra Zamoum, Roland Erguy, Germain Kouassi, Helga Strobl, Douglas "Doug" Petrovic, Jochen Schwertfeger')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        #textgauche
            header 
                h1  Open Days in the workshops of contemporary artists in 14e in Paris
            p 27 & 28 September 2008
            p 
                | Paintings by 
                a(href="/galerie/kouassi") Germain Kouassi
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/schwertfeger") Jochen Schwertfeger
                | , 
                br
                | sculptures by 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                br
                | photos by  
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                br
                |  short films by 
                a(href="/galerie/zamoum") Fatma-Zohra Zamoum

            block script
                script(src='../images-news/2008/po/dias-listes.js')
