extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exhibition 2009, Carole Freva')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Exhibition in december 2009
                .row
                    .col
                        h2 Carole Freva 
                        h3 Le Salon de décembre
                            br
                            | Galerie Thuillier
                        p du 5 au 18 décembre 2009
                            br
                            |  Monday to Saturday, 1pm to 7pm
                        p Vernissage Tuesday 8th December, 6pm to 9pm
                        p 13 rue de thorigny, 75003 Paris, phone 01 42 77 33 24
                        p Metro St Sébastien-Froissart or St Paul
                    .col    
                        h2 Show room and private sell Irena et Gabriella
                        img(src="../images-news/2009/gabriella-carbone1209.jpg", alt="Invitation Irena and Gabriella")