extends ../../templates/e-layout-archive-dias.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1   
                    a(href='http://gabriella.carbone.free.fr/', target='_blank') Gabriella Carbone 
                | , photographies
                h3 Vernissage Galerie 3 F, 3 avril 2009
            block script
                script(src='../images-news/2009/carbone/dias-listes.js')
