extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Open Days "Portes Ouvertes du 14e", Paris, June 2009')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Open Days "Portes Ouvertes du 14e", Paris, June 2009
            p
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
                | , 
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl 
                |  , 
                a(href="/galerie/paquetrobert") Robert Paquet 
                |  , 
                a(href="/galerie/erguy") Roland Erguy
            block script
                script(src='../images-news/2009/po/dias-listes.js')
