extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exhibition Roland Erguy, Exhibition Doug Petrovic, Helga Strobl')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 
                    | Exhibitions in 2009 
                .row
                    .col
                        h2 August
                        h3 
                            | AsF in the gallery 3F, Paris
                            a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                            | , paintings and et sculptures , 
                            br
                            a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                            |  , photographs
                        img(src="../images-news/2009/affiche3f-doug-helga.jpg", alt="Doug Petrovic, Helga Strobl, annonce expo")
                        p August 6th to 30th, Thursday to Sunday 2pm - 6pm, and by appointment(Phone 06 32 95 40 90)
                        p Galerie 3F, 58 rue des 3 frères, Paris 18e, Métro Abbesses
                    .col
                        h2 September
                        h3
                            a(href="/galerie/erguy") Roland Erguy in Cercles Bleu
                        img(src="../images-news/2009/roland-expo.jpg", alt="Roland Erguy, annonce expo")
    