extends ../../templates/e-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1 Exposition dans la galerie 3F, Paris, août 2009
            p Doug Petrovic, Helga Strobl
            block script
                script(src='../images-news/2009/3f/dias-listes.js')
