extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exhibition October 2009, Laurent Loizeau, Exposition Doug Petrovic, Helga Strobl')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Shows October 2009 : Laurent Loizeau
            h3 Foire Internationale de Montpellier
            p 
                | Friday 9th - Monday 19th October 2009
                br
                | Parc des Expositions Hall7-stand 035
                br
                | Vernissage Saturday October 10th , 6pm
    section
        #textgauche
            header 
                h1 Exhibition in Galerie 3F, Paris, August 2009
            p 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , paintings and et sculptures
                br
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                |  , photographs
            block script
                script(src='../images-news/2009/3f/dias-listes.js')
