extends ../../templates/e-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1 Exposition à partir du 24 septembre 2009
                p 
                    a(href="/galerie/erguy") Roland Erguy
                h3 Sur le fil de la pointe et du burin
                p au restaurant Les Cercles Bleus, 56 rue de la Sablière, Paris 14e
            block script
                script(src='../images-news/2009/cercles/dias-listes.js')
