extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exhibitions 2010, Open Days in the workshops of contemporary artists in 14e in Paris,  Parc Floral de Paris, BASE’ART, Le Festival, Doug Petrovic exhibits in China')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Exhibitions in spring 2010:
            h2 Open Days in the workshop of contemporary artists in 14e in Paris:
            p May 29th and 30th 2010 at Artistes sans Frontières: 
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="/galerie/kouassi")   Germain Kouassi
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
                |  and  
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            h2 Parc Floral de Paris: Paintings, Sculptures, Engravings et Photographs
        .row
            .column
                p 
                    a(href="/galerie/erguy") Roland Erguy
                p May 13th - June 13th 2010
                p Everyday 1pm - 7pm, week-end 10:30am - 7pm
                p Bois de Vincennes, Bus 112, RER Vincennes, M Chateau de Vincennes
                p Pavillon 18, Nympheas entrance, free entrance
                p Info: 
                    a(href="https://www.paris.fr/" target="_blank") Mairie de Paris
            .column
                img(src="../images-news/2010/parc-floral.jpg", alt="Parc floral")
        h2 BASE’ART, Le Festival
        p  in Fréjus June 3rd, 4th, 5th and 6th
        p
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic 
            | and  
            a(href="https://www.hstrobl.info") Helga Strobl
        h2 
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
            |  exhibits in China with Association Art en Voyage               
        p 
            | April 12th to 16th 2010, SENAT, Beijing
            br
            | April 20th to May 16th 2010, TIANJIN Museum
            br
            | May 20th to June 20th, PEKIN ORIENTAL MEDIA CENTER
