extends ../../templates/e-layout-archive-dias.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            block script
                script(src='../images-news/2010/po/dias-listes.js')
