extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Open Days in the workshops of contemporary artists in 14e in Paris')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Open Days in the workshops of contemporary artists in Paris
            p
                a(href="/galerie/erguy") Roland Erguy 
                | ,
                a(href="/galerie/kouassi") Germain Kouassi 
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
                | , 
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl 
            block script
                script(src='../images-news/2010/po/dias-listes.js')
