extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the show Salon de la Photo, Paris 2016')
block main
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1  Photo exhibition at the Town hall du 14e, Paris
            h3 Helga Strobl, exhibition 2010 (rest of the page not yet migrated)

            block script
                script(src='../images-news/2010/photosalon/dias-listes.js')
