extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos show Doug Petrovic ')
block main
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1  Exhibiton Douglas Petrovic at the bar restaurant Daudet

            block script
                script(src='../images-news/2010/daudet/dias-listes.js')
