extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the show and participants,  Open Doors 2011 : Roland Erguy, Doug Petrovic, Suzan Rasmussen, Helga Strobl')
block main
    div
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Open Doors - Paris
            .row
                .column
                    p 28 and 29 May 2011
                    p Saturday and Sunday : 11h - 19h
                    h3  Exhibition : 
                    p 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , 
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , 
                        a(href="https://www.hstrobl.info") Helga Strobl
                .column
                    a(href="/pdf/po11.pdf")
                        img(src="/images-news/2011/po.jpg", alt="Open Doors 2011 - Download the program")   
                        p Download the program
            block script
                script(src='../images-news/2011/dias-listes.js')
