extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, obituary of our président and founder Douglas "Doug" Petrovic, invitation to a faire well réunion')
block main
    div
        section
            header
                h1=title
        section
        header
            h1The president of Artistes sans Frontières, Douglas Petrovic, died in October.
        img#imagefull(src="/images-news/2011/doug-parti.jpg", alt="Anouncement of death for Doug Petrovic")
        hr
    section
        h3 To our members, present past and future :
        p If you wish to continue Douglas' adventure, please contact the association          
        p There will be an assemblée générale extraordinaire in Sète with the possibility to participate by phone or videoconference.
        p Even if you can't come, send us your propositions, questions and souvenirs of Douglas by mail or by letter.
        hr