extends ../../templates/e-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        header
            h1 Change of board
        #textgauche 
            p After the death of the founder and president Douglas Petrovic, a new board has been chosen on 4 January 2012.
            p Elected are: Mrs Helga Strobl as president, M Alain Pasquier as vice-president, M Ferdinand Winkler as treasurer and secretary.
            h3 To our members, present past and future :
            p If you wish to continue Douglas' adventure, please contact the association     
            p Send us your propositions, questions and souvenirs of Douglas by mail or by letter.
    section
        h1 Shows 2012
        #textgauche 
            h2 May Portes Ouvertes - Open Doors, Paris
            p 
            | 12 and 13 May 2012
            br
            | 12 and 13 May 2012
            br
            | Sunday 13: 11 - 19h
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic 
                |  and  
                a(href="https://www.hstrobl.info")  Helga Strobl
    section
        h2 November
        #textgauche  
            p "Mois de la Photo" - Month of Photography in Paris