extends ../../templates/e-layout-archive.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        header
            h1 Changement du bureau
        #textgauche 
            p Suite au décès du président-fondateur Douglas Petrovic, l'association a élu un nouveau bureau le 4 janvier 2012.
            p Sont élus Mme Helga Strobl comme présidente, M Alain Pasquier comme vice-président, M Ferdinand Winkler comme trésorier et secrétaire.
            h3 Notice aux membres, actifs, anciens et futurs :
            p Si vous souhaitez continuer l'aventure de Douglas, contactez le bureau de l'association           
            p Déposez vos propositions, questions ou souvenirs de Douglas par mail ou par courrier.
        hr
    section
        h1 Expositions 2012
        #textgauche 
            h2 Mai Portes Ouvertes des ateliers d'artistes à Paris
            p 
            | 12 et 13 mai 2012
            br
            | Samedi 12: 14h30 - 20h
            br
            | Dimanche 13: 11h - 19h
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic 
                |  et  
                a(href="https://www.hstrobl.info")  Helga Strobl
    section
        h2 Novembre
        #textgauche  
            p Exposition photo dans le cadre du mois de la photo
