extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the event and participants Open Doors 2012 : Roland Erguy, Doug Petrovic, Suzan Rasmussen, Helga Strobl ')
block main
    section
        header
            p#message=title
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris - Open Doors of the Artist's Ateliers in Paris 
            p 12 and 13 May 2012
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            block script
                script(src='../images-news/2012/dias-listes.js')
    section
        header
            h1 November
    p Photo shows during the European Photo Month
