extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, European Photo Month 2012, show "Traces et Péregrinations": Elisa Spuche and Helga Strobl')
block main
    div
        section
            header
                p#message=title
        section
        p Shows in November 2012
        section
            header
                h1 Mois de la Photo - Photographie Month in Paris
            .row
                .column
                    h3 Show: The photographer's of the 14 arrondissement
                    p  9 - 18 November
                    p 
                    | Mairie Annexe
                    br
                    | 12 rue Pierre Castagnou 
                    br
                    | M° Mouton-Duvernet
                    p 
                    | Organized by the mayor of the 14
                    | Monday to Friday, 11 - 18h, 
                    | Saturday and Sunday, 11 - 19h
                .column
                    h(ref="/pdf/programme_mois_photo12.pdf")
                        img#image90(src="/images-news/2012/mois-photo.jpg", alt="Photo Month 2012")
                        | Download the program       
        section
            header
                h1 Traces et Pérégrinations : 
                    a(href="https://www.hstrobl.info")  Helga Strobl 
                    | and Elisa Souche
            .row
                .column
                    img#image90(src="/images-news/2012/daudet-affiche-1210.jpg", alt="Elisa Souche and Helga Strobl, exhibition poster 2010")
                    p Elisa Souche and Helga Strobl, exhibition poster 2010
                .column
                    h3 Traces / Pérégrinations 
                    h3 Helga Strobl and Elisa Souche
                    p 
                    | 15 November - 8 December 2012
                    br
                    | Monday to Wednesday 7h - 21h
                    br
                    | Thursday and Friday 7 - 24h
                    br
                    | Saturday 7h - 20h

                    p Vernissage Saturday, 1 December,17h
                    p
                    | Bar Restaurant "Le Daudet"
                    br
                    | 16 rue Daudet, Paris 14e, Tél. 01 45 40 82 33
                    br
                    | Métro Alésia, ligne 4. Bus 28, 38, 62, 68, 724

            h3 Elisa Souche    
            p 
            | There are days like that, adverse wind. The elements get tangled,
            | spongy earths, heaven haloed with gray ink, waters gorging the slightest scratch of the ground..
            br
            | A handful of derisory crosspieces, thrown in Mikado, mark the limits of human control:
            | calamitous enclosures and portals heavy with meaning, boats and canals
            | forming an obstacle course, pretend to corset space.
            br
            | On the other side of time, each one walks his secret Sea of ​​Aral where the ships stranded,
            | block the horizon of messages of love, wait for the flood.
            br
            | Elsewhere, in the palette of antique Provencal frames, sometimes the mischievous azure
            | seems to rise from the ground.