extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, upcoming Open Doors 2013 and internship offered')
block main
    section
        header
            p#message=title
    section
        h3 Upcoming Shows - 2013
        header
            h1 Portes Ouvertes - Open Doors - Paris
        p 1 and 2 June 2013
        p Saturday and Sunday: 11h - 19h
        p
            a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
            | , painting, sculpture
            br
            a(href="/galerie/rasmussen")  Suzan Rasmussen
            | , painting, engraving
            br
            a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            | , photography
            br
            a(href="/galerie/zamoum") Fatma-Zohra Zamoum
            | , film
        hr
    section
        header
            p Our partner, the litterature association, Les Amis du Roi des Aulnes, offers a trainee position:
        .row
            .column
                h3 Les Amis du Roi des Aulnes, LITTERall 
            .column
                img#imagehalf(src="/images-news/2013/goethe.jpg", alt="Logo Institut Goethe") 
        h3 URGENT : APPEL à CANDIDATURE POUR UN STAGE
        p Le Goethe Institut/Paris et Les Amis du Roi des Aulnes recherchent
        p du 15/3 au 15/6/2013
        p un(e) étudiant(e) en sciences humaines ou sociales
        p intéressé(e) par un stage dans ces deux institutions (programmation culturelle)
        h3 Conditions souhaitées:
        p
            li Langue maternelle: français ou allemand, avec d'excellentes connaissances de l'autre langue, de même que de l'anglais.
            li Sens de l'organisation du travail
            li Maîtrise de l'informatique de base
            li Intérêt pour les échanges culturels
        h3 Envoi des candidatures (lettre de candidature et CV) à
        p
            li Joachim Umlauf, Goethe Institut, Joachim.Umlauf@Paris.goethe.org
            li Nicole Bary, Les Amis du Roi des Aulnes, nicbary@gmail.com