extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, upcoming event Arts 14 in June 2014, participants : Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl, Fatma-Zohra Zamoum')
block main
    div
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Open Doors - Paris
            p 14 et 15 June 2014
            p Saturday and Sunday: 11h - 19h
            .row
                .column
                    h3  Exhibition : 
                    p 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , painting, sculpture
                        br
                        a(href="/galerie/quartarone")  Mary Quartarone
                        | , painting
                        br
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , painting, engraving
                        br
                        a(href="https://www.hstrobl.info") Helga Strobl
                        |  , photography
                        br
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                        |  , film
                    p Another attraction was the clown Auguste, the parrot able to fly but not flying away...
                .column
                    h(ref="/pdf/po14.pdf")
                        img#imagehalf(src="/images-news/2014/programme-po-2014.jpg" alt="Enter the frame - program Open Doors")
    section
        h3 Doug, oil on canvas
        .row
            .column
                img#image90(src="/images-news/2014/doug_blau.png", alt="Doug Petrovic, blue oil painting, 2010") 
            .column
                img#image90(src="/images-news/2014/doug_gelb.png", alt="Doug Petrovic, yellow oil painting, 2010")
        .row    
            .column
                img#image90(src="/images-news/2014/quartarone_blue-woman.jpg", alt="Mary Quartarone, Blue Woman") 
            .column
                h3 Mary Quartarone "Blue Woman"
                P Mary Quartarone's art springs from her spirituality and belief in God. Her images are drawn from deep visions that reflect the soul and the heart of her inner world. Mary is living with metastatic breast cancer and she often paints her future as she journeys with this disease. Her inspirations come from the colours and shapes of nature and the instinctive mind. In addition, she often does soul portraiture. Mary lives in Mississauga, Ontario Canada with her husband of 34 years. She has two grown sons and in addition to her art, is pursuing the development of a new model of child care to support families in the 21st century.
        .row    
            .column
                h3 Suzan Rasmussen
                p the artist is present during the show
                img#image90(src="/images-news/2014/rasmussen.jpg", alt="Suzan Rasmussen") 
            .column
                h3 Helga Strobl, Seen from the Sky
                p present during the show
                img#image90(src="/images-news/2014/vue-du-ciel.png", alt="Helga Strobl, Seen from the sky") 
        .row
            .column
                h3 Fatma Zohra Zamoum : Azib Zamoum, une histoire de terres
                p Film
                p Short films inside - if the wheater permits it, long films in the garden
                p Fatma Zohra Zamoum may attend part of the show
            .column
                img#image90(src="/images-news/2014/fatma-zohra-zamoum_azib-zamoum .jpg", alt="fatma-Zohra Zamoum, Azib Zamoum, film poster") 