extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the event Arts 14 in June 2014, participants : Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl, Fatma-Zohra Zamoum and parrot Auguste')
block main
    div
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1 Portes Ouvertes - Open Doors - Paris:
            .row
                .column
                    h3  Exhibition : 
                    p 14 et 15 June 2014
                    p Saturday and Sunday: 11h - 19h
                    p 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , painting, sculpture 
                        br
                        a(href="/galerie/quartarone")  Mary Quartarone
                        | , painting
                        br
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , painting, engraving
                        br
                        a(href="https://www.hstrobl.info") Helga Strobl
                        |  , photography
                        br
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                        |  , film
                    p 
                        | Another attraction was the clown Auguste,
                        br
                        | the parrot able to fly
                        br
                        | but staying inside...
                .column
                    h(ref="/pdf/po14.pdf")
                        img#imagehalf(src="/images-news/2014/programme-po-2014.jpg", alt="Enter the frame - program Open Doors")
            block script
                script(src='../images-news/2014/dias-listes.js')
