extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, upcoming events during Photo Month 2014, show Helga Strobl')
block main
    section
        header
            p#message=title
        p  Shows in November 2014
        section
            header
                h1 Mois de la Photo - European Photo Month in Paris
            .row
                .column
                    p 
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                        | , photography
                    p Mairie du 14e, from 13 to 24 November
                    p au Daudet, rue Alphonse Daudet, from 18 November to 6 December
                .column
                    a(href="/images-news/2014/mois-photo2014.jpg") Open the program of the Photo Month, Paris
                        img#imagefull(src="/images-news/2014/affiche-helga.jpg" alt="Exhibiton poster,  Helga Strobl")
        img#image90(src="/images-news/2014/vue-du-ciel.png" alt="Seen from the Sky")
        | View from the Sky, Helga Strobl
