extends ../../templates/e-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos of the show during Open Doors 2014, participants: Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl ')
block main
    div
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Open Doors - Paris
            p 6 and 7 June 2015
            p Saturday and Sunday: 11h - 19h
            h3  Exhibiton: 
            p 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , painting, sculptures 
                br
                a(href="/galerie/quartarone")  Mary Quartarone
                | , painting
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , painting, engraving
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , photography   
            block script
                script(src='../images-news/2015/dias-listes.js')
