extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, show  "Rencontres", November 2016 :Germain Kouassi, Doug Petrovic, Suzan Rasmussen, Suzan Reggaro, Helga Strobl')
block main
    div
        section
            header
                p#message=title
        section
        #textgauche
            header
                h1 Rencontres d'artistes - Artist's encounter
            .row
                .column
                    p In our association, artists of all kinds and different countries have crossed paths, have made friends, inspired each other, have sometimes offered a work to the association, exchanged works with other artists or left a work temporarily in testimony of their visit.

                    p This exhibition shows the fruits of these encounters.

                    Artists Without Borders presents works by painters, designers and photographers:
                    h3 
                    | Alexandre Froment, 
                    a(href="galerie/kouassi")  Germain Kouassi
                    |, Françoise Orbey, 
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | , 
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , 
                    a(href="galerie/reggaro") Shannon Reggaro
                    | , 
                    a(href="https://www.hstrobl.info") Helga Strobl

                    p 3 - 19 November, at the bar restaurant Le Daudet, another meeting point.
                .column
                    img#imagefull(src="/images-news/2016/2016-affiche-expo.jpg" alt="exhibition poster Rencontres d'artistes")

    section
        header
            h3 Change of program :
        p Photo Month and photo exhibition : April 2017
        p Exhibition Douglas Petrovic : spring 2017, Paris