extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, European Photo Month 2017, show Salon de la Mairie, show Helga Strobl: Inspirations')
block main
    div
        section
            header
                h1=title
        section
            header
                h1 Photo Month
            h2 Salon des Photographes
            .row
                .column
                    p Helga Strobl participates in the Photographers' Salon of the 14th arrondissement
                    p Annexe de la Mairie du 14e, 12 rue Pierre Castagnou,
                    p from 8 to 19 March: 11-19h, Wednesday 15 March 11-21h
                .column
                    img#imagefull(src="/images-news/2017/mois-photo-2017.png" alt="poster for the photo month 2017")
                    a(href="/pdf/mdlp17.pdf" alt="le programme en pdf")  The program as pdf
        section
            h2 Helga Strobl: "Inspirations"
            p  24 April to 26 May, exhibiton at the bar restaurant Le Daudet

