extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Show Hommage of Paolo Boni, 2018')
block main
    div
        section
            header
                h1=title
    div
        p  Recommendation
        section
            header
                h1 Tribute to Paolo Boni
            p Beaubourg 24, 24 rue Beaubourg, Paris 3e
            p 10 - 26 January 2018, from Tuesday to Saturday, 11 - 19:OO
            p
                img#imagefull(src='/images-news/2018/boni.jpg', alt='invitation exhibition Paolo Boni')
                img#imagefull(src='/images-news/2018/boni-text.jpg', alt='invitation exhibition Paolo Boni, text')

