extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, map of the ARTS 14 and Open Doors 2018')

block main
    section
        header
            p#message=title
    section
        header
            h1 14 ARTS 2018 - map of events

    img#imagefull(src="/images-news/2018/po2018recto.png" alt="Les 14 Arts 2018, recto")
    | Les 14 Arts 2018, map recto
    img#imagefull(src="/images-news/2018/po2018verso.png" alt="Les 14 Arts 2018, verso")
    | Les 14 Arts 2018, verso
