extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, new projects for 2019')
block main
    div
        section
            header
                p#message=title
        section
        header
            h1 Announcements of exhibitions and changes
        section
        h3 New site - new offer - trainees
        p From April 2019, we are preparing a complete change of the website. 
        p 
            | This site has changed many times since the first version in 2000. This time, we change the technology,
            | to make the site dynamic and responsive, to be comfortable to consult on a mobile and on or a big screen.
            br
            | Our website includes an archive of events for almost 20 years and sites created for our members during the same period.
            | It will take some time to translate everything into the current Internet language first and then into several languages.
            | The last step will add a space for members to discuss art and share their experiences.
        p To facilitate this project, the association Artists Without Borders will now occupy trainees in development, web integration or graphics.
    section
        header
            h1 14 ARTS 2019 - Open Doors of the artist's workshops 
        p aturday 29 and Sunday 30 June 2019
        p
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
            | , painting, drawing, sculpture
            br
            a(href="/galerie/rasmussen")  Suzan Rasmussen
            | , painting, drawing
            br
            a(href="https://hstrobl.info" target="_blank") Helga Strobl
            | , photography
    section
        header
            h1 November Photo Month
        p Photo exhibition as part of the Month of the Photo
        p Collective exhibition in Autumn