extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Saloum Sylla joins the team as a Javascript developper')
block main
    div
        section
            header
                h1=title
        section
        header
            h1 First steps on the new website project
        section
        .row
            .column
                p In mid-March, two developers started to create the new site:
                p Saloum Sylla joined the team and works with Helga Petrovic on the project structure.
                p
                | One of the challenges of a new project is always to take stock of what already exists,
                | new things to add, what (new) frame you have and how to get everything in comfortably.
                p As we see, this is not always obvious - Saloum's bike seemed much smaller in the street ...
            .column
                img#image90(src="/images-news/2019/saloum.jpg", alt="Saloum arrives for his first day at work")
                | Saloum arrives for his first day at work
