extends ../../templates/e-layout-archive.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        header
            h1 14 ARTS 2019 - Portes Ouvertes des Ateliers 
        h2 ANNULATION des Portes Ouvertes de Artistes sans Frontières
        p Le sol de notre atelier s'affaisse subitement - nous ne pouvons pas accueillir de visiteurs avant d'en connaître la cause.
        p Nous sommes désolés de ce désagrément - plus de détails bientôt
        .row
            .column3
                p Le samedi 29 et le dimanche 30 juin 2019
                p
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | , peinture, dessin, sculpture
                    br
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , peinture, dessin
                    br
                    a(href="https://hstrobl.info" target="_blank") Helga Strobl
                    | , photographie 
            .column3
                img#image90(src="/images-news/2019/po19recto.jpg", alt="14 ARTS - Art Urbain")
                p 14 ARTS - Art Urbain
            .column3
                img#image90(src="/images-news/2019/po19verso.jpg", alt="14 ARTS - le plan des ateliers ouverts")
                p 14 ARTS - le plan des ateliers ouverts        
    section
        header
            h1 Annonces - Mois de la Photo en novembre
        p Exposition photo dans le cadre du Mois de la Photo
        p Exposition collective en Automne