extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Open Doors - cancelled because of a flooding')
block main
    div
        section
            header
                h1=title
        section
        header
            h1 14 ARTS 2019 - Open Doors of the artist's workshops 
        h2 CANCELLATION of the Open Doors at Artistes sans Frontières
        p The floor of our first atelier is sinking suddenly - we can not welcome visitors until we know the cause.
        p We are sorry for this inconvenience - more details soon
        .row
            .column3
                p Saturday 29 and Sunday 30 June 2019
                p
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | , painting, drawing, sculpture
                    br
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , painting, drawing
                    br
                    a(href="https://hstrobl.info" target="_blank") Helga Strobl
                    | , photography 
            .column3
                img#image90(src="/images-news/2019/po19recto.jpg", alt="14 ARTS - Art Urbain")
                p 14 ARTS -  Urban Art
            .column3
                img#image90(src="/images-news/2019/po19verso.jpg", alt="14 ARTS - map of open workshops")
                p 14 ARTS - map of open workshops        
    section
        header
            h1 Announcements - November Photo Month
        p Photo exhibition as part of the Month of the Photo
        p Collective exhibition in Autumn