extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, we gained a new staff member but lost the office floor')
block main
    div
        section
            header
                p#message=title
        section
        header
            h1 Progress
    .row
        .column
            h3 New site - new  intern
            p 
            | The new site is taking shape, the French version is already partially online 
            | and will replace most of the old site in the night of 20 to 21 October.
            br
            | The archive is complete for the years 2011 to present and shows the pictures of the exhibitions since 2004.
            | The rest of the pages will follow gradually.
            p
            | In October and November, the individual sites of the artists will be replaced one after the other. In the gallery, you will sometimes see a link to the old site, which must be clicked.
            br
            |Note for members with a base site: your old domain names will remain active.
            p Saloum Sylla has completed his internship and joins his former company but continues to contribute to the projects of Artists Without Borders
            p Zoubeir Marouf has joined the team and is working on an individual website project for members.
        .column
            img#imagefull(src="/images-news/2019/remise-diplome.jpg", alt="celebration after the ceremony to get our diplomas")
            |Training officially completed for Saloum and Helga (the two on the right) - we celebrate after the ceremony to get our diplomas
    section
        header
            h1 No Progrss for the association's atelier
        p 
        | We are still waiting for the insurance agreement to change the floor.
        | In preparation for the construction, the works of art and most of the furniture left during the summer,
        | but proceeding the claim takes its time.
        br
        | And still more time ... 
        br
        | New expertises will take place on November 6th and 7th.
        p 
        | In the meantime, we can not welcome the public. A gaping hole immediately after the threshold,
        | this is not the best way to captivate visitors.
        | On the other hand, we can no longer access the works to be exhibited, the frames and the necessary equipment,
        | because the storage area is filled with furniture and office equipment.
        | To our regret, we had to cancel the exhibitions programmed for this fall.
        p We hope to finish the renovation project in 2019 to welcome you back in the beginning of 2020.
        .row
            .column3
                img#imagefull(src="/images-news/2019/depart1.jpg", alt="The art work has left")
                p The works of art have left in July ...
            .column3
                img#imagefull(src="/images-news/2019/depart2.jpg", alt="Those creations as well")
                p The gouaches and photos moved out as well ...
            .column3
                img#imagefull(src="/images-news/2019/depart3.jpg", alt="Un autre depart")
                p et les huiles également
            
    section
        header
            h1 Month of the Photo in November - our participation is canceled
        p Photo exhibition as part of the Month of the Photo - cancelled
        p Fall collective exhibition - canceled