extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, project for a new website, pre')
block main
    p#message=title
    section
        header
            h1 Solid ground under our feet
        section
        .row
            .column
                p After the water damage in summer, the situation finally cleared up and work could begin at the end of November.
                p
                | The workers reached firm ground 60 cm below the level of the courtyard and began to rebuild the various layers
                | of the floor.
                p
                | One evening I found a worker's work clothes and bag at a safe height above the
                | freshly poured concrete.
                p After the days of drying came the parquet layers, wall fitters, the painters ... and the strikes.
                p
                | In all of this, work on the website advanced slower than planned.
                | The migration and translation of the main website into English and German are almost complete, but we are still working on
                | the artists' independent websites.
                p The date for the opening of the Paris office for the reception of visitors has not yet been fixed, it is expected to be January 15, 2020.

            .column
                img#image90(src="/images-news/2019/concrete-funny.jpg", alt="Work clothes and bag high over wet ground")
                br
                | Work clothes and bag high over wet ground