extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, développements et annonces 2020, Changed reception due to COVID epidemic')

block main
    section
        p#message=title
        #textgauche
            header
                h1=title
            h2 COVID-19 epidemic
        p In accordance with current public measures,
        h3 our premises are closed to the public.
        p We provide a telephone reception between 2 and 5 p.m., Monday to Friday.
        p Mobile number: +33 (0)6 32 95 40 90
        p To make a telephone appointment outside these hours, contact us by email or sms.
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Reception') E-mail: bureau.asso@artistes-sf.org
