extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, developments and anouncements 2020, changed reception during the Covid19 pandemic')

block main
    section
        p#message=title
        #textgauche
            header 
                h1  Limited and secure reception during the covid19 pandemic
            h2 Virtual shows 
            p 
                | 2020, with the social distancing imposed in the real world,
                | this is the year of a massive migration to the virtual world of the Internet.
            p
                | 2020, it's been 20 years since our team created the first websites  for artists.
                br
                | Friend of the arts, take a walk in the virtual gallery of the AsF website to discover the art works of our members!
                br
            p 
                | Artist, contact us 
                ul
                    li for a virtual exhibition, 
                    li for a real exhibition as soon as possible,
                    li to create a web site to present your works.
            h2 Reception in our premises
            p
                | The association's office is small and our team works mainly from their home office.
                | For visits to our premises, new reception rules apply:
                ul
                    li visits only by appointment
                    li one or two visitors maximum
                    li compulsory wearing of a face mask
                    li take an appointment: 06 32 95 40 90, Tuesday to Saturday, between 1 and 5 p.m.
                    li appointments possible from Tuesday to Saturday from 2 p.m on.

    section
        #textgauche
            .row
                .column
                    h2 First exhibition in 2020: Doug Petrovic
                    p Oil paintings and gouaches from Doug Petrovic are visible by appointment (see reception rules above).
                    p The administrative closure on March 16 canceled the vernissage and the housewarming party after the renovation of our premises.
                    h3 A private visit by appointment
                    p offers you the opportunity to discover an artist in an intimate setting, for a time dedicated solely to your discovery.
                .column
                    img.imagehalfc(src="/images-news/2020/atelier1.jpg", title="Doug Petrovic, oil on canvas" alt = "Doug Petrovic, oil on canvas")
            h2 New website - new team members
            p The new site replaces the old version, the content migration is well advanced and will be finished in May.
            p
                | Babacar Seck joined the team on April 1 under particular circumstances: the day of his first visit, lockdown was declared.
                | His internship started remotely, working in a code language, he did not know before. 
                | He has already started to migrate the contents of the archive for the years 2005 and 06. He will finish the missing years in May.
            p 
                | In May or June, another trainee will join us - his training was interrupted by confinement
                | and the end date of his training is still subject to change.
