extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, new team members, new web project, changed reception during the Covid19 pandemic')

block main
    section
        p#message=title
        #textgauche
            header
                h1 New team members 
            .row
                .column3   
                    img.imagefullc(src="/images-news/2020/reunion.jpg", title="4 team members" alt=" 4 team members (counting Auguste on his observation post")
                .column3
                    p During this extraordinary period, our team has grown by three members.
                    p   
                        | Babacar started in the first weeks of strict lock down, and took advantage of the long hours of solitude 
                        | to integrate 4 years of the association's activities into the News chapter.
                    p
                        | Billel and Frederic started their internship in June and our team now works alternately in the premises of the association, 
                        | those absent joining in by audio or video call. The AsF site and other projects are advancing rapidly.
                .column3
                    img.imagefullc(src="/images-news/2020/team-asf.jpg", title="only masked in close quarters" alt="It's hard to see with a face covering ;-)")

            h2 The intern's domain
            p 
                | Developing websites is a creative activity, so we created a space for interns,
                | to test and present their art. Discover their current projects and their ideas on 
                a(href="https://stage.asf-web.fr" rel='noopener' target="_blank") the intern's space
                
          
    section
        #textgauche        
            h2 Reception in our premises
            p For visits to our premises during the next months, new reception rules apply:
                ul
                    li visits only by appointment
                    li only one or two visitors inside 
                    li compulsory wearing of a face mask
                    li take an appointment: 06 32 95 40 90, Tuesday to Saturday, between 1 and 5 p.m.
                    li appointments possible from Tuesday to Saturday from 2 p.m on.
            h2 Virtual shows 
            p 
                | 2020, with the social distancing imposed in the real world,
                | this is the year of a massive migration to the virtual world of the Internet.
            p
                | 2020, it's been 20 years since our team created the first websites  for artists.
                br
                | Friend of the arts, take a walk in the virtual gallery of the AsF website to discover the art works of our members!
                br
            p 
                | Artist, contact us 
                ul
                    li for a virtual exhibition, 
                    li for a real exhibition as soon as possible,
                    li to create a web site to present your works.
    