extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, opening hours 2021, projects 2021')

block main
    section
        p#message=title
        #textgauche
            header
                h1 A Better Year 2021!
            .row
                .column65
                   h3 Our Best Wishes to the members and friends of the association!
                   p We all hope for a rebirth of cultural and social life - this tree erected over night in my path made me laugh, because it perfectly represents the cuts in life and the separation of friends and family.

                .column3 
                    img.imagefullc(src="/images-news/2021/separations.jpg", title="I feel cut off from everyone " alt="I feel cut off from everyone  - Christmas tree and branches cut off") 
                    br
                    | I feel cut off from everyone 
                    br
                    | Photo: Helga Strobl
              
            h2 Projects and developments
            h3 Opening hours
            p 
                | New schedule in 2021: Monday to Friday from 1 p.m. to 5 p.m.
                br
                | Information by telephone at the number indicated at the bottom of the page. To discuss a project, we will offer you a video call. Due to the current gauge, visits to our premises will be limited to one person at a time, only by appointment.
            h3 Upcoming projects - Internships
            p For a large literary project, we call upon interns or volunteers, who wish to work as a developer on React or on a database, but also one or two interns interested in literature or culture. Start of the project in February, internships of at least six weeks for development and at least four weeks for the cultural aspect available throughout 2021.
