extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, opening hours, new team 2021')

block main
    section
        p#message=title
        #textgauche
            header
                h1 New members join the AsF team
            .row1-2
                .column35
                    p We are happy to welcome Lilia, Raky, Sarah and Zina to the team of Artists Without Borders, four women passionate about digital and overflowing with creativity. For a period of four months, these web developers will support Helga  in the realization of digital projects.
                    p All four being great challengers, they wanted to add a string to their bow by training in development (in record time)!
                    p They know how to create your websites and mobile applications.
                    p So don't hesitate to approach the association, they will be happy to code and bring to life the web projects you have imagined!
                .column
                    img.image80(src="/images-news/2021/drolededames.jpg", title="Funny ladies  - our web angels" alt="Funny ladies  - our web angels") 

            h3 Opening hours
            p 
                | New schedule in 2021: Monday to Friday from 1 p.m. to 5 p.m.
                br
                | Information by telephone at the number indicated at the bottom of the page. To discuss a project, we will offer you a video call. Due to the current gauge, visits to our premises will be limited to one person at a time, only by appointment.



