
.menucontainer
    .start
        a.asf(aria-label="return to home page" href='/site/eindex'  title="logo ASF" tabindex="0" role="button")
        a.mini(aria-label="return to home page" href='/site/eindex') Home 
    a.min600(aria-label="return to home page" href='/site/eindex') Home 

    .arrows
        a.arrowup(aria-label="flip through the archive from the past direction present" href='/archive/'+future role="button"  tabindex="0" title="flèche haut")
        a.arrowtextup(aria-label="flip through the archive from the past direction present" href='/archive/'+future ) Future
        a.arrowdown(aria-label="flip through the archive from the past direction present " href='/archive/'+past role="button"  tabindex="0" title="flèche bas")         
        a.arrowtextdown(aria-label="flip through the archive from the past direction present " href='/archive/'+past) Past

    ul.menu1
        li
            a(href='eactuel') Current
        li
            a(href='eactuel') 2020 - 
                span.mini
                    |20
                span.see
                    |15
            ul.menu2 
                li 2020
                //- li
                //-     a(href='20-4')  Eté 
                li
                    a(href="20-3") New developer
                li
                    a(href='20-2')  Covid                
                li 
                    a(href='20-1')  Anouncements
                li 2019
                li
                    a(href='19-6')  Construction site 
                li
                    a(href='19-5')  Photo Month 
                li
                    a(href='19-4')  Summer 
                li
                    a(href="19-3")  Open Doors
                li
                    a(href='19-2')  New website                
                li 
                    a(href='19-1')  Anouncements
                li 2018
                li
                    a(href='e18-2')  Open Doors
                li 
                    a(href='e18-1')  Hommage
                li 2017
                li
                    a(href='e17-2')  Open Doors
                li
                    a(href='e17-1') Photo Month
                li 2016
                li 
                    a(href='e16-3')  Show Rencontres 
                li
                    a(href='e16-2')  Open Doors
                li
                    a(href='e16-1')  Artiste in residence 
                li 2015
                
                li
                    a(href='e15-2')  Open Doors
                li
                    a(href='e15-1')  Invitation O. Doors
        li
            a(href='e14-2')
                span.mini 
                    |20
                span.see
                    |14 - 
                span.mini
                    |20
                span.see
                    |09
            ul.menu2 
                li 2014
                li
                    a(href='e14-3')  Photo Month
                li
                    a(href='e14-2')  Open Doors
                li
                    a(href='e14-1')  Announcements
                li 2013
                li
                    a(href='e13-1')  Announcements
                li 
                    a(href='e13-2')  Open Doors 
                li 2012
                li
                    a(href='e12-4')  Photo Month
                li
                    a(href='e12-3')  Open Doors
                li
                    a(href='e12-2')  Announcements
                li
                    a(href='e12-1')  Changements
                li 2011
                li
                    a(href='e11-4')  Death Doug
                li
                    a(href='e11-3')  Open Doors
                li
                    a(href='e11-2')  Announcements, Mohsen
                li
                    a(href='e11-1')  Show Doug Petrovic
                li 2010
                li
                    a(href='10-8')  Show Doug Petrovic
                li
                    a(href='e10-7')  Salon Photo  
                li
                    a(href='e10-6')  Announcements  
                li
                    a(href='e10-5')  Announcements 
                li
                    a(href='e10-4')  Open Days 
                li
                    a(href='e10-3')  Doug Petrovic in China 
                li
                    a(href='e10-2')  Announcements 
                li
                    a(href='e10-1')  Announcements
                li 2009
                li
                    a(href='09-10') Show Freva
                li
                    a(href='e09-9')  J E A 
                li
                    a(href='e09-8')  Show Erguy 
                li
                    a(href='e09-7')  Show Loizeau
                li
                    a(href='e09-6')  Show 3F
                li
                    a(href='e09-5')  Announcements
                li
                    a(href='e09-4')  Open Days 
                li
                    a(href='e09-3')  Open Days 
                li
                    a(href='e09-2')  Show Carbone
                li
                    a(href='e09-1')  Announcements 
        li
            a(href='e08-4')
                span.mini 
                    |20
                span.see
                    |08 - 
                span.mini
                    |20
                span.see
                    |00            
            ul.menu2 
                li 2008
                li
                    a(href='e08-4')  Open Doors
                li
                    a(href='e08-3')  2008-3 
                li
                    a(href='e08-2')  2008-2 
                li
                    a(href='e08-1')  2008-1  
                li 2007
                li
                    a(href='e07-8')  Goodbye drink 
                li
                    a(href='e07-7')  Show Loft  
                li
                    a(href='e07-6')  Anouncements  
                li
                    a(href='e07-5')  Party  
                li
                    a(href='e07-4')  Website, blog, shows  
                li
                    a(href='e07-3')  Open Doors 
                li
                    a(href='e07-2')  Show Freva
                li
                    a(href='e07-1')  Photo service
                li 2006
                li
                    a(href='e06-14')  Show Pluvinage   
                li   
                    a(href='e06-13')  Art du Nu fair
                li   
                    a(href='e06-12')  Art du Nu stand
                li
                    a(href='e06-11')  Public Autumn show   
                li   
                    a(href='06-10')  Finissage Loft 
                li   
                    a(href='06-9')  Expo Loft Gallery
                li   
                    a(href='e06-8')  Anouncements
                li
                    a(href='e06-7')  Tiki Joe 
                li  
                    a(href='e06-6')  Party
                li
                    a(href='e06-5')  Anouncements 
                li
                    a(href='e06-4')  Open Doors 
                li
                    a(href='e06-3')  Show Erguy 
                li
                    a(href='e06-2')  Anouncements 
                li
                    a(href='e06-1')  New website 
                li 2005
                li
                    a(href='d05-11')  Show in Sète
                li
                    a(href='e05-10')  Open Doors
                li
                    a(href='e05-9')  Anouncements
                li
                    a(href='e05-8')  Public Autumn show
                li
                    a(href='e05-7')  Pont Audemer
                li
                    a(href='e05-6')  Loft member photos 
                li
                    a(href='e05-5')  Show Loft photos
                li
                    a(href='e05-4')  Open Doors
                li
                    a(href='e05-3')  Anouncements
                li
                    a(href='e05-2')  Invitation Loft
                li
                    a(href='e05-1')  Artist of the year
                li 2004
                li
                    a(href='e04-3')  Open Doors
                li
                    a(href='e04-2')  Show Doug
                li
                    a(href='e04-1')  Open Doors
                li 
                    a(href='e01')  2001
                li 
                    a(href='e00')  2000

    a.flagef(aria-label="French version of this page" title="Version française" href=fevent role="button"  tabindex="0") 
    a.flagd(aria-label="German version of this page" title="Deutsche Version"  href=devent role="button"  tabindex="0") 
