extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='AsF ist ein Kunst Verein , der seinen Mtgliedern hilft, sich bekannt zu machen und untereinander auszutauschen')
block main
    section
        header
            h1=title
        p 
        | Artistes sans Frontières ist ein Verein, der Künstler von überall her dabei unterstützt sich bekannt zu machen
        br
        | AsF finanziert sich ausschließlich aus Mitgliedsbeiträgen, Spenden und bezahlten Leistungen.
        p
        | Der Verein fördert den Austausch zwischen Künstlern aus verschiedenen Ländern und alle Formen des künstlerischen Ausdrucks.
        | Er organisiert Ausstellungen und bietet ein soziales Netzwerk für den Austausch zwischen Mitgliedern (wird gerade erstellt und Anfang 2020 online gestellt).
        | Er knüpft Kontakte zu französischen Künstlern im Ausland und heißt nationale und internationale Künstler in Frankreich willkommen,
        | als Maler, Schriftsteller, Bildhauer, Musiker, Fotograf, Filmemacher, Multimedia-Künstler, Schöpfer der elektronischen Künste, Handwerker oder als einfacher Enthusiast oder Kunstliebhaber.

        h2 Die Statuten
        p
        | Die Statuten stehen auf Anfrage per E-Mail oder über das vollständig ausgefüllte Kontaktformular im PDF-Format zur Verfügung.
        br
        | Geben Sie bei E-Mail-Anfragen Ihren Namen, Ihre Adresse, Ihre Telefonnummer und eine kurze Präsentation an.
        br
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Anfrage Statuten') E-mail: bureau.asso@artistes-sf.org

    aside
    p 
