extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, 7 impasse du Rouet, 75014 Paris. Kontakt per Telefon : +33 (0)1 40 44 77 41, Email: bureau.asso@artistes-sf.org')
block main
    section
    h1=title
    div
        p Nach einem schweren Wasserschaden wird unser Atelier derzeit repariert und ist für Besucher nicht zugänglich.
        p Telefonempfang von Montag bis Samstag zwischen 11 und 19 Uhr: +33 (0)1 40 44 77 41.
        p
            a(href='mailto:bureau.asso@artistes-sf.org?subject= Kontakt ') E-mail: bureau.asso@artistes-sf.org