extends ../../templates/d-layout-site.pug
block main
    div
        section
            header
                h1=title
            h2 Fotos Ihrer Werke und Ausstellungen
            p
            | Jedes Kunstwerk verdient die bestmögliche Präsentation, das ist das Credo unseres Vereins.
            br
            | Jedes auf unseren Websites präsentierte Foto wird von einem Grafiker bearbeitet.
            | Wenn möglich machen wir die Farbabstimmung in Gegenwart des Künstlers oder eines Werkes, um der Realität so nah wie möglich zu sein.
            br
            | Die Fotos unserer Artikel auf den Nachrichtenseiten werden kurz bearbeitet, wir nehmen uns jedoch viel Zeit für Fotos der Arbeiten auf persönlichen Websites.
            | Dieser Service ist in jedem Paket enthalten.
            h3 Aufnahme und Fotobearbeitung
            ul
                li Fotos für eine Website
                li Fotos für Internet und Druck
                li Bilder der Dokumentation Ihrer Ausstellung
            p Sonderpreise für Mitglieder, Angebote auf Anfrage.
            h2 IT-Dienstleistungen
            p Fehlerbehebung, Schulung oder Unterstützung beim Erstellen eines Projekts
            include ../../templates/footer.pug
        aside
        p -----





