extends ../../templates/d-layout-site.pug
block main
    div
        section
            header
                h1=title
            h3 Service für Künstler
            p Teilnahme an unseren Gruppenausstellungen: geteilte Kosten
            p Einzelausstellung: Standortwahl nach Ihrem Budget
            h3 Service Plakate und Einladungen
            ul
                li Verarbeitung eines Fotos Ihrer Wahl zum Drucken auf der Grundlage eines guten Digitalfotos.
                | Falls Sie keine guten Fotos von Ihren Arbeiten haben, nehmen wir ein Foto von einer Arbeit in unserem Atelier auf.
                | Wenn Sie ein Foto mitbringen, erklären Sie, dass Sie die Rechte an diesem Foto für die Verwendung auf Postern und Einladungskarten und die Genehmigung des Fotografen haben.
                | Wenn Sie ein Werk mitbringen, von dem wir das Foto machen, erteilen Sie uns die Genehmigung zur Veröffentlichung.
                li Layout von Plakaten und Einladungen - Sie wählen die Poster- und Kartenformate
                li Druckvorbereitung und Übermittlung der Dateien
                li Druck: Wir verwenden Druckereien zu einem guten Preis (abhängig von der gewünschten Menge), aber Sie können eine andere Druckerei wählen. In diesem Fall stellen wir Ihnen die digitalen Dateien zur Verfügung.
            p Die Verbreitung der Plakate und die Verteilung von Einladungskarten liegt in Ihrer Verantwortung.
            h3 Kataloge und Broschüren
            ul
                li Persönliche Kataloge
                li Kataloge für Gruppenausstellungen
                li Flugblätter
                li Professioneller Fotoservice
                li Layout
                li Druck: Organisation des Drucks
            h3 Transport von Kunstwerken und anderen Dienstleistungen für die Ausstellung
            ul
                Transport von Werken in Frankreich und in der Europäischen Union, Schengen-Raum
                li Empfang der eingereichten Arbeiten und Rückgabe nach der Ausstellung
                li Rahmen unter Glas oder Aufspannen von Leinwänden vor Ort
                li Aufhängen, Platzieren von Skulpturen, Belichtungskorrektur usw.

                    include ../../templates/footer.pug
    aside
