extends ../../templates/d-layout-site.pug
block main
    div
        h2 #{title} 
        section
            p 
            | Auf unserer neuen Website finden Sie Informationen zu
            | unserem Kunstverein (einige Seiten noch in Vorbereitung), 端ber unsere Serviceleistungen,
            | die Mitgliedergalerie und die Veranstaltungen der letzten Jahre.
            p Ereignisse seit der Gr端ndung werden schrittweise hinzugef端gt.
            h3
            | J端ngster Newsbeitrag (Jahr - Beitragsnummer)
            a(href='/archive/dactuel') :  20#{target.actu}
            footer
                hr
                include ../../templates/footer.pug