extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Startseite des Kapitel Service unseres Vereins')

block main
    div
        h2 #{title} 
        section
            p 
            | Auf unserer neuen Website finden Sie Informationen zu
            | unserem Kunstverein (einige Seiten noch in Vorbereitung), über unsere Serviceleistungen,
            | die Mitgliedergalerie und die Veranstaltungen der letzten Jahre.
            p Ereignisse seit der Gründung werden schrittweise hinzugefügt.
            h3
            | Jüngster Newsbeitrag (Jahr - Beitragsnummer)
            a(href='/archive/dactuel') :  20#{target.actu}
            footer
                hr
                include ../../templates/footer.pug