extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Sind Sie KünstlerIn oder KunstliebhaberIn? Treten Sie dem Verein Künstler ohne Grenzen bei !')

block main
    section
    h1=title
    div
        p 
    block aside