extends ../../templates/d-layout-site.pug
block main
    section
        div
            header
                h1=title
        div
            p   
            |   Pariser Atelier und Firmensitz
            br
            |   7, impasse du Rouet
            br
            |   F-75014 Paris
            p   Tel : +33 (0)1.40.44.77.41
            a(href='mailto:bureau.asso@artistes-sf.org?subject=seite Impressum, Kontakt') E-mail: bureau.asso@artistes-sf.org
            p 
            |   Numéro SIRET 450 173 844 000 25 (statistische Nummer)
            br
            |   TVA: CEE no FR50450173844 (MVST Nummer)
            br
            |   Code APE 923A
            p   
            |   President: Herr Ferdinand Winkler
            br
            |  Redaktion: Frau Helga Petrovic
            p   Hosting Provider:
            |   Website hosted by OVH.com
            br
            |   2 rue Kellermann - 59100 Roubaix - France
            | (Datenspeicherung in Europe)

        div
            h3 Urheberrechte
            p   Redaktioneller Teil, Fotos and Text : Artistes sans Frontières, 
            |   Helga Petrovic, individuelle Seiten: jeweilige Künstler für Fotos und Texte, die sie zur Verfügung stellen.
            h3 Garantien
            p
            | Der Verein Artistes sans Frontières ist bestrebt, nach bestem Vermögen für die Richtigkeit und Aktualität der auf dieser Website veröffentlichten Informationen zu sorgen. Wir behalten uns das Recht vor, den Inhalt der Website jederzeit zu korrigieren. Für die Richtigkeit, Genauigkeit und Vollständigkeit der auf dieser Website bereitgestellten Informationen können wir jedoch keine Gewähr übernehmen.
            br
            |Wir lehnen jede Verantwortung für Unterbrechungen der Website, das Auftreten von Fehlern, Ungenauigkeiten oder Auslassungen in Bezug auf auf der Website verfügbare Informationen sowie für Schäden ab, die aus einem betrügerischen Eingriff Dritter resultieren und zu einer Änderung der auf der Website bereitgestellten Informationen führen.
            br
            | Diese Website enthält Links zu anderen Sites. Der Verein Artistes sans Frontières kann nicht für Zugangs- oder Inhaltsprobleme auf diesen Seiten verantwortlich gemacht werden.
            h3 Rechte an geistigem Eigentum
            p
            | Alle auf der Website enthaltenen Elemente und die Website selbst unterliegen dem Urheberrecht, dem Markenrecht und / oder anderen Gesetzen zum Schutz geistigen Eigentums. Mit Elementen meinen wir in nicht erschöpfender Weise: Fotografien, Bilder, Zeichnungen, Illustrationen, Animationen, Texte, Videos, Logos, Marken, Modelle, Software ... Diese Elemente gehören dem Verein Artistes sans Frontières oder werden mit Zustimmung ihrer Besitzer verwendet.
            br
            | Jegliche Vervielfältigung, Wiedergabe, Verwendung, Anpassung, Änderung, Einbeziehung, Übersetzung, Vermarktung, teilweise oder vollständig durch ein beliebiges Verfahren und auf einem beliebigen Medium (Papier, digital usw.) ist ohne vorherige schriftliche Genehmigung des Vereins Artistes sans Frontières untersagt, mit Ausnahme der in Artikel L 122.5 des Code de Propriété Intellectuelle français vorgesehenen Ausnahmen. Zuwiderhandeln unterliegt dem für Verletzung von Urheberrechten vorgesehenen Strafen.
            p Bei Fragen, Wünschen oder Bedarf an zusätzlichen Informationen wenden Sie sich bitte an:
                a(href='mailto:bureau.asso@artistes-sf.org?subject=Seite Impressum, copyright') E-mail: bureau.asso@artistes-sf.org

    block aside