extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, unsere Geschichte (in Vorbereitung)')
block main
    section
    h1=title
    div
        p 
    block aside