extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières entwickelt individuelle Webseiten, die respnsiv und dynamisch sind.  Vom der kleinen Kulturseite zum grossen kommerziellen Projekt, wir finden kreative und ästhetische Lösungen. ')

block main
    div
        section
            header
                h1=title
            h3 Service für Künstler, Galerien, Kulturelle Institutionen
            p
            | Wir erstellen für jedes unserer Mitglieder eine individuelle Website, die an ihre Persönlichkeit und ihre Bedürfnisse angepasst ist.
            br
            | Und das zu konkurrenzlosen Preisen!
            p Wählen Sie eines der Standard Pakete oder eine für Ihr Projekt geeignete Lösung!
            p
            | Promotion Ihrer Ausstellungen: Werben Sie kostenlos auf den News-Seiten für Ihre Ausstellungen!
            | Im Allgemeinen macht Artistes sans Frontières Fotoberichte über seine Eröffnungen und Messebeteiligungen. 
            a(href = 'ddivers')  (Siehe auch Kapitel "Sonstige Dienstleistungen")
            br
            | Nutzen Sie einen kostenlosen Link von Ihrer Website zu jedem Artikel über Ihre Kunstwerke und Veranstaltungen - dies bereichert Ihre Website!
        section
            header
                h3 Basis Website
            ul
                li Eine Seite mit Ihrem Namen, Logo und Navigation (Links zu anderen Seiten)
                li Eine Textseite (Biographie oder anderer Text)
                li Eine Seite mit 6 bis 10 Fotos
                li Bearbeitung von Fotos von Digitalfotos oder von Papierfotos in guter Qualität.
                li Eine Animation um Fotos oder Text (zB automatische Dia Show).
                li Subdomain: Unsere Besucher finden Sie in der Virtuellen Galerie. Zusätzlich haben Sie eine Adresse wie art.artistes-sf.org/IhrName oder art.artistes-sf.org/IhrKünstlerName, um direkt auf Ihre Site zuzugreifen.
                li Hosting: Die auf unserem Server gelagerte Basis-Site ist für die Dauer Ihrer Mitgliedschaft im Verein Artistes sans Frontières zugänglich. Details zur Mitgliedschaft finden Sie auf dem Mitgliedschaftsformular.
                li Als Option: Die Erstellung Ihres Logos
            p Schauen Sie sich ein Beispiel von unserer "Basic Site" an: Silvia Simoncelli (alte Version)
            p
            | Während Ihrer Mitgliedschaft bei AsF wird Ihre Website jedes Jahr erweitert und zeigt weitere Ihrer Werke.
            br
            | Sehen Sie sich ein Beispiel für eine Website mit professionellen Fotos an: Germain Kouassi (alte Version).
            h3 Basic Site Plus
            p
            | Sie möchten eine große Site haben, ohne sich um deren Verwaltung kümmern zu müssen?
            br
            | Fügen Sie der Basis-Site nach Bedarf Optionen hinzu:
            ul
                li Zusätzliche Textseiten
                li Fotos oder andere Medien
                li Domainname Ihrer Wahl
                li Features (Kontaktformular, Anfahrtsplan ...)
        section
            header
                h3 Unabhängige Künstler Website, Umfang nach Wahl
            p Fragen Sie nach einem Angebot für folgende Wünsche:
            ul
                li Freie Struktur und Layout, je nach Ihrem Projekt
                li Individuelle Grafiken
                LI Interaktion mit Besuchern
                li Statistik, Datenbank
                li Ein oder mehrere Domainnamen
                li Fotos all Ihrer wichtigen Werke
                li Außergewöhnliche Fotoqualität
            p Hosting: Die Site wird auf einem Server oder einem Speicherplatz gehostet, der in der Jahresmiete des Domainnamens enthalten ist.
            | abhängig von Ihren Anforderungen und den ausgewählten Funktionen.
            br
            | Diese Website ist unabhängig von der Website des Vereins. Sie können uns das Hosting anvertrauen oder Ihren Lieferanten frei wählen.
            p Aktualisierungen und Serviceleistungen nach Lieferung: auf Anfrage
            p Siehe eine unabhängige Künstlerseite: Doug Petrovic (alte Version)
        section
            header
                h3 Erstellung einer persönlichen oder kommerziellen Website
            p
            | Treffen Sie uns, gerne auch per Video, oder kontaktieren Sie uns schriftlich, um ein Angebot für Ihr Projekt zu erhalten. Wir werden nach dem geplanten Inhalt fragen,
            | sowie nach Beispielen für Texte, Fotos, Medien, Ihre Erwartungen für die zukünftige Nutzung der Website,
            | die Zielgruppe, gewünschte Funktionen und Ihr Budget.
            br
            | Wir werden gemeinsam die technischen Möglichkeiten diskutieren, um ein auf Ihr Ziel abgestimmtes Benutzererlebnis zu schaffen.
            br
            | Angebot auf Anfrage nach dem ersten Gespräch.
            p
                include ../../templates/footer.pug
