extends ../../templates/d-layout-site.pug
block main
    div
        section
            header
                h1=title
            div
                h3 Angebot in Vorbereitung
                p 
                    | Kurse in verschiedenen k체nstlerischen Techniken (Malen, Lithografie, Foto ...), die von unseren K체nstler-Mitgliedern organisiert werden,
                    | im Rahmen der verf체gbaren Pl채tze. 
                p - Lokales Angebot.


    block aside