extends ../../templates/d-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Urheberrechte und Verpflichtungen für Mitglieder Webseiten und von uns organisierte Ausstellungen')
block main
    div
        section
            header
                h1=title
            h2 Inhalt der Website 
            p
            | Die Mitglieder behalten die zivil-, verwaltungs- und strafrechtliche Verantwortung für die Texte und Fotos, die auf ihrer Website erscheinen.
            | Der Veein veröffentlicht keine rassistischen, fremdenfeindlichen oder pornografischen Inhalte und im Allgemeinen nichts, was gegen das französische Presserecht verstößt.
            | Erotische Werke sind willkommen, aber wir behalten uns das Recht vor, zu entscheiden, ob ein Foto in Frage kommt.
            h2 Foto Urheberrecht
            h3 Einzelne Sites, abhängig von der Site Artists without Borders
            p
            | Mit der Bestellung einer Website ermächtigen Sie uns, die von Ihnen mitgeteilten Fotos für die Dauer der Mitgliedschaft und bis zum schriftlichen Widerruf dieses Rechts online zu veröffentlichen.
            | Wenn Sie nicht der Autor der Fotos sind, erklären Sie sich damit einverstanden, die Genehmigung des Fotografen zur Veröffentlichung einzuholen und uns seinen Namen mitzuteilen, um ihn auf der Website als Urheber anzugeben, wenn der Fotograf dies wünscht.
            h3 Unabhängige Webseiten
            p Sie können die Website jederzeit widerrufen, den Inhalt ändern oder den Hosting-Anbieter oder -Manager ändern, sofern die Website vollständig bezahlt wurde. Diese Änderungen sind in der Regel kostenpflichtig, die Preise und das Verfahren richten sich nach den jeweiligen Lieferanten.
            h3 Fotos und Informationen auf den Nachrichtenseiten
            p
            | Wir behalten uns das Recht vor, die von Artistes sans Frontières organisierten Gruppenausstellungen zu fotografieren und zu dokumentieren, sowie öffentliche Ausstellungen und Messen, bei denen Artistes sans Frontières einen Stand mietet, seine Mitglieder anmeldet usw.
            br
            | Wir veröffentlichen auch Ihre eigenen Fotos Ihrer Ausstellung oder die, die Sie uns mit Zustimmung des Fotografen schicken.
            br
            | Die Auswahl der Fotos obliegt der Redaktion. Für alle unsere Berichte und Unterlagen gilt das französische Presserecht.
            include ../../templates/footer.pug
    aside
    p





