extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Expositions 2004 : Doug Petrovic, Christian "Motor" Polansek et Eveline Krischan' )
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1  Portes Ouvertes des ateliers du 14ème arrondissement
            p Le 15 et 16 mai 2004
            h3  
                | Exposition : 
                | Tableaux et sculptures de 
                a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic
                | , Christian "Motor" Polansek, 
                a(href="/galerie/krive") Eveline Krischan 
                |  et de 10 autres artistes autrichiens.     
        block script
            script(src='../images-news/2004/dias-listes.js')

            