extends ../../templates/layout-archive-dias.pug
block main
    h3=message
    section
        header
            h1=title
    section
    #textgauche
        header 
            h1  Salon des Arts - Mairie du 14e arrondissement de Paris
        p 15/25 septembre 2005, 10-17h (19h le jeudi)
        p Plusieurs de nos membres exposent:
       
        block script
            script(src='../images-news/2005/salon/dias-listes.js')
            