extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants au Salon 2005 : Douglas "Doug" Petrovic, Roland Erguy, Nicholas Wright')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Salon des Arts
            .row
                .column
                    h3  Mairie du 14e arrondissement de Paris
                    p 
                    | 15 - 25 septembre 2005, 
                    br
                    | 10h - 17h sauf le Jeudi 19h
                .column
                    h3 Plusieurs de nos membres exposent :
                    p
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | , peinture lance
                        br
                        a(href="/galerie/erguy")  Roland Erguy
                        | , Sculpture nef
                        br
                        a(href="/galerie/wright")  Nicholas Wright
                        | , Sculpture Margaret
                        br
                        | Airelle, peinture solstice
        block script
            script(src='../images-news/2005/salon/dias-listes.js')
