extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Portes ouvertes de l'Automne
           
            block script
                script(src='../images-news/2005/ponov/dias-listes.js')        