extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants au Salon d\'automne de la mairie du XIV : Airelle, Douglas "Doug" Petrovic, Suzan Rasmussen')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Salon d'automne de la Mairie du XIV
            h3 
                | Airelle, 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  et   
                a(href="/galerie/rasmussen") Suzan Rasmussen

            block script
                script(src='../images-news/2006/mairie/dias-listes.js')       