extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Annonces d\'expositions 2006 : ')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Annonces d'expositions
            h3 
                a(href="/galerie/erguy") Roland Erguy
                |  et Zemrina exposent au Musée Adzak,
            p  3 rue Jonquoy, 75014 Paris, Métro Plaisance, 
            p Tel. 01.45.43.06.98 du 12 au 22 avril 2006,
            p Ouvert mercredi au dimanche de 14 à 19h
            p Ouvert tous les jours sauf dimanche de 11h à 19h
            p Vernissage le mercredi 12 avril à partir de 18h
            h3 
                a(href='06-3')  Voir photos
            br
            hr.piedvariable
            br
            h3 Les Portes Ouvertes du XIVe auront lieu le 20 et 21 mai 2006, 
            p Samedi de 14h30 à 20h, dimanche de 11h à 19h.
            p Artistes sans Frontières accueille 
                |
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="/galerie/nicolas") Nicolas Ganter
                |  et 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic.
            p Airelle ouvre son atelier, 21 rue Daguerre
            p Visitez 
                |
                a(href="/galerie/wright") Nicholas Wright 
                |  au Musée Adzak

            
            h3 Les Portes Ouvertes du XVe auront lieu au même temps:
            p samedi de 14 à 20h et dimanche de 11 à 20h.
            p 
                |
                a(href="/galerie/kouassi") Germain Kouassi 
                |  expose 132, avenue F. Faure, 01 45 54 72 14.
            p 
                |
                a(href="/galerie/plazanet") Pascal Plazanet 
                | montre ses oeuvres à 41 rue Desnouettes.
            br
            hr.piedvariable
            br
            h3 Notre nouveau membre,
                |
                a(href="/galerie/valgallard")  Val. Gallard  
                | expose à la Tour Saint-Aubin, Place Saint Eloi, rue des Lices,
            p 49000 Angers, du 19 au 29 mai 2006, tous les jours de 10h30 à 18h.
            br
            hr.piedvariable
            br
            h2 Ulysses Belz expose en Allemagne: „Zurück zur Figur“ 
            p Kunsthalle der HYPO-Stiftung, Munique, du 2 juin au 13 août 2006.
            br
            hr.piedvariable
            br
            h3
                |
                a(href="/galerie/tajuddin") Ahmed Tajuddin, 
                | Bangladesh, viendra en été pour une exposition à Paris. 
            br
            hr.piedvariable
            br
            h3 
                a(href="/galerie/nicolas") Nicolas Ganter
                |  expose à la Galerie du Montparnasse 
            p 55 rue du Montparnasse, 75014 Paris, du 1er au 15 septembre 2006.
            p Ouvert tous les jours sauf dimanche de 11h à 19h.
            p Vernissage le vendredi 8 septembre à 18h30
            br
            hr.piedvariable
            br
            h3 
                a(href="/galerie/rasmussen") Suzan Rasmussen
                | ,  
                a(href="/galerie/erguy") Roland Erguy    
                |  et    
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |   exposeront   
            p ensemble à la Loftgallery, début septembre. Suzan Rasmussen, qui vit à Utah, viendra à Paris pour l'exposition. 
            p Finissage: jeudi, 7 septembre 2006
            p Loftgallery, 88, rue du dessous des Berges, 75013 Paris
            p Metro: Bibliothèque François Mitterand, 14 et RER C   
            p Bus: Patay-Tolbiac, 27, 62 et 132
            br
            hr.piedvariable
            br
            h3 
                | Airelle,
                |
                a(href="/galerie/rasmussen") Suzan Rasmussen
                |  et    
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exposent au 
                | 
                a(href='06-12')  Salon Art du Nu
            br
            p Espace de la Porte Champerret, Place de la Porte de Champerret, Paris XVIIe
            p Samedi 23 septembre 2006 : 14h - 22h Vernissage
            p Dimanche 24 : 11h - 19h Apéritif des artistes   
            p Lundi 25 : 12h - 19h Vernissage
            