extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants à l\'exposition 2006 : Roland Erguy, Zemrina')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  
                    | Exposition  
                    a(href="/galerie/erguy") Roland Erguy 
                    | et Zemrina 
            p Au Musée Adzak, du 12 au 22 avril 2006
            block script
                script(src='../images-news/2006/adzak/dias-listes.js')