extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Annonces d\'expositions 2006')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Annonces d'expositions  

            h2 Ulysses Belz expose en Allemagne: "Zurück zur Figur“
            p Kunsthalle der HYPO-Stiftung, Munique, du 2 juin au 13 août 2006.
            
            .row
                
                .column   
                    h2 
                        a(href="/galerie/nicolas") Nicolas Ganter                 
                    p Nicolas Ganter expose à la Galerie du Montparnasse,
                    p 55 rue du Montparnasse, 75014 Paris, du 1er au 15 septembre 2006.
                    p Ouvert tous les jours sauf dimanche de 11h à 19h. 
                    p Vernissage le vendredi 8 septembre à 18h30
                .column
                    img#imagefull(src="../images-news/2006/n-ganter-invit.gif", alt="Plakat der Ausstellung Nicolas Ganter")

            h2
                a(href="/galerie/rasmussen") Suzan Rasmussen
                | , 
                a(href="/galerie/erguy") Roland Erguy  
                |  et   
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exposeront  
            p ensemble à la Loftgallery, début septembre. Suzan Rasmussen, qui vit à Utah, viendra à Paris pour l'exposition. 
            p Finissage: Jeudi, 7 septembre 2006
            p Loftgallery, 88, rue du dessous des Berges, 75013 Paris
            p Metro: Bibliothèque François Mitterand, 14 et RER C   
            p Bus: Patay-Tolbiac, 27, 62 et 132
            h2
                | Airelle,
                |
                a(href="/galerie/rasmussen") Suzan Rasmussen
                |  et  
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exposent au 
                | 
                a(href='06-12')  Salon Art du Nu.
            p Espace de la Porte Champerret, Place de la Porte de Champerret, Paris XVIIe
            p Samedi 23 septembre 2006: 14h - 22h Vernissage
            p Dimanche 24: 11 h - 19h Apéritif des artistes   
            p Lundi 25: 12h - 19h Vernissage
            h2 
                a(href="/galerie/pillas") Cathérine Pillas
                |  expose :
            p 
                | Académie Internationale de Lutèce, espace 2001, salle Next Step, 9 - 11, cour Debille, 75011 Paris, 
                br
                | 22 - 29 octobre. Vernissage: 21 octobre, 18h.
            p 
                | FMP, fédération mutualiste interdépartementale de la région parisienne, 24 rue St. Victor, 75005 Paris, 
                br
                | le mardi 7 novembre: vernissage et salon d'une journée 
            h2 Activités d'été
            p Nous organiserons des stages de peinture et de sculpture dans le centre de la France, dans l'Alier.
            p Petites groupes, hébergement à l'hôtel ou style gîte, répas et cours. Détails sur demande.
