extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, annonces d\'expositions 2006')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Annonces d'expositions :
            .row
                .column
                    h2 
                        a(href="/galerie/nicolas") Nicolas Ganter
                        | 
                    p expose à la Galerie du Montparnasse,
                    p 55 rue du Montparnasse, 75014 Paris, du 1er au 15 septembre 2006
                    p Ouvert tous les jours sauf dimanche de 11h à 19h
                    p Vernissage le vendredi 8 septembre à 18h30
                .column
                    img#imagefull(src="../images-news/2006/n-ganter-invit.gif", alt="affiche de l'exposition de Nicolas Ganter")

            hr.piedvariable
            .row
                .column    
                    h2 
                        a(href="/galerie/rasmussen") Suzan Rasmussen
                        | , 
                        a(href="/galerie/erguy") Roland Erguy   
                        |  et  
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        |  
                    p exposeront ensemble à la Loftgallery, debut septembre.
                    p Suzan Rasmussen, qui vit à Utah, viendra à Paris pour l'exposition. 
                    p Finissage: Jeudi, 7 septembre 2006
                    p Animation musicale: 
                        a(href='06-7') Tiki Joe Congo Drums 
                    p Loftgallery, 88, rue du dessous des Berges, 75013 Paris
                    p Metro: Bibliothèque François Mitterand, 14 et RER C   
                    p Bus: Patay-Tolbiac, 27, 62 et 132
                .column
                    .row
                        .columndouble
                            img(src="../images-news/2006/artistes-sf_invit-r.gif", alt="carte d'invitation recto")
                        .columndouble
                            img(src="../images-news/2006/artistes-sf_invit-v.gif", alt="carte d'invitation verso")
            h2
                | Airelle,
                |
                a(href="/galerie/rasmussen") Suzan Rasmussen
                |  et  
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  exposent au 
                | 
                a(href='06-12')  Salon Art du Nu.
            p Espace de la Porte Champerret, Place de la Porte de Champerret, Paris XVIIe
            p Samedi 23 septembre 2006: 14h - 22h Vernissage
            p Dimanche 24: 11h - 19h Apéritif des artistes   
            p Lundi 25: 12h - 19h Vernissage
            h2
                |
                a(href="/galerie/pillas") Cathérine Pillas
                |  expose:
            p Académie Internationale de Lutèce, espace 2001, salle Next Step, 9 - 11, cour Debille, 75011 Paris, 22 - 29 octobre. Vernissage: 21 octobre, 18h.
            p FMP, fédération mutualiste interdépartementale de la région parisienne, 24 rue St. Victor, 75005 Paris, le mardi 7 novembre: vernissage et salon d'une journée 
h2 Activités d'été:
    p Nous organiserons des stages de peinture et de sculpture dans le centre de la France, dans l'Alier.
    p Petites groupes, hébergement à l'hôtel ou style gîte, répas et cours. Détails sur demande.