extends ../../templates/layout-archive-dias.pug
block main
    h3=message
    section
        header
            h1=title
    section
    #textgauche
        header 
            h1  Salon d'automne de la Mairie du XIV
        p Airelle, Douglas Petrovic et Suzan Rasmussen 
        block script
            script(src='../images-news/2006/mairie/dias-listes.js')
        