extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h3  Annonce d'exposition :
            p  Ulysse Belz exposera à Fribourg, en Allemagne du 19 octobre au 2 décembre:

            hr
    section
        #textgauche
            header 
                h1  Fête de l'association
            p Debut septembre, nous avons profité de la Loft-Gallery, pour faire notre fête annuelle. Tous ces murs blancs attendent notre prochaine exposition, du 17 au 30 novembre 2007.
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , sculptures
                a(href="/galerie/villaada") Ada Villa
                | et 
                a(href="https://www.dougpetrovic.info" target="_blank") Douglas Petrovic
                | , peinture, 
                a(href="https://www.hstrobl.info") Helga Strobl
                | , photos

            block script
                script(src='../images-news/2007/fete/dias-listes.js')
