extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Annonces d\'expositions 2008 Rangel Amorim, tournage de film Bunker, Nicolas Ganter')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Annonces d'expositions: 
            .row
                .column
                    h2 
                        a(href="/galerie/amorin") Rangel Amorim 
                    p Le jeune peintre brésilien exposera ses tableaux:
                    p du 5 au 18 mai 2008
                    p 
                        | Galerie 3 F,
                        br
                        | 58 rue des 3 Frères, Paris 18,
                        br
                        | Métro Abesses 
                .column
                    img#imagehalf(src="../images-news/2008/invitation-rangel-amorim.jpg", alt="Rangel Amorim, invitation expo")
            .row
                .column
                    h2
                        a(href="/galerie/nicolas") Nicolas Ganter 
                        | tourne le "Bunker"
                    p Nicolas Ganter, graveur, peintre et cinéaste, a écrit le scénario du film "Bunker".


                .column
                    img.image80c(src="../images-news/2008/cinema-tournage-nicolas-gan.jpg", alt="cinema, tournage 'Bunker' par Nicolas Ganter")
                    p Article paru dans Nice Matin 

