extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Annonces d\'expositions 2008, Germain Kouassi, Doug Petrovic, Jochen Schwertfeger, Roland Erguy, Helga Strobl, Fatma-Zohra Zamoum')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Annonces d'expositions
            .row
                .column
                    h3 Portes Ouvertes
                    p Cette année, les Portes Ouvertes du 14e n'auront lieu qu'en automne:
                    strong 27 et 28 septembre 2008
                    h3 Nous présenterons 
                    p 
                        | Peintures de 
                        a(href="/galerie/kouassi") Germain Kouassi
                        | , 
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | , 
                        a(href="/galerie/schwertfeger") Jochen Schwertfeger
                        | , 
                        br
                        | sculptures de 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        br
                        | photos de  
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                        | ,
                        br
                        |  court-métrages de 
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                .column
                    img(src="../images-news/2008/affiche-zamoum.jpg", alt="Fatma Zohra Zamoum :  La pelote de laine")
            