extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exposition 2009, Carole Freva')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Exposition en décembre 2009
            .row   
                .col
                    h2 Carole Freva 
                    h3 Le Salon de décembre
                        br
                        | Galerie Thuillier
                    p du 5 au 18 décembre 2009
                        br
                        |  de lundi à samedi, de 13h à 19h
                    p Vernissage mardi 8 décembre de18h à 21h
                    p 13 rue de thorigny, 75003 Paris, tél 01 42 77 33 24
                    p Metro St Sébastien-Froissart ou St Paul
                .col    
                    h2 Show room et vente privée Irena et Gabriella                   
                    img(src="../images-news/2009/gabriella-carbone1209.jpg", alt="Invitation d'Irena et Gabriella")