extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Exposition Gabriella Carbone, photographie')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Portes Ouvertes du 14e à Paris
            p Elles se dérouleront le week-end des 13 et 14 juin 2009 : 
            p samedi, de 14h30 à 20h
            p dimanche, de 11h à 19h     
    section
        #textgauche
            header 
                h1   
                    a(href='http://gabriella.carbone.free.fr/'  rel='noopener noreferrer nofollow'  target='_blank') Gabriella Carbone 
                    | , photographies
            h3 Vernissage Galerie 3 F, 3 avril 2009
            block script
                script(src='../images-news/2009/carbone/dias-listes.js')