extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1 Portes Ouvertes du 14e à Paris, juin 2009
            block script
                script(src='../images-news/2009/po/dias-listes.js')
