extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos du salon de la photo du 14e, 2010')
block main
    section
        #textgauche
            header 
                h1  Salon de la photo à la Mairie du 14e, Paris
            h3 Helga Strobl, expo 2010

            block script
                script(src='../images-news/2010/photosalon/dias-listes.js')
