extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'exposition de Doug Petrovic')

block main
    section
        #textgauche
            header 
                h1  Expo Douglas Petrovic au Daudet

            block script
                script(src='../images-news/2010/daudet/dias-listes.js')
