extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, annonce d\'exposition Doug Petrovic et contribution de Lihidheb Mohsen')

block main
    section
        p#message=title
        header
            h1 Nouveautés janvier 2011
        p 
        | Notre membre tunisien, 
        h(ref="mohsen") Lihidheb Mohsen
        |, nous a envoyé cette réaction aux événements dans son pays :
        h3 HEUREUX QUI COMME LES TUNISIENS ONT RECONQUIS LA LIBERTÉ ET L'HONNEUR DE LA NATION.
        p En effet, congratulations au peuple vaillant de Tunisie, Honneur, gloire et respect aux martyrs. Que le mouvement continu par la maitrise du chaos, la reconstruction du pays et le refus du paternalisme politique. Dans cette ère de la citoyenneté et d'humanité, chaque Tunisien doit participer activement à la sécurité de son milieu, de sa région et du pays en général.
        p TUNISIENS ET TUNISIENNES, LA BATAILLE CONTRE LE DICTAT EST GAGNÉE, CELLE DE LA RECONSTRUCTION EST COMMENCÉE.
        p Lihidheb Mohsen, Eco artiste, 4170 Zarzis Tunisie
        hr
    section
        header
            h1 
                h(ref="https://www.dougpetrovic.info" target="_blank" rel='noopener') Doug Petrovic
                |  : huiles
        p L'exposition aura lieu en mars 2011
        p au Grand Hôtel, Sète, France
        hr


