extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Portes Ouvertes 2011 : Roland Erguy, Doug Petrovic, Suzan Rasmussen, Helga Strobl')

block main
    section
        p#message=title
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            .row
                .column
                    p 28 et 29 mai 2011
                    p Samedi et dimanche : 11h - 19h
                    h3  Exposition : 
                    p 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | , 
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , 
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                .column
                    a(href="/pdf/po11.pdf")
                        img(src="/images-news/2011/po.jpg", alt="Portes Ouvertes 2011 - Télécharger le programme")   
                        p Télécharger le programme 
            block script
                script(src='../images-news/2011/dias-listes.js')
