extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, annonce du décès du président fondateur Douglas "Doug" Petrovic, invitation à une réunion d\'adieu')

block main
    section
        p#message=title
        header
            h1 Décès du président des Artistes sans Frontières, Douglas Petrovic
        img#imagefull(src="/images-news/2011/doug-parti.jpg", alt="Annonce de décès Doug Petrovic")
        hr
    section
        h3 Notice aux membres, actifs, anciens et futurs :
        p Si vous souhaitez continuer l'aventure de Douglas, contactez le bureau de l'association           
        p Il y aura une assemblée générale extraordinaire à Sète avec possibilité de participer par téléphone ou en visioconférence.
        p Même si vous ne pouvez pas venir, déposez vos propositions, questions ou souvenirs de Douglas par mail ou par courrier.
        hr