extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Portes Ouvertes 2012 : Roland Erguy, Doug Petrovic, Suzan Rasmussen, Helga Strobl')
block main
    p#message=title
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            p 12 et 13 mai 2012
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                a(href="https://www.hstrobl.info") Helga Strobl
            block script
                script(src='../images-news/2012/dias-listes.js')
    section
        header
            h1 Novembre
    p Exposition photo dans le cadre du Mois de la Photo
