extends ../../templates/layout-archive.pug
block main
    p Expositions en novembre 2012
    section
        header
            h1 Mois de la Photo à Paris
        .row
            .column
                h3 Salon des Photographes du 14ème
                p Du 9 au 18 novembre
                p 
                | Mairie Annexe
                br
                | 12 rue Pierre Castagnou 
                br
                | M° Mouton-Duvernet
                p 
                | Organisé par la mairie du 14e 
                | Du lundi au vendredi de 11h à 18h, 
                | samedi et dimanche de 11h à 19h
            .column
                h(ref="/pdf/programme_mois_photo12.pdf")
                    img#image90(src="/images-news/2012/mois-photo.jpg", alt="Mois de la photo 2012")
                    | Télécharger le programme 2012 complet       
    section
        header
            h1 Traces et Pérégrinations : 
                a(href="https://www.hstrobl.info")  Helga Strobl 
                | et Elisa Souche
        .row
            .column
                img#image90(src="/images-news/2012/daudet-affiche-1210.jpg")
                p Elisa Souche et Helga Strobl, affiche de l'exposition photo 2010
            .column
                h3 Traces et Pérégrinations 
                h3 Helga Strobl et Elisa Souche
                p 
                | du 15 novembre au 8 décembre 2012
                br
                | lundi à mercredi 7h - 21h
                br
                | jeudi et vendredi 7 - 24h
                br
                | samedi 7h - 20h

                p Vernissage le samedi 1 décembre, à partir de 17h
                p
                | Bar Restaurant "Le Daudet"
                br
                | 16 rue Daudet, Paris 14e, Tél. 01 45 40 82 33
                br
                | Métro Alésia, ligne 4. Bus 28, 38, 62, 68, 724
           
        h3 Elisa Souche    
        p 
        | Il y a des jours comme ça, vent adverse. Les éléments s'emmêlent, 
        | terres spongieuses, cieux auréolés d'encre grise, eaux gorgeant la moindre griffure du sol.
        br
        | Une poignée de traverses dérisoires, jetées en mikado, marque les limites de l'emprise humaine : 
        | enclos et portails calamiteux mais lourds de sens, barques et canaux 
        | formant parcours d' obstacles, prétendent corseter l'espace. 
        br
        | Sur l'autre versant du temps, chacun arpente sa secrète mer d'Aral où les navires échoués, 
        | barragent l'horizon de messages d'amour, attendent le déluge. 
        br
        | Ailleurs encore, dans la palette des antiques huisseries provençales, parfois l'azur 
        | espiègle semble monter du sol.