extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Arts 14 de 2014 : Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl, Fatma-Zohra Zamoum - et le perroquet Auguste')
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            .row
                .column
                    h3  Exposition : 
                    p 14 et 15 juin 2014
                    p Samedi et dimanche : 11h - 19h
                    p 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , peinture, sculpture 
                        br
                        a(href="/galerie/quartarone")  Mary Quartarone
                        | , peinture
                        br
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , peinture, gravure
                        br
                        a(href="https://www.hstrobl.info") Helga Strobl
                        |  , photographie
                        br
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                        |  , film
                    p 
                        | Hors compétition le clown Auguste, 
                        br
                        | le perroquet qui sait voler,
                        br
                        | mais ne se sauve pas.
                .column
                    h(ref="/pdf/po14.pdf")
                        img#imagehalf(src="/images-news/2014/programme-po-2014.jpg", alt="Entrez dans le cadre - programme Portes Ouvertes")
            block script
                script(src='../images-news/2014/dias-listes.js')
