extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, annonce du mois de la photo 2014 et de l\'exposition de Helga Strobl')

block main
    div
        p  Expositions en novembre 2014
        section
            header
                h1 Novembre, Mois de la Photo Européen à Paris
            .row
                .column
                    p 
                        a(href="https://www.hstrobl.info") Helga Strobl
                        | , photographie
                    p à la Mairie du 14e, du 13 au 24 novembre,
                    p au Daudet, rue Alphonse Daudet, du 18 novembre au 6 décembre
                .column
                    a(href="/images-news/2014/mois-photo2014.jpg") Voir le programme du Mois de la Photo du 14e
                        img#imagefull(src="/images-news/2014/affiche-helga.jpg" alt="Affiche de l'exposition de Helga Strobl")
        img#image90(src="/images-news/2014/vue-du-ciel.png" alt="Vue du ciel")
        | Vue du Ciel, Helga Strobl
