extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Arts 14 de 2015 : Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl')
    
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            p 6 et 7 juin 2015
            p Samedi et dimanche : 11h - 19h
            h3  Exposition : 
            p 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , peinture et sculptures 
                br
                a(href="/galerie/quartarone")  Mary Quartarone
                | , peinture
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , peinture, gravure
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , photographie   
            block script
                script(src='../images-news/2015/dias-listes.js')
