extends ../../templates/layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, photos de l\'évenement et participants aux Arts 14 de 2016 : Doug Petrovic, Suzan Rasmussen, Suzan Reggaro, Helga Strobl')
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            p Dimanche 12 juillet 2016
            h3  Exposition : 
            p 
                a(href="/galerie/emory") Rick Emory
                | , photographie
                br 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , peinture et sculptures 
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , peinture, gravure
                br 
                a(href="/galerie/reggaro")  Shannon Reggaro
                | , peinture
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , photographie   
            block script
                script(src='../images-news/2016/dias-listes.js')
