extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, exposition "Rencontres", novembre 2016 :Germain Kouassi, Doug Petrovic, Suzan Rasmussen, Suzan Reggaro, Helga Strobl')
block main
    section
        #textgauche
            header
                h1 Rencontres d'artistes
            .row
                .column
                    p Dans notre association, les artistes en tout genres et de différents pays se sont croisés, se sont liés l'amitié, se sont inspirés les uns les autres, ont parfois offert une oeuvre à l'association, échangé des oeuvres avec d'autres artistes ou laissé une oeuvre temporairement en témoignage de leur visite.

                    p Cette exposition montre le fruit de ces rencontres.

                    p Artistes sans Frontières présente des oeuvres de peintres, dessinateurs et photographes:

                    h3 
                    | Alexandre Froment, 
                    a(href="galerie/kouassi")  Germain Kouassi
                    |, Françoise Orbey, 
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | , 
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , 
                    a(href="galerie/reggaro") Shannon Reggaro
                    | , 
                    a(href="https://www.hstrobl.info") Helga Strobl

                    p du 3 au 19 novembre, au bar restaurant Le Daudet, un autre lieu de rencontre.
                .column
                    img#imagefull(src="/images-news/2016/2016-affiche-expo.jpg" alt="affiche d'exposition Rencontres d'artistes")

    section
        header
            h3 Mois de la photo : changement de dates
        p Exposition de photos : prévue pour avril 2017
        p Exposition de Douglas Petrovic : prévue pour printemps 2017, Paris