extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, annonces de nos projets pour 2019')
block main
    p#message=title
    section
        header
            h1 Annonces d'expos et de changements
        section
        h3 Nouveau site - nouvel offre - stagiaires
        p A partir d'avril 2019, nous préparons un changement complet du site Internet. 
        p 
            |Ce site a change bien de fois depuis la première version en 2000. Cette fois, nous changeons de technique,
            | pour rendre le site dynamique et responsive, donc comfortable à consulter et sur un mobile et sur ou un grand écran. 
            br
            | Ce site comprend un archive d'événements depuis presque 20 ans et des sites créés pour nos membres pendant la même période. 
            | Cela prendra un peu de temps de tout traduire en language Internet actuelle d'abord et ensuite dans plusieurs langues.
            | La dernière étape ajoutera un espace pour membres, pour discuter de l'art et échanger sur leurs expériences. 
        p Pour faciliter ce projet, l'association Artistes sans Frontières accueillera désormais des stagiaires en développement, intégration web ou graphisme.

    section
        header
            h1 14 ARTS 2019 - Portes Ouvertes des Ateliers 
        p Le samedi 29 et le dimanche 30 juin 2019
        p
            a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
            | , peinture, dessin, sculpture
            br
            a(href="/galerie/rasmussen")  Suzan Rasmussen
            | , peinture, dessin
            br
            a(href="https://hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            | , photographie 
    section
        header
            h1 Mois de la Photo en novembre
        p Exposition photo dans le cadre du Mois de la Photo
        p Exposition collective en Automne