extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Saloum Sylla nous joint en tant que développeur')
block main
    p#message=title
    section
        header
            h1 Premiers pas sur le projet de nouveau site Internet
        section
        .row
            .column
                p Mi-mars, deux développeurs ont commencé à créer le nouveau site : 
                p Saloum Sylla a rejoint l'équipe et travaille avec Helga Petrovic sur la structure du projet. 
                p 
                | Une des challenges d'un nouveau projet est toujours de faire l'inventaire de ce qu'existe déjà, 
                | des nouvelles choses à ajouter, de quel (nouveau) cadre on dispose et comment faire rentrer le tout confortablement. 
                p Comme on voit, cela n'est pas toujours chose évidente - la moto de Saloum semblait beaucoup plus petit dans la rue ...
            .column
                img#image90(src="/images-news/2019/saloum.jpg", alt="Saloum arrive pour son premier jour de travail")
                | Saloum arrive pour son premier jour de travail
