extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, début des travaux pour changer le sol - on peut en rire')
block main
    p#message=title
    section
        header
            h1 Sol ferme sous les pieds
        section
        .row
            .column
                p Après les dégâts d'eau en été, la situation s'est finalement débloquée et les travaux ont commencés fin novembre.
                p 
                | A 60 cm sous le niveau de la cour, les ouvriers ont atteint la terre ferme et ont commencé à reconstruire les diverses couches
                | du sol. 
                p 
                | J'ai trouvé ces vêtements de travail et le sac d'un ouvrier un soir, accroché très haut au dessus 
                | du béton fraichement coulé. 
                p Après les jours de séchage, il y avait les poseurs de paquet et de mur, les peintres ... et les grèves. 
                p 
                | Dans tout cela, le site Internet a pris un peu de retard. 
                | La migration et les traductions en anglais et allemand du site principal sont presque terminées, mais pour les sites 
                | indépendants des artistes, le travail est encore en cours. 
                p La date de réouverture du bureau parisien pour le public n'est pas encore fixe, la date probable sera le 15 janvier 2020.    
            .column
                img#image90(src="/images-news/2019/concrete-funny.jpg", alt="Vêtements et sac accrochés haut pour le weekend")
                br
                | Vêtements et sac accrochés haut pour le weekend