extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, développements et annonces 2020')

block main
    section
        p#message=title
        #textgauche
            header 
                h1  Première exposition en 2020 : Nouvel atelier et Doug Petrovic 
            .row
                .column
                    h2  L'atelier
                    p 
                    | Nous avons retrouvé notre atelier, plus beau qu'avant, 
                    | plus grand aussi, mais cela vient de la perte des meubles. 
                    | En réalité, grâce au nouveau mur, la pièce a rétréci de quelques centimètres. 
                    p
                    | Le nouveau début a permis de redéfinir l'espace, avec la grande table de Doug comme table de travail, 
                    | une longue planche devant la fenêtre, pour travailler ou poser les verres pendant les réunions d'association ou expos. 
                    p Et les murs ... encore plus de murs qu'avant avec de l'espaces pour des très grands tableaux, comme cette toile de Doug, de 250 x 75 cm.
                    h3 Ouverture de l'atelier
                    p 
                    | Nos lieux sont de nouveau accessible au public, uniquement sur rendez-vous.
                    br
                    | Prise de rendez-vous: tous les jours entre 11 h et 19h. 
                    br
                    | Accueil : Après-midi ou soir, de lundi à vendredi.                   
                    img.image90c(src="/images-news/2020/atelier2.jpg", title="Doug Petrovic, oeuvres, et place de travail de développeur" alt="Doug Petrovic, huiles et gouaches, comme cadre de travail")
                    br
                    | Doug Petrovic, table de travail et gouaches                    
                .column
                    img.image90c(src="/images-news/2020/atelier1.jpg", title="Doug Petrovic, oeuvres, et place de travail de développeur" alt="Doug Petrovic, huiles et gouaches, comme cadre de travail")
                    br
                    | Doug Petrovic, huiles et gouaches, comme cadre de travail
                    h3 L'expo
                    p
                    | Jusqu'aux Portes Ouvertes 2020, l'exposition des oeuvres de Doug sera visible sur rdv et lors des événements publiques. 
            div
                h2 Prochaines événements 
                    h3 Fête de printemps
                    p 
                    | Revenez sur ce site pour connaître la date de la pendaison de crémaillère ! 
                    br
                    | Ce sera au printemps, quand il fera assez beau pour faire une fête, qui peut déborder de l'atelier dans le jardin. 
                    br
                    | Envoyez-nous un email, si vous souhaitez recevoir une invitation. 
                    a(href='mailto:bureau.asso@artistes-sf.org?subject=fête asso') E-mail: bureau.asso@artistes-sf.org
                    h3 Portes Ouvertes - 14 Arts
                    p 
                    | La date n'a pas encore été communiqué, mais l'événement se déroulera probablement tard, fin juin ou en juillet.
                    | Nous acceptons encore des candidatures pour profiter de l'événement au sein d'une exposition de groupe dans nos lieux. 
