extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, développements et annonces 2020')

block main
    section
        p#message=title
        #textgauche
            header
                h1=title
            h2 Epidémie COVID-19
            p En accordance avec les mesures publiques en cours,
            h3 nos lieux sont fermés au publique. 
            p Nous assurons un accueil téléphonique entre 14 et 17h, du lundi au vendredi.
            p Numéro de portable : 06 32 95 40 90
            p Pour prendre un rdv téléphonique en dehors de ces horaires, contactez-nous par mail ou sms.
            a(href='mailto:bureau.asso@artistes-sf.org?subject=Accueil') E-mail: bureau.asso@artistes-sf.org
