extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, développements et annonces 2020, accueil en temps de pandémie')

block main
    section
        p#message=title
        #textgauche
            header 
                h1  Accueil limité et sécurisé pendant la pandémie covid19
            h2 Expositions virtuelles 
            p 
                | 2020, avec la distanciation sociale imposé dans le monde réel, 
                | c'est l'année d'une migration massive vers le monde virtuel de l'Internet. 
            p
                | 2020, cela fait 20 ans depuis la première création de site Internet pour des artistes par notre équipe. 
                br
                | Ami(e) de l'art, promenez-vous dans la galerie virtuelle du site AsF pour découvrir les oeuvres de nos membres! 
                br
                | Artiste, contactez-nous pour 
                ul
                    li organiser une exposition virtuelle, 
                    li une exposition réelle dès que possible, 
                    li la création d'un site pour présenter vos oeuvres.
            h2 Accueil dans nos lieux
            p
                | L'atelier de l'association est petit et notre équipe travaille surtout en télétravail. 
                | Pour les visites dans nos lieux, des nouveaux règles d'accueil s'appliquent :
                ul
                    li visites uniquement sur rendez-vous
                    li un ou deux visiteurs maximum
                    li port du masque obligatoire
                    li prises de rdv : 06 32 95 40 90, de mardi à samedi, entre 13 et 17h
                    li rendez-vous de mardi à samedi à partir de 14h

    section
        #textgauche
            .row
                .column
                    h2 Première exposition en 2020 : Doug Petrovic
                    p  Des huiles et des gouaches de Doug Petrovic sont visibles sur rendez-vous (voir les règles d'accueil ci-haut).
                    p La fermeture administrative du 16 mars a annulé le vernissage et la la pendaison de crémaillère après la rénovation de nos lieux. 
                    h3 La visite sur rendez-vous 
                    p vous offre l'occasion de découvrir un artiste dans un cadre intime, pendant un moment dédié uniquement à votre découverte. 
                .column
                    img.imagefullc(src="/images-news/2020/atelier1.jpg", title="Doug Petrovic, oeuvres, et place de travail de développeur" alt="Doug Petrovic, huiles et gouaches, comme cadre de travail")
            h2 Nouveau site - nouveaux membres de l'équipe
            .row
                .column
                    img.imagefullc(src="/images-news/2020/babacar.jpg", title="Babacar Seck, premier jour \"au bureau\"", alt="Babacar Seck, après 6 semaines de travail, premier jour \"au bureau\"")
                    p.legendes Babacar Seck, premier jour "au bureau" - après six semaines de télétravail
                .column
                    p Le nouveau site a remplace l'ancienne version, la migration du contenu a bien avancé et se terminera en mai. 
                    p
                        | Babacar Seck a joint l'équipe le 1 avril dans des conditions particulières : le jour de sa première visite, le confinement a été déclaré. 
                        | Son stage a commencé à distance, travaillant dans un language de code, qu'il ne connaissait pas 
                        | et il a déjà commencé à migrer le contenu de l'archive des années 2005 et 06. Il terminera les années manquantes en mai.
                    p En mai ou juin, un autre stagiaire se joindra à nous - sa formation a été interrompu par le confinement 
                    | et la date de fin de sa formation est encore susceptible à changer. 
