extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, nouveaux membres de l\'équipe, espace virtuel pour les stagiaires, accueil en temps de pandémie')

block main
    section
        p#message=title
        #textgauche
            header
                h1 Nouveau membres de l'équipe
            .row
                .column3   
                    img.imagefullc(src="/images-news/2020/reunion.jpg", title="4 membres de l'équipe" alt=" 4 membres de l'équipe (en comptant Auguste sur son poste de surveillant")
                .column3
                    p Pendant cette période extraordinaire, notre équipe s'est agrandi de trois membres.
                    p   
                        | Babacar a commencé dans les premières semaines du confinement strict, et 
                        | a profité des longues heures de solitude pour intégrer 4 années des activités de l'association dans le chapitre Actualités.
                    p 
                        | Billel et Frederic ont commencé leur stage en juin et notre équipe travaille dans les lieux de l'association
                        | à tour de rôle, les absents se joignent par appel audio ou vidéo. Le site et les autres projets de AsF avancent à grands pas.
                .column3
                    img.imagefullc(src="/images-news/2020/team-asf.jpg", title="on avance masqué" alt="On voit mal avec les masques ;-)")

            h2 L'espace des stagiaires
            p 
                | Developer des sites Internet est une activité créative, ainsi nous avons créé un espace des stagiaires, 
                | pour tester et présenter leur art. Découvrez leurs projets en cours et leurs idées sur 
                a(href="https://stage.asf-web.fr" rel='noopener' target="_blank") l'espace des stagiaires
           

    section
            header 
                h1  Accueil limité et sécurisé pendant la pandémie covid19
            h2 Accueil dans nos lieux
            p Pour les mois à venir, pour les visites dans nos lieux, des nouveaux règles d'accueil s'appliquent :
                ul
                    li visites uniquement sur rendez-vous
                    li un ou deux visiteurs à la fois à l'intérieur
                    li port du masque obligatoire
                    li prises de rdv : 06 32 95 40 90, de mardi à samedi, entre 13 et 17h
                    li rendez-vous de mardi à samedi à partir de 14h
            h2 Expositions virtuelles 
            p 
                | 2020, avec la distanciation sociale imposé dans le monde réel, 
                | c'est l'année d'une migration massive vers le monde virtuel de l'Internet. 
            p
                | 2020, cela fait 20 ans depuis la première création de site Internet pour des artistes par notre équipe. 
                br
                | Ami(e) de l'art, promenez-vous dans la galerie virtuelle du site AsF pour découvrir les oeuvres de nos membres! 
                br
                | Artiste, contactez-nous pour 
                ul
                    li organiser une exposition virtuelle, 
                    li une exposition réelle dès que possible, 
                    li la création d'un site pour présenter vos oeuvres.

    
