extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, heures d\'ouverture 2021, projets 2021')

block main
    section
        p#message=title
        #textgauche
            header
                h1 Bonne année 2021 !
            .row
                .column65
                    h3 Nos Meilleurs Voeux aux membres et aux amis de l'association ! 
                    p Nous espérons tous une reprise de la vie culturelle et sociale - cet arbre placé sur mon chemin me faisait rire, car il représente parfaitement les coupures de vie et la séparation des amis et de la famille. 
                    
                .column3 
                    img.imagefullc(src="/images-news/2021/separations.jpg", title="Je me sens coupé de tous" alt="Je me sens coupé de tous - arbre de Noël et branches coupées") 
                    br
                    | Je me sens coupé de tous 
                    br
                    | Photo: Helga Strobl
              
            h2    Projets et développements
            h3 Heures d'ouverture
            p 
                | Nouveaux horaires en  2021 :  de lundi à vendredi de 13 à 17 h. 
                br
                | Renseignements par téléphone au numéro indiqué en pied de page. Pour discuter d'un projet, nous vous proposerons un appel video. A cause de la jauge en cours, des visites dans nos lieux seront limités à une personne à la fois, uniquement sur rendez-vous.
            h3 Projets à venir - Stages
            p Pour un grand projet littéraire, nous faisons appel à des stagiaires ou des bénévoles, qui souhaitent travailler comme développeur sur React ou sur une base de données, mais également un ou deux stagiaires intéressés en littérature ou culture. Debut du projet en février, des stages d'au moins six semaines pour le développement et d'au moins quatre semaines pour l'aspect culturel disponibles pendant tout l'année 2021.
         


