doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/jeu2.css')
    link(rel='stylesheet', href='css/pages.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,600', rel='stylesheet')
    link(rel="shortcut icon" href="images/favicon.ico")
    title Error 404
  body
    header
        span
            a(href='http://petrovic.ovh')
                img#logo(src='images/helga-rot.gif' alt='logo Helga Strobl')
    section
        h1 Error 404 - La page n'existe pas
        #showscores
            p Le serveur ne peut pas trouver ce que vous cherchez. 
            p Cliquez sur mon logo pour voir mon site