doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='robots', content='index, follow')
        meta(name='revisit-after', content='7 days')
        meta(name='author', content='helga strobl petrovic, paris')
        meta(name='copyright', content='artistes sans frontières, paris')
        meta(http-equiv='Content-Language', content='fr')
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../css/main-nav.css')
        link(rel="shortcut icon" href="../images/favicon.ico")
        title=title
    body
        nav
            div
                span
                    img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
                ul.menu1
                    li
                        a(href='/') L'association
                    li
                        a(href='/galerie/index') Galerie
        main
            section
                header
                    h1=title
                h3 Error 505 - erreur du serveur
                p Le serveur n'a pas compris la question. Cliquez sur un autre lien

                a(href='/index') Page de debut