doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='robots', content='index, follow')
        meta(name='revisit-after', content='7 days')
        meta(name='author', content='helga strobl petrovic, paris')
        meta(name='copyright', content='artistes sans frontières, paris')
        meta(http-equiv='Content-Language', content='fr')
        link(rel='stylesheet', href='../css/20main.css')
        link(rel='stylesheet', href='../css/20main-nav.css')
        link(rel="shortcut icon" href="../images/favicon.ico")
        title=title
    body
        nav
            div
                span
                    img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
                ul.menu1
                    li
                        a(href='/') L'association
                    li
                        a(href='/galerie/index') Galerie
        main
            section
                header
                    h1=title
                h3 Error 505 - erreur du serveur
                p Le serveur n'a pas compris la question ou la connexion est trop lente. Cliquez sur un autre lien
                a(href='/index') Page de debut
                p The server did not understand the request or the connection is too slow. Clic on another link 
                a(href='/e-index') English home page
                p Der Server hat die Anweisung nicht verstanden oder die Verbindung ist zu langsam. Klicken Sie auf einen anderen Link 
                a(href='/d-index') Deutsche Startseite