extends ../templates/d-layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Entdecken Sie die Galerie der Künstler! Gestaltung individueller Websites und Apps. Projekte 2021 ')
    meta(name='keywords' content='Association, Künstler, Kunst, Paris, Alesia, Paris 14, Webseite, Website Entwicklung, Gestaltung, Künstler Websites, Kunst Websites, Web App, Austellung, Show,Kunst Messe, KJunst Salon,  Ausstellung in Paris für Künstler, Show in Paris, Kunstsalon in Paris, Internationale Kunst,  Websites für Kleinunternehmen, Individuelle Website, Training, Schulung, Praktikum, Rouet, impasse du Rouet, 75014, Petrovic' )
    meta(name='author' content='Animation: Babacar et Helga')
    link(rel='stylesheet', href='css/canvas-anim.css')
    script(src='js/anim-collage.js')

block main
    section
        header
            h1=title
        #intro
            p Entdecken Sie unsere Künstler, unser Angebot zur Erstellung künstlerischer Websites oder durchsuchen Sie das Archiv vergangener Ereignisse (Kapitel Neuigkeiten).
            p Letzte Neuigkeiten : 
                a(href='/archive/actuel') #{lastnews[0]} : #{lastnews[3]}
    #stage            
        canvas#canvasBg
            | Ihr Browser unterstützt die canvas  Animation nicht   
