extends ../templates/d-layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Entdecken Sie unseren Verein, die Galerie der Künstler Mitglieder, unser Angebot und 20 Jahre Vereinsgeschichte! - Eingeschränkter Empfang während der Covid Epidemie')

block main
    section
        header
            h1=title
        .row
            .column
                h2 Neue Website für unseren  Nachbarschaftsrat
                p
                    a(href='https://petrovic.ovh', rel='noopener', target='_blank')  Helga Petrovic 
                    | und das Team von Artistes sans Frontières arbeiten am Projekt einer Website für den
                    a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') Conseil de Quartier Jean Moulin Porte d'Orléans, 
                    br
                    | Textes par Zeliha Chaffin.
            .columncenter
                a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') 
                    img.imagefullc(src="/images-news/2020/conseil-jmpo.jpg", title="Erste Version der Website conseil-jmpo.fr" alt="Erste Version der Website conseil-jmpo.fr") 
                    br
                    | Erste Version der Website, 6 Oktober 2020
        h2 Neuer Film von Fatma-Zohra Zamoum:  Body &amp; Art
        p 
            |Samstag 17. Oktober 2020, 19 Uhr
            br
            | im ZKM, Zentrum für Kunst und Medien, Karlsruhe, Deutschland
        h3 Film und interview mit der Regisseurin Fatma Zohra Zamoum
        p 
            | Body &amp; Art ist eine Retrospektive einer Kunst Performance von Gunter Brus
            | in den Strassen von Wien im Jahr 1965.
            br
            |Mit Gunter Brus, Peter Weibel, Eva Badura Trischka und Yves Michaud. 
    
        a(href="https://zkm.de/de/veranstaltung/2020/10/body-art" rel='noopener' target="_blank") Programm des Abends auf der ZKM Website
       

        h2 Eingeschränkter Empfang in unseren Räumlichkeiten
        p
            | Das Büro des Vereins ist klein und unser Team arbeitet hauptsächlich vom Home Office aus.
            | Für Besuche in unseren Räumlichkeiten gelten neue Empfangsregeln:
            ul
                li Besuche nur nach Vereinbarung
                li maximal ein oder zwei Besucher
                li obligatorisches Tragen eines Mund und Nasen Schutzes
                li Terminvereinbarungen: 06 32 95 40 90, von Dienstag bis Samstag, zwischen 13 und 17 Uhr
                li Termine von Dienstag bis Samstag ab 14 Uhr

            hr.piedvariable
        .piedvariable
            include ../templates/footer.pug