extends ../templates/d-layout.pug
block main
    div
        p #{title}  
        section
        header
            h1 Neue Webseite 
        p 
        | Wir arbeiten an einer neuen Webseite. Die deutsche Version wird voraussichtlich Anfang Dezember 2019 bereit sein. 
        | In der Zwischenzeit können Sie ab sofort die französiche oder ab ca Mitte November die englische Version besuchen. 
        h2
        a(href="/html/de/index.html", target="_blank") Bisherige deutsche Version
