extends ../templates/d-layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Entdecken Sie unseren Verein, die Galerie der Künstler Mitglieder, unser Angebot und 20 Jahre Vereinsgeschichte! - Eingeschränkter Empfang während der Covid Epidemie')
block main
    style.
        body{font-weight:600; }    
        .rouge{color: #A90101;}
        .bleu{color: blue;}
    section
        header
            h1=title
        h2 COVID-19-Epidemie
        p Infolge der aktuellen öffentlichen Maßnahmen,
        h3.red sind unsere Räumlichkeiten für Besucher geschlossen.
        p Wir bieten montags bis freitags zwischen 14 und 17 Uhr einen Telefonempfang an.
        p.bleu Handynummer: +33 (0)6 32 95 40 90
        p Um einen Telefontermin außerhalb dieser Zeiten zu vereinbaren, kontaktieren Sie uns per E-Mail oder SMS.
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Empfang') E-mail: bureau.asso@artistes-sf.org
        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug