extends ../templates/e-layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Discover the member artist\'s gallery and the services of our association !')
block main
    div
    section
        p#message #{title}         
        #textgauche
            header 
                h1  First exhibition in 2020: New workshop and Doug Petrovic
            .row
                .column
                    h2 The workshop
                    p
                    | We got our workshop back, more beautiful than before,
                    | bigger too, but that is due to the loss of furniture.
                    | In reality, thanks to the new wall, the room has shrunk by a couple of inches.
                    p
                    | The new beginning made it possible to redefine the space, with Doug's large table as a work table,
                    | a long board in front of the window, as a desk or counter for association meetings or exhibitions.
                    p  And the walls ... even more walls than before with space for very large paintings, like this Doug canvas, 250 x 75 cm.
                    h3 Opening of the workshop
                    p
                    | Our office is again accessible to the public, by appointment only.
                    br
                    | Appointment booking: every day between 11 a.m. and 7 p.m.
                    br
                    | Reception: Afternoon or evening, Monday to Friday.
                    img#image90(src="/images-news/2020/atelier2.jpg", title="Doug Petrovic's art work and table" alt="Doug Petrovic, oils paintings, gouaches and table")
                    br
                    | Doug Petrovic, table and gouaches                    
                .column
                    img#image90(src="/images-news/2020/atelier1.jpg", title="Doug Petrovic, art work  and the developers work stationr" alt="Doug Petrovic, oil on canvas, framing the developer's work station")
                    br
                    |  oil on canvas, framing the developer's work station
                    h3 The show
                    p Until the 14 Arts / Open Doors 2020, the exhibition of Doug's works will be visible by appointment and during public events.
            div
                h2 Upcoming events
                    h3 Spring Celebration
                    p
                    | Come back to this site to know the date of the housewarming party!
                    br
                    | It will be in the spring, when the weather is nice enough to have a party, which can spill over from the workshop into the garden.
                    br
                    | Send us an email if you wish to receive an invitation. 
                    a(href='mailto:bureau.asso@artistes-sf.org?subject=party asso') E-mail: bureau.asso@artistes-sf.org
                    h3 Open House - 14 Arts
                    p
                    | The date has not yet been released by the town hall, but the event will likely take place  in late June or July.
                    | We are still accepting applications for a group exhibition in our premises.