extends ../templates/e-layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Discover the member artist\'s gallery and the services of our association ! - Changed reception due to COVID epidemic')
block main
    style.
        body{font-weight:600; }    
        .rouge{color: #A90101;}
        .bleu{color: blue;}
    section
        header
            h1=title
        h2 COVID-19 epidemic
        p In accordance with current public measures,
        h3.red our premises are closed to the public.
        p We provide a telephone reception between 2 and 5 p.m., Monday to Friday.
        p.bleu Mobile number: +33 (0)6 32 95 40 90
        p To make a telephone appointment outside these hours, contact us by email or sms.
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Reception') E-mail: bureau.asso@artistes-sf.org
        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug