extends ../templates/e-layout.pug
block main
    div
        p #{title} 
        section
        header
            h1 New website
        p 
        | We are working on the new website. English pages will appear over the next weeks. 
        | The version will be completed during November. For pages not yet translated, please visit the new French version or the current English website. 
        h2
        a(href="/html/en/index.html", target="_blank") Artistes sans Frontieres - english
        