extends ../templates/layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Découvrez la galerie de nos membres artistes et les services de l\'association !, COVID-19 : Accueil sur rendez-vous ')

block main
    section
        header
            h1=title     
        .row
            .column
                h2 Nouveau Site pour notre conseil de quartier 
                p
                    | Un site Internet pour le 
                    a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') Conseil de Quartier Jean Moulin Porte d'Orléans, 
                    br
                    | c'est un projet créé par 
                    a(href='https://petrovic.ovh', rel='noopener', target='_blank')  Helga Petrovic 
                    | et l'équipe d'Artistes sans Frontières.
                    br
                    | Textes par Zeliha Chaffin.
            .columncenter
                a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') 
                    img.imagefullc(src="/images-news/2020/conseil-jmpo.jpg", title="Première version du site du conseil de quartier jmpo" alt="Première version du site du conseil de quartier jmpo") 
                    br
                    | Première version du site, le 6 octobre 2020
        h2 Nouveau film de Fatma-Zohra Zamoum :  Body &amp; Art
        p 
            | Le samedi 17 octobre 2020, à 19 h
            br
            | au ZKM, Zentrum für Kunst und Medien, Karlsruhe, Allemagne
        h3 Film et Entretien avec la cinéaste Fatma Zohra Zamoum
        p 
            | Body &amp; Art est une retrospective d'une performance artistique de Gunter Brus 
            |dans les rues de Vienne, Autriche, en 1965. 
            br
            |Avec Gunter Brus, Peter Weibel, Eva Badura Trischka et Yves Michaud. 

            a(href="https://zkm.de/de/veranstaltung/2020/10/body-art" rel='noopener' target="_blank") Programme detaillé de la soirée au ZKM 




        h2 Accueil dans nos lieux
        p
            | L'atelier de l'association est petit et notre équipe travaille surtout en télétravail. 
            | Pour les visites dans nos lieux, des nouveaux règles d'accueil s'appliquent :
            ul
                li visites uniquement sur rendez-vous
                li un ou deux visiteurs maximum
                li port du masque obligatoire
                li prises de rdv : 06 32 95 40 90, de mardi à samedi, entre 13 et 17h
                li rendez-vous de mardi à samedi à partir de 14h


        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug