extends ../templates/layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Découvrez la galerie de nos membres artistes et les services de l\'association !, COVID-19 : Annonce d\'accueil changé ')

block main
    style.
        body{font-weight:600; }    
        .rouge{color: #A90101;}
        .bleu{color: blue;}
    section
        header
            h1=title
        h2 Epidémie COVID-19
        p En accordance avec les mesures publiques en cours,
        h3.rouge nos lieux sont fermés au publique. 
        p Nous assurons un accueil téléphonique entre 14 et 17h, du lundi au vendredi.
        p.bleu Numéro de portable : 06 32 95 40 90
        p Pour prendre un rdv téléphonique en dehors de ces horaires, contactez-nous par mail ou sms.
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Accueil') E-mail: bureau.asso@artistes-sf.org

        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug