extends ../templates/layout.pug
block extrameta
    meta(name='author' content='Babacar')
    link(rel='stylesheet', href='/views/bb/animation.css')
    script(src='views/bb/animation.js')
block main
    section
        header
            h1=title
        .container
            #tab1   
            #tab2   
            #tab3  
            #tab4   
            #div4 04
            #div3 03
            #div2 02
            #div1 01
            #div4 04
            #div3 03
            #div2 02
            #div1 01
            #div4 04
            #div3 03
            #div2 02
            #div1 01
            #div4 04
            #div3 03
            #div2 02
            #div1 01
            #div4 04
            #div3 03
            #div2 02
            #div1 01
            #div4 04
            #div3 03
            #div2 02
            #div1 01    

        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug