extends ../templates/layout.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - Découvrez la galerie de nos membres artistes et les services de l\'association !, COVID-19 : Annonce d\'accueil changé ')

block main
    section
        header
            h1=title
        
        hr.piedvariable
        .piedvariable
            include ../templates/footer.pug