extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Roy Adzak')
    meta(name='robots', content='index, follow')
block main
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Roy ADZAK
                    img(src='/images-galerie/artists/adzak-logo.gif' alt='Roy Adzak, impression for a logo, by Doug')
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, lithographie')
                        .legendes Roy Adzak, lithographie
