extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Rangel Amorim, peintre')
    meta(name='robots', content='index, follow')
block main
    section
        #logoartist
            h1 Rangel Amorim
            img(src='/images-galerie/base/amorim/rangel-amorim-logo.gif' alt='Rangel Amorim, logo')
            p © Photos: Rangel Amorim, 2007
    section
        #diacontainer
            #dias
            #legende
        button#icons  courte pause 
            block script
            style.
                dias{background: #bccada;}
            script(src='../images-galerie/base/amorim/dias-listes.js')