extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, nos artistes avec leur propre site et nos autres sites')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background:#118cff60;padding:1em;}
    .fond
        h1 Autres sites Internet
        p Ces sites s'ouvrent dans un nouveau onglet
        h2 Sites d'artistes
        ul
            li 
                a(href='http://gabriella.carbone.free.fr/cadres.html', rel="noopener noreferrer nofollow", target='_blank') Carbone Gabriella 
            li 
                a(href='http://www.dock-sud.com/AET%202009%20GIETL%20Karl%20-%20du%2022-05-09%20au%2022-06-09.php ', rel="noopener noreferrer nofollow", target='_blank') Gietl Karl
            li
                a(href='https://yorgosmaryelis.weebly.com', rel="noopener noreferrer nofollow", target='_blank') Maryelis Yorgos
            li
                a(href='https://dougpetrovic.info', rel='noopener' target='_blank')  Petrovic Doug
            li
                a(href='https://petrovic.ovh/moab', rel="noopener", target='_blank') Petrovic Helga
            li
                a(href='https://hstrobl.info', rel='noopener', target='_blank') Strobl Helga    
            li
                a(href='https://www.larp.fr/membres/fatma-zohra-zamoum/', rel="noopener noreferrer nofollow", target='_blank') Zamoum Fatma-Zohra
    
        h2 Sites sur d'autres thèmes
        ul
            li
                a(href="https://stage.asf-web.fr/", rel="noopener" target="_blanc") Nos stagiaires
            li
                a(href='https://leroidesaulnes.org', rel="noopener" target="_blanc") Les Amis du Roi des Aulnes
            li
                a(href='https://artistessansfric.com',  rel="noopener" target="_blanc") Artistes sans Fric
            li
                a(href='refweb') References sites
            li
                a(href='refmhh', rel='noreferrer') MHH
            li
                a(href='refsdc') SDC
            li
                a(href='https://clownauguste.com', rel="noopener" target="_blanc") Le Clown
