extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Halit Bazencir
    section
        #imageartist
            img(src='/images-galerie/artists/bazencir.jpg' alt='Halit Baencir, 2008')
            #legende Halit Baencir, sans titre, 2008
    block aside