extends ../../templates/layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Roland Erguy, sculpteur')
    meta(name='robots', content='index, follow')
block main
    section
    h3=message
    h1=title
    div
        p Retrouvez ici bientôt le site refait de #{artist}
        p 
            a(href="https://art.artistes-sf.org/erguy/index.html" rel="noopener" target="_blank") Ancien site 

    block aside