extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Roland Erguy, sculpteur')
    meta(name='robots', content='index, follow')
block main
    section
        .row-artists
            .column35
                #logoartist
                    h1 Roland Erguy
                    img(src='/images-galerie/base/erguy/erguy_logo.gif' alt='Logo Roland Erguy')
                    h3 Oeuvres
                    #artistmenu
                        a(href='erguy') Métal
                        br
                        a(href='erguy2') Bois
                        br
                        a(href='erguy3') Matériel mixte
                        br
                        a(href="erguy4") Pierre
                    p © Photos: Roland Erguy, Helga Strobl
                    p Note: Textes en préparation
            .column65
                #diacontainer
                    #dias
                    #legende
                    block script
                    script(src='../images-galerie/base/erguy/dias-listes2.js')
        button#icons  courte pause    
        