extends ../../templates/layout-artistes.pug
block main
    style. 
        body{background: black;color:white;}
    section
        #logoartist
            h1 C. Frevarias
            img(src='/images-galerie/artists/freva-aff.jpg' alt='C.Frevarias, affiche d\'exposition 2007')
            #legende C.Frevarias, affiche d'exposition
    section
        #imageartist
            img(src='/images-galerie/artists/freva1.jpg' alt='C.Frevarias, portrait, 2007')
            #legende C.Frevarias, portrait
        block aside