extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Gabriel Gebka')
    meta(name='robots', content='noindex, nofollow')
block main
    div.fond
        style. 
            div.fond{background-color: black; color:white;}
            #icons {  background-color:#298D82;color:white;}
        section
            .row-artists
                .column35
                    #logoartist 
                        style. 
                            #logoartist{background-color: #298D82; color:#ff7722;}
                        h1 Gabriel Gebka
                        img(src='/images-galerie/base/gebka/gabriel-gebka.gif' alt='Gabriel Gebka, logo')
                        p Photos: Gabriel Gebka
                .column65
                    #diacontainer
                        #dias
                        #legende
                        block script
                            script(src='../images-galerie/base/gebka/dias-listes.js')
            button#icons  courte pause                 
            block aside