extends ../../templates/layout-galerie.pug
block main
        div
            section
                #message
                    h3=message
                h1=title
                p Vous retrouverez dans ce chapitre bientôt également : 
                
                h3 Des liens vers des sites non artistiques créés par AsF
                p ...



            block aside