extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - la galerie ')
    meta(name='robots', content='index, follow')
block main
    .fond
        section
            #message
                h3=message
            h1=title
            p Decouvrez nos artistes !


        block aside