extends ../../templates/layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Jalila Rezine, art textile')
    meta(name='robots', content='index, follow')
block main
    style. 
        body{background:#3333FF;color:#8B0000;}
    section
        #logoartist
            h1 Jalila Rezine
    section
        #imageartist
            img(src='/images-galerie/artists/jalila-rezine.jpg' alt='Jalila Rezine, art textile')
            #legende Jalila Rezine, art textile
    block aside