extends ../../templates/layout-galerie.pug
block main
    section
    h3=message
    h1=title
    div
        p Retrouvez ici bientôt le site de #{artist}
        p
            a(href="https://art.artistes-sf.org/krive/index.html", target="_blank") Ancien site 
    block aside