extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Merle, peintre')
    meta(name='robots', content='index, follow')
block main
    section
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/merle/jean-charles-merle-logo.gif' alt='Jean Charles Merle, logo')
                    h1 Jean Charles Merle
            .column65
                #diacontainer
                    #dias
                    #legende
                    block script
                    script(src='../images-galerie/base/merle/dias-listes.js')
        button#icons  courte pause    
