extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Lihidheb Mohsen, installations environnementales')
    meta(name='robots', content='index, follow')
block main
    div.fond
        style. 
            .fond{background-color: #ff6633;}
            #icons {  background-color:#298D82;color:#ff6633;;}
        section
            .row-artists
                .column35
                    #logoartist 
                        style. 
                            #logoartist{background-color: #0099ff}
                        h1 Mohsen Lihidheb
                        img(src='/images-galerie/base/mohsen/lihidheb-mohsen.gif' alt='Lihidheb Mohsen, logo')
                        p Photos: Mohsen Lihidheb
                .column65
                    #diacontainer
                        #dias
                        #legende
                        block script
                            style.
                                #legende{background:white;padding:2px;}
                                #dias{background-position: left top, center, right top;}
                            script(src='../images-galerie/base/mohsen/dias-listes.js')
            button#icons  courte pause   
                style. 
                    #icons{background-color:white;color: #0066ff}