extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Lihidheb Mohsen, installations environnementales')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/mohsen/dias-listes.js')
    script(src='../js/galerie.js')
block main
    style.
        #legende{background-color:white;padding:2px;}
        .fond{background-color: #ff6633;}
        #icons{background-color:white;color: #0066ff;font-weight:600;}
        #dias{background-position: left top, center, right top;}
        .am{border-color:rgba(255, 102, 51, 0.4);color: #0066ff;font-weight:600;background-color: white;margin:1px;}

    .fond
        .row-artists
            .column35
                #logoartist 
                    style. 
                        #logoartist{background-color: #0099ff}
                    h1 Mohsen Lihidheb
                    img(src='/images-galerie/base/mohsen/lihidheb-mohsen.gif' alt='Lihidheb Mohsen, logo')
                    #artistmenu
                        a(aria-label="Installations environnementales" href='mohsen' title="Installations de l'éco-artiste") 
                            button.am Installations
                        br
                        button#goToExtratext.am(aria-label="Les poèmes" type='submit' title="Poésie") Poésie
                        br
                        button#goToBio.am(aria-label="voir la biographie" type='submit title="voir la biographie')  Biographie           
                        
                    p Photos: Mohsen Lihidheb
            .column65
                #diacontainer
                    #dias
                    #legende

                #bio
                    h2 à suivre
                #extratext
                    h2 Poèmes - à suivre
        button#icons  courte pause   
