extends ../../templates/layout-artistes.pug
block main
    style. 
        body{background:#d7d7d7;}
    section
        #logoartist
            h1 Marie-Thérèse Masias
            p Photo: Marie-Thérèse Masias, 2007
    section
        #imageartist
            img(src='/images-galerie/artists/mtm-sculpture.jpg' alt='Marie-Thérèse Masias, sculpture email sur cuivre')
            #legende Marie-Thérèse Masias, sculpture email sur cuivre, 60 cm
    block aside