extends ../../templates/layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Nicolas, litho')
    meta(name='robots', content='noindex, nofollow')
block main
    section
    h3=message
    h1=title
    div
        p Retrouvez ici bientôt le site de #{artist}
        
    block aside