extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #dddddd;}
    section
        #logoartist
            h1 Robert Paquet
            #legende  
                p "Songeuse"
                p sculpture,
                br
                | bronze, patine bleue,
                br
                | 19 cm de haut
                br
                | 2008
                p Photo : Morteyrolle
    section
        #imageartist
            img(src='/images-galerie/artists/paquetrobert-sculpture-bleue.jpg' alt='Robert Paquet, "Songeuse", sculpture bleue')
           
    block aside