extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Pillas, peintre')
    meta(name='robots', content='index, follow')
block main
    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/pillas/catherine-pillas-logo.gif' alt='Catherine Pillas, logo')
                    h1 Catherine Pillas
            .column65
                #diacontainer
                    #dias
                    #legende
                    script(src='../js/dias-code-base.js')
                    script(src='../images-galerie/base/pillas/dias-listes.js')
        button#icons  courte pause    