extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Mary Quartarone')
    meta(name='robots', content='index, follow')
block main
    .fond
        style.
            .fond{background: #e8e8e8;}
            #legende{font-weight:600;}

        section
            .row-artists
                .column35
                    #logoartist
                        h1 Mary Quartarone
                        p © Photos : Mary Quartarone, Canada

                .column65
                    #diacontainer
                        #dias
                        #legende
                        block script
                        script(src='../images-galerie/base/quartarone/dias-listes.js')
            button#icons  courte pause    