extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Suzan Rasmussen, peintre')
    meta(name='robots', content='index, follow')
block main
    style.            
        #legende{font-weight:600;}
    .fond   
        .row-artists
            .column35
                #logoartist
                    h1 Suzan Rasmussen
                    img(src='/images-galerie/base/rasmussen/suzan-rasmussen-logo.gif' alt='Logo Suzan Rasmussen')
                    h3 Réalisations
                    #artistmenu
                        a(href='rasmussen') The ancestors speak
                        br
                        a(href='rasmussen2') Cancer series
                        br
                        a(href='rasmussen3') Landscapes
                        br
                        a(href='rasmussen4') Nudes
                        br
                        a(href='rasmussen5') Portraits
                        
                    p © Photos : Suzan Rasmussen et Helga Strobl
            .column65
                #diacontainer
                    #dias
                    #legende
                    style.
                        dias{background: #bccada;}
                    script(src='../js/dias-code-base.js')
                    script(src='../images-galerie/base/rasmussen/dias-listes2.js')
        button#icons  courte pause    
        