extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #eeeeee;}
    section
        #logoartist
            h1 Nos réferences de logos
            p détails à suivre