extends ../../templates/layout-galerie-base.pug
block main
    .fond
        section
            #logoartist
                h1 Site web pour une institution culturelle
                p  Ce projet comprenait le site, un archive audio et vidéo, l'intégration de services existants, la charte graphique ...    
                p Le site n'est plus en ligne. 
                img(src='/images-galerie/references/mhh1.jpg' alt='page d\'accueil')

        