extends ../../templates/layout-artistes.pug
block main
    section
        #logoartist
            h1 Site web pour une institution culturelle
            p  Ce projet comprenait le site, un archive audio et vidéo, l'intégration de services existants, la charte graphique ...    
            p Le site n'est plus en ligne. 
            img(src='/images-galerie/references/mhh1.jpg' alt='page d\'accueil')
//-	section
    #imageartist
    img(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, lithographie')
        #legende Roy Adzak, lithographie
    block aside