extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 SD Consulting
            p 
            | Agence d'intelligence économique
            br 
            | Le site n'est plus en ligne
            img(src='/images-galerie/references/sdc.jpg' alt='page d\'accueil')