extends ../../templates/layout-galerie-base.pug
block main
    .fond
        style.
            .fond{background: #eeeeee;}
        section
            #logoartist
                h1 Nos réferences de sites
                p détails à suivre