extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Shannon Reggaro
    section
        #imageartist
            img(src='/images-galerie/artists/shannon-painting.jpg' alt='Shannon Reggaro en 2016')
            #legende Shannon Reggaro - les oeuvres seront visibles bientôt
    block aside