extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Elisa Souche, photographies')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bbbbbb;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Elisa Souche
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-news/2012/daudet-affiche-1210.jpg', alt='Elisa Souche, affiche d\'exposition, 2012')
                        .legendes Elisa Souche, affiche d'exposition, 2012
