extends ../../templates/layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Elisa Souche, photographies')
    meta(name='robots', content='index, follow')
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Elisa Souche
                img(src='/images-news/2012/daudet-affiche-1210.jpg', alt='Elisa Souche, affiche d\'exposition, 2012')
                #legende Elisa Souche, affiche d'exposition, 2012
        
    block aside