extends ../../templates/layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Fabienne Stoulig, peintre')
    meta(name='robots', content='index, follow')
block main
    style.
        body{background: #dddddd;}
    section
        #logoartist
            #legende 
                h1 Fabienne Stoulig
                p "Ne bougez plus"
                p 
                | 205 x 90 cm
                br
                | Acrylique sur toile,
                br
                | encadrement tissé de fil doré
    section
        #imageartist
            img(src='/images-galerie/artists/stoulig-fabienne.jpg' alt='Fabienne Stoulig, "Ne bougez plus"')
    block aside