extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Valgallard, peintre')
    meta(name='robots', content='index, follow')
block main
    style.
        #legende{font-weight:600;}
    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/val-gallard/valgallard1.gif' alt='Logo Valgallard')
                    h1 Val-Gallard
                    h3 Peintures
                    #artistmenu
                        a(href='valgallard') Galerie 1
                        br
                        a(href='valgallard2') Galerie 2
                        br
                        a(href='valgallard3') Galerie 3
                        br
                        a(href="valgallard4") Galerie 4
                        br
                        a(href='valgallard5') Galerie 5
                        br
                        a(href="valgallard6") Galerie 6
                        br
                        | Note: Site en préparation

                    p © Photos : Valerie Gallard

            .column65
                #diacontainer
                    #dias
                    #legende
                    script(src='../js/dias-code-base.js')
                    script(src='../images-galerie/base/val-gallard/dias-listes6.js')
        button#icons  courte pause    