extends ../../templates/layout-galerie.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Villa Ada, peintre')
    meta(name='robots', content='noindex, nofollow')
block main
    section
    h3=message
    h1=title
    div
        p Retrouvez ici bientôt le site de #{artist}
        p
         a(href="https://art.artistes-sf.org/val-gallard/index.html" rel="noopener noreferrer nofollow" target="_blank") Ancien site 
    block aside