extends ../../templates/layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Fatma-Zohra Zamoum, cinéaste')
    meta(name='robots', content='index, follow')
block main
    style.
        .legendes{font-weight:600; background-color:white;}
    .fond
        .row-artists
            .column35
                #logoartist
                    #message=message
                    h1 Fatma-Zohra Zamoum, cinéaste
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-news/2014/fatma-zohra-zamoum_azib-zamoum.jpg' alt='affiche de film, Azib Zamoum') 
                        .legendes Affiche du film "Azib Zamoum, une histoire de terres" montré lors des "Portes Ouvertes"
