extends ../../templates/layout.pug
block main
    section
        header
            h1=title
        p 
        | Artistes sans Frontières est une organisation destiné à aider les artistes dans le monde entier &agrave; se faire connaître. 
        br
        | Elle est financée par les cotisations des membres, par des dons et pardes services payants.
        h2 Les objectifs de l'association:
        p Un échange international de l'art et des artistes: Organiser des expositions et des contacts pour des artistes français à l'étranger et accueillir en France des artistes nationaux et internationaux de tous horizons: peintres, écrivains, sculpteurs, musiciens, photographes, cinéastes, artistes multimédia et créateurs dans les arts électroniques et également les artisans.
        h2 Les statuts
        p 
        | Les statuts sont disponibles en format pdf sur demande par e-mail ou via le formulaire de contact complètement rempli. 
        br
        | Pour les demandes par mail, indiquez votre nom, adresse et numéro de téléphone. 
        br
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Demande des statuts') E-mail: bureau.asso@artistes-sf.org

    aside
    p ---




