extends ../../templates/layout.pug
block main
    section
        header
            h1=title
        p 
        | Artistes sans Frontières est une organisation destiné à aider les artistes du monde entier à se faire connaître. 
        br
        | Elle est uniquement financée par les cotisations de ses membres, par des dons et par des services payants.
        p 
        | L'association favorise les échanges entre artistes de divers pays et de toute forme d'expression artistique. 
        | Elle organise des expositions et elle offre un réseau social d'échange entre membres (en cours de création, mise en ligne prévue début 2020).
        | Elle établit des contacts à l'étranger pour des artistes français et accueille en France des artistes nationaux et internationaux.
        | Que vous soyez peintre, écrivain, sculpteur, musicien, photographe, cinéaste, artiste multimédia, créateur dans les arts électroniques, artisan, ou simple passionné ou amateur d'art, soyez bienvenu(e).
       
        h2 Les statuts
        p 
        | Les statuts sont disponibles en format pdf sur demande par e-mail ou via le formulaire de contact complètement rempli. 
        br
        | Pour les demandes par email, indiquez votre nom, adresse et numéro de téléphone. 
        br
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Demande des statuts') E-mail: bureau.asso@artistes-sf.org

    aside
    p 




