
div
    span
        a(href='/site/dindex')
            img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
            br
            | Home
    ul.menu1
        li
            a(href='dactuel') Actuelles
        li
            a(href='dactuel') 2019 - 2015
            ul.menu2 
                li 2019
                li 
                    a(href='19-1')  Ankündigungen
                li
                    a(href='19-2')  Nouveau site
                li
                    a(href="19-3") Offene Türen
                li
                    a(href='19-4')  Eté 
                li
                    a(href='19-5')  Foto Monat 

                li 2018
                li 
                    a(href='18-1')  Hommage
                li
                    a(href='18-2')  Offene Türen
                li 2017
                li
                    a(href='17-1') Foto Monat
                li
                    a(href='17-2')  Offene Türen
                li 2016
                li 
                    a(href='16-3')  Ausstellung Rencontres 
                li
                    a(href='16-2')  Offene Türen
                li
                    a(href='16-1')  Künstler im Atelier 
                li 2015
                li
                    a(href='15-1')  Invitation PO
                li
                    a(href='15-2')  Offene Türen
        li
            a(href='14-2') 2014 - 2010
            ul.menu2 
                li 2014
                li
                    a(href='14-3')  Foto Monat
                li
                    a(href='14-2')  Offene Türen
                li
                    a(href='14-1')  Ankündigungen
                li 2013
                li
                    a(href='13-1')  Ankündigungen
                li 
                    a(href='13-2')  Offene Türen 
                li 2012
                li
                    a(href='12-4')  Foto Monat
                li
                    a(href='12-3')  Offene Türen
                li
                    a(href='12-2')  Ankündigungen
                li
                    a(href='12-1')  Veränderungen
                li 2011
                li
                    a(href='11-4')  Tod Doug
                li
                    a(href='11-3')  Offene Türen
                li
                    a(href='11-2')  Ankündigungen, Mohsen
                li
                    a(href='11-1')  Ausstellung Doug Petrovic
                li 2010
                li
                    a(href='10-7')  Ausstellung Doug Petrovic  
                li
                    a(href='10-6')  Salon Photo  
                li
                    a(href='10-5')  2010-5 
                li
                    a(href='10-4')  2010-4 
                li
                    a(href='10-3')  Offene Türen 
                li
                    a(href='10-2')  2010-2 
                li
                    a(href='10-1')  2010-1 
        li
            a(href='09-8') 2009 - 2007
            ul.menu2 
                li 2009
                li
                    a(href='09-9')  2009-9 
                li
                    a(href='09-8')  J E A 
                li
                    a(href='09-7')  Ausstellung Erguy
                li
                    a(href='09-6')  Ausstellung 3F
                li
                    a(href='09-5')  2009-5
                li
                    a(href='09-4')  Offene Türen 
                li
                    a(href='09-3')  2009-3 
                li
                    a(href='09-2')  Ausstellung Carbone
                li
                    a(href='09-1')  2009-1 
                li 2008
                li
                    a(href='08-4')  Offene Türen
                li
                    a(href='08-3')  2008-3 
                li
                    a(href='08-2')  2008-2 
                li
                    a(href='08-1')  2008-1  
                li 2007
                li
                    a(href='07-8')  Abschiedsfeier 
                li
                    a(href='07-7')  Ausstellung Loft  
                li
                    a(href='07-6')  2007-6,  
                li
                    a(href='07-5')  Vereinsfest  
                li
                    a(href='07-4')  2007-4  
                li
                    a(href='07-3')  Offene Türen 
                li
                    a(href='07-2')  Ausstellung Freva
                li
                    a(href='07-1')  2007-1
        li
            a(href='06-11') 2006 - 2000
            ul.menu2     
                li 2006
                li
                    a(href='06-12')  Ausstellung Pluvinage   
                li   
                    a(href='06-10')  Art du Nu
                li
                    a(href='06-9')  Pariser Herbst Ausstellung    
                li   
                    a(href='06-8')  Ausstellung Loft 
                li
                    a(href='06-7')  Tiki Joe 
                li  
                    a(href='06-6')  2006-6  
                li
                    a(href='06-5')  Vereinsfest 
                li
                    a(href='06-4')  Offene Türen 
                li
                    a(href='06-3')  Ausstellung Erguy 
                li
                    a(href='06-2')  2006-2  
                li
                    a(href='06-1')  2006-1 
                li 2005
                li
                    a(href='05-10')  Ausstellung à Sète
                li
                    a(href='05-9')  Offene Türen
                li
                    a(href='05-8')  2005-8 
                li
                    a(href='05-7')  Pariser Herbst Ausstellung 
                li
                    a(href='05-6')  Pont Audemer 
                li
                    a(href='05-5')  Ausstellung Loft
                li
                    a(href='05-4')  Loft Fortsetzung 
                li
                    a(href='05-3')  Offene Türen
                li
                    a(href='05-2')  2005-2
                li
                    a(href='05-1')  2005-1
                li 2004
                li
                    a(href='04-1')  Offene Türen
                li
                    a(href='04-2')  2004-2
                li 
                    a(href='01')  2001
                li 
                    a(href='00')  2000


    hr
    ul.smenu1
        li    
            a(href='/archive/'+future) Zukunft 
            a(href='/archive/'+future)
                img.fleche(src="/images/pfeil-o.png", alt="Richtung Zukunft")
        li
            a(href='/archive/'+past) 
                img.fleche(src="/images/pfeil-u.png", alt="Richtung Vergangenheit")
                | Vergangenheit
    span.language
        a(href=eevent) 
            img.drapeau(src="/images/drapeau-en.png", alt='English Version')
        a(href=fevent) 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française')
