
.menucontainer
    .start
        a.asf(aria-label="zurück zur Startseite" href='/site/dindex' tabindex="0" title="logo A S F" role="button")           
        a.mini(aria-label="zurück zur Startseite" href='/site/dindex') Home 
    a.min600(aria-label="zurück zur Startseite" href='/site/dindex') Home 

    .arrows
        a.arrowup(aria-label="im Archiv von der Vergangenheit Richtung Gegenwart blättern" href='/archive/'+future role="button"  tabindex="0" title="flèche haut")
        a.arrowtextup(aria-label="im Archiv von der Vergangenheit Richtung Gegenwart blättern" href='/archive/'+future ) Heute
        a.arrowdown(aria-label="im Archiv von der Gegenwart Richtung Vergangenheit blättern" href='/archive/'+past role="button"  tabindex="0" title="flèche bas")         
        a.arrowtextdown(aria-label="im Archiv von der Gegenwart Richtung Vergangenheit blättern" href='/archive/'+past) Gestern

    ul.menu1
        li
            a(href='dactuel') Actuelles
        li
            a(href='dactuel') 2020 - 
                span.mini
                    |20
                span.see
                    |15
            ul.menu2 
                li 2020
                li
                    a(href='20-4')  Grosses Team 
                li
                    a(href="20-3") Neu im Team
                li
                    a(href='20-2')  Covid                
                li 
                    a(href='20-1')  Ankündigungen
                li 2019
                li
                    a(href='19-6')  Baustelle 
                li
                    a(href='19-5')  Foto Monat 
                li
                    a(href='19-4')  Sommer 
                li
                    a(href="19-3")  Offene Türen
                li
                    a(href='19-2')  Neue Website                
                li 
                    a(href='19-1')  Ankündigungen
                li 2018                
                li
                    a(href='d18-2')  Offene Türen
                li 
                    a(href='d18-1')  Hommage
                li 2017
                li
                    a(href='d17-2')  Offene Türen
                li
                    a(href='d17-1') Foto Monat
                li 2016
                li 
                    a(href='d16-3')  Ausstellung Rencontres 
                li
                    a(href='d16-2')  Offene Türen
                li
                    a(href='d16-1')  Künstler im Atelier 
                li 2015
                li
                    a(href='d15-2')  Offene Türen
                li
                    a(href='d15-1')  Invitation PO                
        li
            a(href='d14-2')
                span.mini 
                    |20
                span.see
                    |14 - 
                span.mini
                    |20
                span.see
                    |09
            ul.menu2 
                li 2014
                li
                    a(href='d14-3')  Foto Monat
                li
                    a(href='d14-2')  Offene Türen
                li
                    a(href='d14-1')  Ankündigungen
                li 2013
                li
                    a(href='d13-1')  Ankündigungen
                li 
                    a(href='d13-2')  Offene Türen 
                li 2012
                li
                    a(href='d12-4')  Foto Monat
                li
                    a(href='d12-3')  Offene Türen
                li
                    a(href='d12-2')  Ankündigungen
                li
                    a(href='d12-1')  Veränderungen
                li 2011
                li
                    a(href='d11-4')  Tod Doug
                li
                    a(href='d11-3')  Offene Türen
                li
                    a(href='d11-2')  Ankündigungen, Mohsen
                li
                    a(href='d11-1')  Ausstellung Doug Petrovic
                li 2010
                li
                    a(href='d10-8')  Ausstellung Doug Petrovic  
                li
                    a(href='d10-7')  Salon Photo  
                li
                    a(href='d10-6')  Ankündigungen
                li
                    a(href='d10-5')  Ankündigungen
                li
                    a(href='d10-4')  Offene Türen 
                li
                    a(href='d10-3')  Offene Türen 
                li
                    a(href='d10-2')  Ankündigungen 
                li
                    a(href='d10-1')  Ankündigungen
                li 2009
                li
                    a(href='d09-10')  Ausstellung Freva
                li
                    a(href='d09-9')  J E A 
                li
                    a(href='d09-8')  Ausstellung Erguy
                li
                    a(href='d09-7')  Ausstellung Loizeau
                li
                    a(href='d09-6')  Ausstellung 3F
                li
                    a(href='d09-5')  Ankündigungen
                li
                    a(href='d09-4')  Offene Türen 
                li
                    a(href='d09-3')  Offene Türen 
                li
                    a(href='d09-2')  Ausstellung Carbone
                li
                    a(href='d09-1')  Ankündigungen
        li
            a(href='d08-4')
                span.mini 
                    |20
                span.see
                    |08 - 
                span.mini
                    |20
                span.see
                    |00  
            ul.menu2 
                li 2008
                li
                    a(href='d08-4')  Offene Türen
                li
                    a(href='d08-3')  2008-3 
                li
                    a(href='d08-2')  2008-2 
                li
                    a(href='d08-1')  2008-1  
                li 2007
                li
                    a(href='d07-8')  Abschiedsfeier 
                li
                    a(href='d07-7')  Ausstellung Loft  
                li
                    a(href='d07-6')  Ankündigungen 
                li
                    a(href='d07-5')  Vereinsfest  
                li
                    a(href='d07-4')  Website, Blog  
                li
                    a(href='d07-3')  Offene Türen 
                li
                    a(href='d07-2')  Ausstellung Freva
                li
                    a(href='d07-1')  Foto Service
                li 2006
                li
                    a(href='d06-14')  Ausstellung Pluvinage   
                li   
                    a(href='d06-13')  Salon Art du Nu
                li   
                    a(href='d06-12')  Stand Art du Nu
                li
                    a(href='d06-11')  Pariser Herbst Ausstellung
                li   
                    a(href='d06-10')  Finissage Loft 
                li   
                    a(href='d06-9')  Ausstellung Loft 
                li   
                    a(href='d06-8')  Ankündigungen
                li
                    a(href='d06-7')  Tiki Joe 
                li  
                    a(href='d06-6')  Vereinsfest
                li
                    a(href='d06-5')  Ankündigungen  
                li
                    a(href='d06-4')  Offene Türen 
                li
                    a(href='d06-3')  Ausstellung Erguy 
                li
                    a(href='d06-2')  Ankündigungen 
                li
                    a(href='d06-1')  Neue Webseite 
                li 2005
                li
                    a(href='d05-11')  Ausstellung Sète
                li
                    a(href='d05-10')  Offene Türen 
                li
                    a(href='d05-9')  Ankündigungen
                li
                    a(href='d05-8')  Salon des Arts
                li
                    a(href='d05-7')  Pont Audemer 
                li
                    a(href='d05-6')  Loft Galerie Fotos 
                li
                    a(href='d05-5')  Ausstellung Loft
                li
                    a(href='d05-4')  Offene Türen
                li
                    a(href='d05-3')  Ankündigungen 
                li
                    a(href='d05-2')  Einladung Loft Gallery
                li
                    a(href='d05-1')  Künstler des Jahres              	
                li 2004
                li
                    a(href='d04-3')  Offene Türen
                li
                    a(href='d04-2')  Ausstellung Doug
                li
                    a(href='d04-1')  Offene Türen
                li 
                    a(href='d01')  2001
                li 
                    a(href='d00')  2000

    a.flage(aria-label="Englishe Version dieser Seite" href=eevent title="English Version"  role="button"  tabindex="0")  
    a.flagf(aria-label="Französische Version dieser Seite" href=fevent title="Version française" role="button"  tabindex="0")   
