.menucontainer
    .start
        a.asf(aria-label="Startseite Kapitel Verein" title='logo Artistes sans Frontières' href='/site/index' tabindex="0" role="button" )
    
    ul.menu1
        li
            a(href='site/buts') Verein AsF
        li
            a(href='galerie/dindex') Galerie
        li
            a(href='archive/dactuel') Neuigkeiten

    a.flage(aria-label="Englishe Version dieser Seite" href='e-index' title="English Version"  role="button"  tabindex="0") 
    a.flagf(aria-label="Französische Version dieser Seite" href='index' title="Version française" role="button"  tabindex="0")   
