div
    span
        a(href='/site/dindex')
            img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        
        li
            a(href='amorim') Malerei...&nbsp;A&#x2011;M
            ul.menu2
                li  
                    a(href='adzak') Adzak Roy
                li
                    a(href='amorim') Amorim Rangel 
                li
                    a(href='bazencir') Bazencir Halit  
                li 
                    a(href='http://gabriella.carbone.free.fr/cadres.html', target='_blank') Carbone Gabriella 
                li
                    a(href='champagne') Champagne Pierrette 
                li
                    a(href='delaney') Delaney Beauford 
                li
                    a(href='erguy') Erguy Roland  
                li
                    a(href='frevarias') Frevarias C.
                li
                    a(href='gebka') Gebka Gabriel
                li 
                    a(href='https://www.dock-sud.com/AET%202009%20GIETL%20Karl%20-%20du%2022-05-09%20au%2022-06-09.php ', target='_blank') Gietl Karl
                li
                    a(href='gruyters') Gruyters Dirk
                li
                    a(href='kouassi') Kouassi Germain
                li
                    a(href='krive') "Krive" Eva Krischan
                li
                    a(href='https://yorgosmaryelis.weebly.com', target='_blank') Maryelis Yorgos
                li
                    a(href='merle') Merle Jean-Charles     

        li
            a(href='amorim') Malerei&nbsp;N&#x2011;Z
            ul.menu2
                li
                    a(href='nicolas') Nicolas
                li
                    a(href='plazanet') P.Plazanet 
                li
                    a(href='https://dougpetrovic.info', target='_blank')  Petrovic Doug
                li
                    a(href='pillas')  Pillas Catherine
                li
                    a(href='quartarone') Quartarone Mary
                li
                    a(href='rasmussen') Rasmussen Suzan
                li
                    a(href='reggaro') Shannon Reggaro
                li
                    a(href='schwertfeger') Schwertfeger J.
                li
                    a(href='stoulig') Stoulig Fabienne
                li
                    a(href='tajuddin') Tajuddin Ahmed
                li
                    a(href='valgallard') Val-Gallard  
                li
                    a(href='villaada') Villa Ada 
        li
            a(href='paquetrobert') Skulptur...
            ul.menu2
                li  
                    a(href='adzak') Adzak Roy
                li
                    a(href='erguy') Erguy Roland  
                li
                    a(href='mtm') MTM Massias M-T 
                li
                    a(href='paquetrobert') Paquet Robert 
                li
                    a(href='https://dougpetrovic.info', target='_blank') Petrovic Doug
                li
                    a(href='pluvinage') Pluvinage Claire
                li  
                    a(href='rahs')  Rahs Wolfgang
                li  
                    a(href='jalila') Rezine Jalila
                li
                    a(href='wright')  Wright Nicholas              
        br.mini
        li 
            a(href='lepaquet') Architektur ... 
            ul.menu2
                li
                    a(href='lepaquet') LePaquet
                li
                    a(href='https://yorgosmaryelis.weebly.com' target='_blank') Maryelis Yorgos
                li
                    a(href='mohsen')  Mohsen Lihidheb
                li
                    a(href='sylviaartdeco') Simoncelli Sylvia Artdeco
        li 
            a(href='strobl') Film, Foto 
            ul.menu2
                li
                    a(href='http://gabriella.carbone.free.fr/', target='_blank') Carbone Gabriella
                li
                    a(href='emory') Rick Emory
                li
                    a(href='https://petrovic.ovh/moab',target='_blank') Petrovic Helga
                li
                    a(href='souche') Elisa Souche
                li
                    a(href='https://hstrobl.info',target='_blank') Strobl Helga    
                li
                    a(href='https://www.larp.fr/membres/fatma-zohra-zamoum/',target='_blank') Zamoum F.-Z.      

        hr    
        li
            a(href='asfric') Andere Webseiten
            ul.menu2
                li
                    a(href='https://leroidesaulnes.org') Les Amis du Roi des Aulnes
                li
                    a(href='asfric') Artistes sans Fric
                li
                    a(href='belz') Belz J.
                li
                    a(href='clown') Le Clown
                li
                    a(href='informatix') Informatix
                li
                    a(href='mhh') MHH
                li
                    a(href='sdc') SDC
                li
                    a(href='vite') Vite fait bien fait
    span.language
        a(href='e-index') 
            img.drapeau(src="/images/drapeau-en.png", alt='English version')
        a(href='f-index') 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française')
