div
    span.mobile.home
        a(aria-label="zurück zur Startseite" href='/site/dindex' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières' tabindex="0" role="button")
    span.desktop.home
        a(aria-label="zurück zur Startseite" href='/site/dindex' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières' tabindex="0" role="button")
            br
            | Home 
    ul.menu1
        li
            a(href='dbuts') Verein...
            ul.menu2
                li
                    a(href='dbuts') Unsere Ziele
                li
                    a(href='dnous') Geschichte
                li
                    a(href='dcontact') Kontakt
                li
                    a(href='djoin') Mitglied werden
                li
                    a(href='dmentions') Impressum
        li
            a(href='services') Service...
            ul.menu2
                li
                    a(href='dexpos') Ausstellungen
                li
                    a(href='dsites') Websites
                li
                    a(href='dapps') Apps
                li
                    a(href='dstages') Kurse
                li
                    a(href='ddivers') Weiteres
                li
                    a(href='dterms') Geschäftsbedingungen 
        li
            a(href='/galerie/dindex') Galerie
        li
            a(href='/archive/dactuel') Neuigkeiten
    span.language
        a(aria-label="Englishe Version dieser Seite" href=target.ciblee) 
            img.drapeau(src="/images/drapeau-en.png", alt='English version' role="button"  tabindex="0")
        a(aria-label="Französische Version dieser Seite" href=target.ciblef) 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française' role="button"  tabindex="0")

