div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') Verein AsF
        li
            a(href='galerie/dindex') Galerie
        li
            a(href='archive/dactuel') Neuigkeiten
       
    span.language
        a(href='e-index') 
            img.drapeau(src="/images/drapeau-en.png", alt='English version')
        a(href="index") 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française')
               