
div
    span
        a(aria-labelledby="zurück zur Startseite" href='/site/dindex' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières')
            br
            | Home
    ul.menu1
        li
            a(href='dactuel') Actuelles
        li
            a(href='dactuel') 2020 - 2015
            ul.menu2 
                li 2019
                li 
                    a(href='d19-1')  Ankündigungen
                li
                    a(href='d19-2')  Nouveau site
                li
                    a(href="d19-3") Offene Türen
                li
                    a(href='d19-4')  Sommer 
                li
                    a(href='d19-5')  Foto Monat 
                li 2018
                li 
                    a(href='d18-1')  Hommage
                li
                    a(href='d18-2')  Offene Türen
                li 2017
                li
                    a(href='d17-1') Foto Monat
                li
                    a(href='d17-2')  Offene Türen
                li 2016
                li 
                    a(href='d16-3')  Ausstellung Rencontres 
                li
                    a(href='d16-2')  Offene Türen
                li
                    a(href='d16-1')  Künstler im Atelier 
                li 2015
                li
                    a(href='d15-1')  Invitation PO
                li
                    a(href='d15-2')  Offene Türen
        li
            a(href='d14-2') 2014 - 2009
            ul.menu2 
                li 2014
                li
                    a(href='d14-3')  Foto Monat
                li
                    a(href='d14-2')  Offene Türen
                li
                    a(href='d14-1')  Ankündigungen
                li 2013
                li
                    a(href='d13-1')  Ankündigungen
                li 
                    a(href='d13-2')  Offene Türen 
                li 2012
                li
                    a(href='d12-4')  Foto Monat
                li
                    a(href='d12-3')  Offene Türen
                li
                    a(href='d12-2')  Ankündigungen
                li
                    a(href='d12-1')  Veränderungen
                li 2011
                li
                    a(href='d11-4')  Tod Doug
                li
                    a(href='d11-3')  Offene Türen
                li
                    a(href='d11-2')  Ankündigungen, Mohsen
                li
                    a(href='d11-1')  Ausstellung Doug Petrovic
                li 2010
                li
                    a(href='d10-7')  Ausstellung Doug Petrovic  
                li
                    a(href='d10-6')  Salon Photo  
                li
                    a(href='d10-5')  2010-5 
                li
                    a(href='d10-4')  2010-4 
                li
                    a(href='d10-3')  Offene Türen 
                li
                    a(href='d10-2')  2010-2 
                li
                    a(href='d10-1')  2010-1
                li 2009
                li
                    a(href='d09-9')  2009-9 
                li
                    a(href='d09-8')  J E A 
                li
                    a(href='d09-7')  Ausstellung Erguy
                li
                    a(href='d09-6')  Ausstellung 3F
                li
                    a(href='d09-5')  2009-5
                li
                    a(href='d09-4')  Offene Türen 
                li
                    a(href='d09-3')  2009-3 
                li
                    a(href='d09-2')  Ausstellung Carbone
                li
                    a(href='d09-1')  2009-1  
        li
            a(href='d08-4') 2008 - 2000
            ul.menu2 
                li 2008
                li
                    a(href='d08-4')  Offene Türen
                li
                    a(href='d08-3')  2008-3 
                li
                    a(href='d08-2')  2008-2 
                li
                    a(href='d08-1')  2008-1  
                li 2007
                li
                    a(href='d07-8')  Abschiedsfeier 
                li
                    a(href='d07-7')  Ausstellung Loft  
                li
                    a(href='d07-6')  2007-6,  
                li
                    a(href='d07-5')  Vereinsfest  
                li
                    a(href='d07-4')  2007-4  
                li
                    a(href='d07-3')  Offene Türen 
                li
                    a(href='d07-2')  Ausstellung Freva
                li
                    a(href='d07-1')  2007-1
                li 2006
                li
                    a(href='d06-12')  Ausstellung Pluvinage   
                li   
                    a(href='d06-10')  Art du Nu
                li
                    a(href='d06-9')  Pariser Herbst Ausstellung    
                li   
                    a(href='d06-8')  Ausstellung Loft 
                li
                    a(href='d06-7')  Tiki Joe 
                li  
                    a(href='d06-6')  2006-6  
                li
                    a(href='d06-5')  Vereinsfest 
                li
                    a(href='d06-4')  Offene Türen 
                li
                    a(href='d06-3')  Ausstellung Erguy 
                li
                    a(href='d06-2')  2006-2  
                li
                    a(href='d06-1')  2006-1 
                li 2005
                li
                    a(href='d05-10')  Ausstellung à Sète
                li
                    a(href='d05-9')  Offene Türen
                li
                    a(href='d05-8')  2005-8 
                li
                    a(href='d05-7')  Pariser Herbst Ausstellung 
                li
                    a(href='d05-6')  Pont Audemer 
                li
                    a(href='d05-5')  Ausstellung Loft
                li
                    a(href='d05-4')  Loft Fortsetzung 
                li
                    a(href='d05-3')  Offene Türen
                li
                    a(href='d05-2')  2005-2
                li
                    a(href='d05-1')  2005-1
                li 2004
                li
                    a(href='d04-1')  Offene Türen
                li
                    a(href='d04-2')  2004-2
                li 
                    a(href='d01')  2001
                li 
                    a(href='d00')  2000
    hr
    ul.smenu1
        li    
            a(href='/archive/'+future) Zukunft 
            a(aria-label="blättern im Archiv von der Vergangenheit Richtung Gegenwart" href='/archive/'+future role="button"  tabindex="0")
                img.fleche(src="/images/fleche-haut.png", title="Aufwärts Pfeil" alt="Richtung Zukunft")
        li
            a(aria-label="Blättern im Archiv in Richtung Vergangenheit" href='/archive/'+past  role="button" tabindex="0") 
                img.fleche(src="/images/fleche-bas.png", title="Abwärts Pfeil" alt="Richtung Vergangenheit")
                | Vergangenheit
    span.language
        a(aria-label="Englishe Version dieser Seite" href=eevent) 
            img.drapeau(src="/images/drapeau-en.png", alt='English version' role="button"  tabindex="0")
        a(aria-label="Französische Version dieser Seite" href=fevent) 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française' role="button"  tabindex="0")
