div
    span
        img.logo(src='/images/logo_asf.jpg' title="logo A S F" alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') Verein AsF
        li
            a(href='galerie/dindex') Galerie
        li
            a(href='archive/dactuel') Neuigkeiten

    span.language
        a(aria-label="Englische Version der Startseite" href='e-index' role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-en.png", title="Englische Fahne", alt='English version')
        a(aria-label="Französische Version der Startseite" href="index" role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-fr.png", title="Französische Fahne", alt='Version française')
