.menucontainer
    .start
        a.asf(aria-label="zurück zur Startseite" href='/site/dindex' tabindex="0" title="logo A S F" role="button")           
        a.mini(aria-label="zurück zur Startseite" href='/site/dindex') Home 
    a.min600(aria-label="zurück zur Startseite" href='/site/dindex') Home 

    ul.menu1
        li
            a(href='dbuts') Verein
            ul.menu2
                li
                    a(href='dbuts') Unsere Ziele
                li
                    a(href='dnous') Geschichte
                li
                    a(href='dcontact') Kontakt
                li
                    a(href='djoin') Mitglied werden
                li
                    a(href='dmentions') Impressum
        li
            a(href='services') Service
            ul.menu2
                li
                    a(href='dexpos') Ausstellungen
                li
                    a(href='dsites') Websites
                li
                    a(href='dapps') Apps
                li
                    a(href='dstages') Kurse
                li
                    a(href='ddivers') Weiteres
                li
                    a(href='dterms') Geschäftsbedingungen 
        li
            a(href='/galerie/dindex') Galerie
        li
            a(href='/archive/dactuel') Neuigkeiten
    
    a.flage(aria-label="Englishe Version dieser Seite" href=target.ciblee title="English Version"  role="button"  tabindex="0")
    a.flagf(aria-label="Französische Version dieser Seite" href=target.ciblef title="Version française" role="button"  tabindex="0") 

