.menucontainer
    .start
        a.asf(aria-label="return to home page" href='/site/eindex'  title="logo ASF" tabindex="0" role="button")
        a.mini(aria-label="return to home page" href='/site/eindex') Home 
    a.min600(aria-label="return to home page" href='/site/eindex') Home 

    .arrows        
        a.arrowback(aria-label="Leaf through the gallery backwards: "+lastseen href='/galerie/'+lastseen role="button"  tabindex="0" title="backwards arrow")            
        a.arrow(aria-label="Leaf through the gallery: : "+next href='/galerie/'+next role="button"  tabindex="0" title="arrow")                 
        a.arrowtext(aria-label="Leaf through the gallery: "+next href='/galerie/'+next) Flip through Gallery

    ul.menu1
        li
            a(href='adzak') Gallery
            ul.menu2
                li  
                    a(href='adzak') Adzak Roy
                li
                    a(href='amorim') Amorim Rangel 
                li
                    a(href='bazencir') Bazencir Halit  
                li
                    a(href='champagne') Champagne Pierrette 
                li
                    a(href='delaney') Delaney Beauford
                li
                    a(href='emory') Rick Emory
                li
                    a(href='erguy') Erguy Roland  
                li
                    a(href='frevarias') Frevarias C.
                li
                    a(href='gebka') Gebka Gabriel
                li
                    a(href='gruyters') Gruyters Dirk
                li
                    a(href='kouassi') Kouassi Germain
                li
                    a(href='krive') "Krive" Eva Krischan
                li
                    a(href='lepaquet') Le Paquet
                li
                    a(href='merle') Merle Jean-Charles
                li
                    a(href='mohsen')  Mohsen Lihidheb
                li
                    a(href='mtm') MTM Massias                
                li
                    a(href='nicolas') Nicolas
                li
                    a(href='paquetrobert') Paquet Robert 
                li
                    a(href='plazanet') P.Plazanet 
                li
                    a(href='pillas')  Pillas Catherine
                li
                    a(href='pluvinage') Pluvinage Claire
                li
                    a(href='quartarone') Quartarone Mary
                li  
                    a(href='rahs')  Rahs Wolfgang
                li
                    a(href='rasmussen') Rasmussen Suzan
                li
                    a(href='reggaro') Shannon Reggaro
                li  
                    a(href='jalila') Rezine Jalila
                li
                    a(href='schwertfeger') Schwertfeger J.
                li
                    a(href='sylviaartdeco') Simoncelli Sylvia Artdeco
                li
                    a(href='souche') Elisa Souche
                li
                    a(href='stoulig') Stoulig Fabienne
                li
                    a(href='tajuddin') Tajuddin Ahmed
                li
                    a(href='valgallard') Val-Gallard  
                li
                    a(href='villaada') Villa Ada 
                li
                    a(href='wright')  Wright Nicholas
        br.mini
        li
            a(href='autres') Artists
            ul.menu2
                li 
                    a(href='http://gabriella.carbone.free.fr/cadres.html', rel="noopener noreferrer nofollow", target='_blank') Carbone Gabriella 
                li 
                    a(href='http://www.dock-sud.com/AET%202009%20GIETL%20Karl%20-%20du%2022-05-09%20au%2022-06-09.php ', rel="noopener noreferrer nofollow", target='_blank') Gietl Karl
                li
                    a(href='https://yorgosmaryelis.weebly.com', rel="noopener noreferrer nofollow", target='_blank') Maryelis Yorgos
                li
                    a(href='https://dougpetrovic.info', rel='noopener' target='_blank')  Petrovic Doug
                li
                    a(href='https://petrovic.ovh/moab', rel="noopener", target='_blank') Petrovic Helga
                li
                    a(href='https://hstrobl.info', rel='noopener', target='_blank') Strobl Helga    
                li
                    a(href='https://www.larp.fr/membres/fatma-zohra-zamoum/', rel="noopener noreferrer nofollow", target='_blank') Zamoum F.-Z.       
        //-br.mini  
        li
            a(href='autres') Other Sites
            ul.menu2
                li
                    a(href="https://stage.asf-web.fr/", rel="noopener" target="_blanc") Our interns
                li
                    a(href='https://leroidesaulnes.org', rel="noopener" target="_blanc") Les Amis du Roi des Aulnes
                li
                    a(href='https://artistessansfric.com',  rel="noopener" target="_blanc") Artistes sans Fric
                li
                    a(href='refweb') References websites
                li
                    a(href='refmhh',rel='noreferrer') MHH
                li
                    a(href='refsdc') SDC
                li
                    a(href='') Le Clown

    a.flagef(aria-label="French version of this page" title="Version française" href=fartist role="button"  tabindex="0") 
    a.flagd(aria-label="German version of this page" title="Deutsche Version"  href=dartist role="button"  tabindex="0") 


