div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') The association
        li
            a(href='galerie/eindex') Gallery
        li
            a(href='archive/eactuel') News

    span.language
        a(href='d-index') 
            img.drapeau(src="/images/drapeau-de.png", alt='Deutsche Version')
        a(href="index") 
            img.drapeau(src="/images/drapeau-fr.png", alt='Version française')
