.menucontainer
    .start
        a.asf(aria-label="return to home page" href='/site/eindex'  title="logo ASF" tabindex="0" role="button")
        a.mini(aria-label="return to home page" href='/site/eindex') Home 
    a.min600(aria-label="return to home page" href='/site/eindex') Home 

    ul.menu1
        li
            a(href='ebuts') Association
            ul.menu2
                li
                    a(href='ebuts') Our aims
                li
                    a(href='enous') History
                li
                    a(href='econtact') Contact
                li
                    a(href='ejoin') Join us
                li
                    a(href='ementions') Legal terms
        li
            a(href='eservices') Services
            ul.menu2
                li
                    a(href='eexpos') Exhibitions
                li
                    a(href='esites') Websites
                li
                    a(href='eapps') Apps
                li
                    a(href='estages') Training
                li
                    a(href='edivers') Other services
                li
                    a(href='eterms') Terms and conditions 
        li
            a(href='/galerie/eindex') Gallery
        li
            a(href='/archive/eactuel') News
    
    a.flagef(aria-label="French version of this page" title="Version française" href=target.ciblef role="button"  tabindex="0") 
    a.flagd(aria-label="German version of this page" title="Deutsche Version"  href=target.cibled role="button"  tabindex="0") 
