.menucontainer
    .start
        a.asf(aria-label="start page chapter association" title='logo Artistes sans Frontières' href='/site/eindex' tabindex="0" role="button" )
    ul.menu1
        li
            a(href='site/buts') Association
        li
            a(href='galerie/eindex') Gallery
        li
            a(href='archive/eactuel') News


    a.flagef(aria-label="French version of this page" title="Version française" href='index' role="button"  tabindex="0") 
    a.flagd(aria-label="German version of this page" title="Deutsche Version"  href='d-index' role="button"  tabindex="0") 
