div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') The association
        li
            a(href='galerie/eindex') Gallery
        li
            a(href='archive/eactuel') News

    span.language
        a(aria-label="German version of the start site" href='d-index' role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-de.png", title="German flag"  alt='Deutsche Version')
        a(aria-label="French version of the start site" href="index" role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-fr.png", title="French flag" alt='Version française')
