
div
    span
        a(aria-labelledby="return to home page" href='/site/eindex' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières')
            br
            | Home
    ul.menu1
        li
            a(href='eactuel') Current
        li
            a(href='eactuel') 2020 - 2015
            ul.menu2 
                li 2019
                li 
                    a(href='e19-1')  Announcements
                li
                    a(href='e19-2')  New site
                li
                    a(href="e19-3") Open Doors
                li
                    a(href='e19-4')  Summer 
                li
                    a(href='e19-5')  Photo Month
                li 2018
                li 
                    a(href='e18-1')  Hommage
                li
                    a(href='e18-2')  Open Doors
                li 2017
                li
                    a(href='e17-1') Photo Month
                li
                    a(href='e17-2')  Open Doors
                li 2016
                li 
                    a(href='e16-3')  Show Rencontres 
                li
                    a(href='e16-2')  Open Doors
                li
                    a(href='e16-1')  Artiste in residence 
                li 2015
                li
                    a(href='e15-1')  Invitation OD
                li
                    a(href='e15-2')  Open Doors
        li
            a(href='e14-2') 2014 - 2009
            ul.menu2 
                li 2014
                li
                    a(href='e14-3')  Photo Month
                li
                    a(href='e14-2')  Open Doors
                li
                    a(href='e14-1')  Announcements
                li 2013
                li
                    a(href='e13-1')  Announcements
                li 
                    a(href='e13-2')  Open Doors 
                li 2012
                li
                    a(href='e12-4')  Photo Month
                li
                    a(href='e12-3')  Open Doors
                li
                    a(href='e12-2')  Announcements
                li
                    a(href='e12-1')  Changements
                li 2011
                li
                    a(href='e11-4')  Death Doug
                li
                    a(href='e11-3')  Open Doors
                li
                    a(href='e11-2')  Announcements, Mohsen
                li
                    a(href='e11-1')  Show Doug Petrovic
                li 2010
                li
                    a(href='e10-7')  Show Doug Petrovic  
                li
                    a(href='e10-6')  Salon Photo  
                li
                    a(href='e10-5')  2010-5 
                li
                    a(href='e10-4')  2010-4 
                li
                    a(href='e10-3')  Open Doors 
                li
                    a(href='e10-2')  2010-2 
                li
                    a(href='e10-1')  2010-1
                li 2009
                li
                    a(href='e09-9')  2009-9 
                li
                    a(href='e09-8')  J E A 
                li
                    a(href='e09-7')  Show Erguy
                li
                    a(href='e09-6')  Show 3F
                li
                    a(href='e09-5')  2009-5
                li
                    a(href='e09-4')  Open Doors 
                li
                    a(href='e09-3')  2009-3 
                li
                    a(href='e09-2')  Show Carbone
                li
                    a(href='e09-1')  2009-1 
        li
            a(href='e08-4') 2008 - 2000
            ul.menu2 

                li 2008
                li
                    a(href='e08-4')  Show Doors
                li
                    a(href='e08-3')  2008-3 
                li
                    a(href='e08-2')  2008-2 
                li
                    a(href='e08-1')  2008-1  
                li 2007
                li
                    a(href='e07-8')  Pot d'adieu 
                li
                    a(href='e07-7')  Show Loft  
                li
                    a(href='e07-6')  2007-6,  
                li
                    a(href='e07-5')  Party  
                li
                    a(href='e07-4')  2007-4  
                li
                    a(href='e07-3')  Open Doors 
                li
                    a(href='e07-2')  Show Freva
                li
                    a(href='e07-1')  2007-1
                li 2006
                li
                    a(href='e06-12')  Show Pluvinage   
                li   
                    a(href='e06-10')  Art du Nu
                li
                    a(href='e06-9')  Public Autumn show   
                li   
                    a(href='e06-8')  Show Loft 
                li
                    a(href='e06-7')  Tiki Joe 
                li  
                    a(href='e06-6')  2006-6  
                li
                    a(href='e06-5')  Party 
                li
                    a(href='e06-4')  Open Doors 
                li
                    a(href='e06-3')  Show Erguy 
                li
                    a(href='e06-2')  2006-2  
                li
                    a(href='e06-1')  2006-1 
                li 2005
                li
                    a(href='e05-10')  Show à Sète
                li
                    a(href='e05-9')  Open Doors
                li
                    a(href='e05-8')  2005-8 
                li
                    a(href='e05-7')  Public Autumn show
                li
                    a(href='e05-6')  Pont Audemer 
                li
                    a(href='e05-5')  Show Loft
                li
                    a(href='e05-4')  Loft sequel 
                li
                    a(href='e05-3')  Open Doors
                li
                    a(href='e05-2')  2005-2
                li
                    a(href='e05-1')  2005-1
                li 2004
                li
                    a(href='e04-1')  Open Doors
                li
                    a(href='e04-2')  2004-2
                li 
                    a(href='e01')  2001
                li 
                    a(href='e00')  2000
    hr
    ul.smenu1
        li    
            a(href='/archive/'+future) future 
            a(aria-label="flip through the archive from the past direction present" href='/archive/'+future role="button"  tabindex="0")
                img.fleche(src="/images/fleche-haut.png", title="arrow up" alt="next more recent event")
        li
            a(aria-label="flip through the archive direction from presence to past" href='/archive/'+past role="button"  tabindex="0") 
                img.fleche(src="/images/fleche-bas.png", title="arrow down" alt="next earlier event")
                | past
    span.language
        a(aria-label="French version of this page" href=fevent role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-fr.png", title="French flag" alt='Version française')
        a(aria-label="German version of this page" href=devent role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-de.png", title="German flag" alt='Deutsche Version')
