div
    span.mobile.home
        a(aria-label="return to home page" href='/site/eindex' tabindex="0" role="button")
            img.logo(src='/images/asf20.png' title="logo ASF" alt='logo Artistes sans Frontières' tabindex="0" role="button")
    span.desktop.home
        a(aria-label="return to home page" href='/site/eindex' tabindex="0" role="button")
            img.logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières' tabindex="0" role="button")
            br
            | Home 
    ul.menu1
        li
            a(href='ebuts') Association...
            ul.menu2
                li
                    a(href='ebuts') Our aims
                li
                    a(href='enous') History
                li
                    a(href='econtact') Contact
                li
                    a(href='ejoin') Join us
                li
                    a(href='ementions') Legal terms
        li
            a(href='eservices') Services...
            ul.menu2
                li
                    a(href='eexpos') Exhibitions
                li
                    a(href='esites') Websites
                li
                    a(href='eapps') Apps
                li
                    a(href='estages') Training
                li
                    a(href='edivers') Other services
                li
                    a(href='eterms') Terms and conditions 
        li
            a(href='/galerie/eindex') Gallery
        li
            a(href='/archive/eactuel') News
    span.language
        a(aria-label="French version of this page" href=target.ciblef role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-fr.png", title="French flag" alt='Version française')
        a(aria-label="German version of this page" href=target.cibled role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-de.png", title="German flag" alt='Deutsche Version')

