doctype html
html(lang="fr")
    head
        link(rel="canonical" href=canon)
        link( rel="alternate" hreflang="en" href="https:/artistessansfrontieres.fr/archive/"+eevent) 
        link( rel="alternate" hreflang="de" href="https:/artistessansfrontieres.fr/archive/"+devent) 
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='robots', content='index, follow')
        meta(name='revisit-after', content='7 days')
        meta(name='author', content='helga strobl petrovic, paris')
        meta(name='copyright', content='helga strobl petrovic')
        meta(name="theme-color" content='#118cff') 
        script(src='../../js/dias-code.js')
        link(rel='stylesheet', href='../css/20main.css')
        link(rel='stylesheet', href='../css/20main-nav.css')
        link(rel='stylesheet', href='../css/dias-archive.css')
        link(rel='stylesheet', href='../css/colonnes.css')
        link(rel="shortcut icon" href="../images/favicon.ico")
        meta(name="keywords" content=keys)
        title=title
        block extrameta  


    body
        nav
            include ./nav-archive.pug
        main
            .bgarchive
                block main  
                #diacontainer
                    #dias
                    #legende
                button#icons  ←  courte pause 
                    block script
            .piedvariable
                hr.piedvariable
                include ./footer.pug

