doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index, follow')
    meta(name='revisit-after', content='7 days')
    meta(name='author', content='helga strobl petrovic, paris')
    meta(name='copyright', content='helga strobl petrovic')
    meta(http-equiv='Content-Language', content='fr')
    script(src='js/dias-code.js')
    script(src='js/pages.js')
    link(rel='stylesheet', href='css/pages.css')
    link(rel='stylesheet', href='css/dias.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,600', rel='stylesheet')
    link(rel="shortcut icon" href="images/favicon.ico")
    title=title
  body
    nav
      include ./nav.pug
    #titre
      h1=title
    #diacontainer
        #dias
        #legende
    button#icons  <-  courte pause 
        block script
    footer
      block #resolution  
      include ./footer.pug
      
