doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index, follow')
    meta(name='revisit-after', content='7 days')
    meta(name='author', content='helga strobl petrovic, paris')
    meta(name='copyright', content='artistes sans frontières, paris')
    meta(http-equiv='Content-Language', content='fr')
    script(src='js/pages.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/main-nav.css')
    link(rel='stylesheet', href='css/colonnes.css')
    link(rel="shortcut icon" href="images/favicon.ico")
    title=title
  body
    nav
      include ./nav.pug
    main
        block main
    