div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='buts') Association...
            ul.menu2
                li
                    a(href='buts') Nos buts
                li
                    a(href='nous') Histoire
                li
                    a(href='contact') Contact
                li
                    a(href='join') Adhérer
                li
                    a(href='mentions') Mentions
        li
            a(href='services') Services...
            ul.menu2
                li
                    a(href='expos') Expositions
                li
                    a(href='sites') Sites
                li
                    a(href='apps') Apps
                li
                    a(href='stages') Stages
                li
                    a(href='divers') Autres
                li
                    a(href='terms') Conditions 
        li
            a(href='/galerie/index') Galerie
        li
            a(href='/archive/actuel') Actualités

    span.language
        a(href=target.ciblee) 
            img.drapeau(src="/images/drapeau-en.png", alt='English Version')
        a(href=target.cibled) 
            img.drapeau(src="/images/drapeau-de.png", alt='Deutsche Version')

