div
    span
        a(href='/')
            img#logo(src='../images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='actuel') Actuel
        li
            a(href='17-2') 2019 - 2015
            ul.menu2 
                li 2019
                li 
                    a(href='19-0')  2019-0
                li
                    a(href='19-1')  Eté 
                li 2018
                li 
                    a(href='18-1')  Hommage
                li
                    a(href='18-2')  Portes Ouvertes
                li 2017
                li
                    a(href='17-1')  2017-1 
                li
                    a(href='17-2')  Portes Ouvertes
                li 2016
                li 
                    a(href='16-3')  2016-3 
                li
                    a(href='16-2')  Portes Ouvertes
                li
                    a(href='16-1')  2016-1
                li 2015
                li
                    a(href='15-1')  2015-1
                li
                    a(href='15-2')  Portes Ouvertes
        li
            a(href='14-2') 2014 - 2010
            ul.menu2 
                li 2014
                li
                    a(href='14-3')  2014-3 
                li
                    a(href='14-2')  Portes Ouvertes
                li
                    a(href='14-1')  2014-1 
                li 2013
                li
                    a(href='13-1')  2013-1
                li 
                    a(href='13-2')  Portes Ouvertes 
                li 2012
                li
                    a(href='12-4')  2012-4
                li
                    a(href='12-3')  Portes Ouvertes
                li
                    a(href='12-2')  2012-2
                li
                    a(href='12-1')  2012-1 
                li 2011
                li
                    a(href='11-4')  2011-4 
                li
                    a(href='11-3')  Portes Ouvertes
                li
                    a(href='11-2')  2011-2
                li
                    a(href='11-1')  Expo Doug Petrovic
                li 2010
                li
                    a(href='10-7')  Expo Doug Petrovic  
                li
                    a(href='10-6')  Salon Photo  
                li
                    a(href='10-5')  2010-5 
                li
                    a(href='10-4')  2010-4 
                li
                    a(href='10-3')  Portes Ouvertes 
                li
                    a(href='10-2')  2010-2 
                li
                    a(href='10-1')  2010-1 
        li
            a(href='09-8') 2009 - 2007
            ul.menu2 
                li 2009
                li
                    a(href='09-9')  2009-9 
                li
                    a(href='09-8')  J E A 
                li
                    a(href='09-7')  Expo Erguy
                li
                    a(href='09-6')  Expo 3F
                li
                    a(href='09-5')  2009-5
                li
                    a(href='09-4')  Portes Ouvertes 
                li
                    a(href='09-3')  2009-3 
                li
                    a(href='09-2')  Expo Carbone
                li
                    a(href='09-1')  2009-1 
                li 2008
                li
                   a(href='08-4')  Portes Ouvertes
                li
                   a(href='08-3')  2008-3 
                li
                   a(href='08-2')  2008-2 
                li
                    a(href='08-1')  2008-1  
                li 2007
                li
                    a(href='07-8')  Pot d'adieu 
                li
                    a(href='07-7')  Expo Loft  
                li
                    a(href='07-6')  2007-6,  
                li
                    a(href='07-5')  Fête  
                li
                    a(href='07-4')  2007-4  
                li
                    a(href='07-3')  Portes Ouvertes 
                li
                    a(href='07-2')  Expo Freva
                li
                    a(href='07-1')  2007-1
        li
            a(href='06-11') 2006 - 2000
            ul.menu2     
                li 2006
                li
                    a(href='06-13')  Expo Pluvinage   
                li   
                    a(href='06-11')  Art du Nu
                li
                    a(href='06-10')  Salon d'Automne   
                li   
                    a(href='06-8')  Expo Loft 
                li
                    a(href='06-7')  Tiki Joe 
                li  
                    a(href='06-6')  2006-6  
                li
                    a(href='06-5')  Fête 
                li
                    a(href='06-4')  Portes Ouvertes 
                li
                    a(href='06-3')  Expo Erguy 
                li
                    a(href='06-2')  2006-2  
                li
                    a(href='06-1')  2006-1 
                li 2005
                li
                    a(href='05-10')  Expo à Sète
                li
                    a(href='05-9')  Portes Ouvertes
                li
                    a(href='05-8')  2005-8 
                li
                    a(href='05-7')  Salon d'Automne
                li
                    a(href='05-6')  Pont Audemer 
                li
                    a(href='05-5')  Expo Loft
                li
                    a(href='05-4')  Loft suite 
                li
                    a(href='05-3')  Portes Ouvertes
                li
                    a(href='05-2')  2005-2
                li
                    a(href='05-1')  2005-1
                li 2004
                li
                    a(href='04-1')  Portes Ouvertes
                li
                    a(href='04-2')  2004-2
                li 
                    a(href='01')  2001
                li 
                    a(href='00')  2000