div
    span
        img#logo(src='images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='buts') Peinture
            ul.menu2
                li
                    a(href='buts') Artiste 1
                li
                    a(href='buts') Artiste 2
                
        
            a(href='services') Sculpture
            ul.menu2
                li
                    a(href='expos') Sculpteur 
                
                