div
    span
        a(href='/')
            img#logo(src='../images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='amorim') Peinture
            ul.menu2
                li
                    a(href='krive') Eva "Krive" Krischan
                li
                    a(href='tajuddin') Tajuddin        
        li
            a(href='paquetrobert') Sculpture - Email
            ul.menu2
                li
                    a(href='erguy') Roland Erguy 
                li
                    a(href='pluvinage') Pluvinage
                li
                    a(href='paquetrobert') Robert Paquet
        li 
            a(href='strobl') Photo
            ul.menu2
                li
                    a(href='carbone') Gabriella Carbone
                li
                    a(href='strobl') Helga Strobl     
        li 
            a(href='mohsen') Installation
        li 
            a(href='lepaquet') Architecture
        li  
            a(href='rahs') Bijoux - Textile
        li
            a(href='erguy') Gravure
        li
            a(href='ara') Partenaires
