.menucontainer
    .start
        a.asf(aria-label="retour à la page d\'accueil" title="logo A S F" href='/site/index' tabindex="0" role="button")     
        a.mini(aria-label="retour à la page d\'accueil" href='/site/index' ) Accueil
    a.min600(aria-label="retour à la page d\'accueil" href='/site/index' ) Accueil

    ul.menu1
        li
            a(href='buts') Association...
            ul.menu2
                li
                    a(href='buts') Nos buts
                li
                    a(href='nous') Histoire
                li
                    a(href='contact') Contact
                li
                    a(href='join') Adhérer
                li
                    a(href='mentions') Mentions
        li
            a(href='services') Services...
            ul.menu2
                li
                    a(href='expos') Expositions
                li
                    a(href='sites') Sites
                li
                    a(href='apps') Apps
                li
                    a(href='stages') Stages
                li
                    a(href='divers') Autres
                li
                    a(href='terms') Conditions 
        li
            a(href='/galerie/index') Galerie
        li
            a(href='/archive/actuel') Actualités

    a.flage(aria-label="Version anglaise de cette page" href=target.ciblee role="button"  title="English Version" tabindex="0")       
    a.flagd(aria-label="Version allemande de cette page" href=target.cibled title="Deutsche Version" role="button"  tabindex="0")  
