div
    span.mobile.home
        a(aria-label="retour à la page d\'accueil" href='/site/index' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières' tabindex="0" role="button")
    span.desktop.home
        a(aria-label="retour à la page d\'accueil" href='/site/index' tabindex="0" role="button")
            img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières' tabindex="0" role="button")
            br
            | Accueil     
    ul.menu1
        li
            a(href='buts') Association...
            ul.menu2
                li
                    a(href='buts') Nos buts
                li
                    a(href='nous') Histoire
                li
                    a(href='contact') Contact
                li
                    a(href='join') Adhérer
                li
                    a(href='mentions') Mentions
        li
            a(href='services') Services...
            ul.menu2
                li
                    a(href='expos') Expositions
                li
                    a(href='sites') Sites
                li
                    a(href='apps') Apps
                li
                    a(href='stages') Stages
                li
                    a(href='divers') Autres
                li
                    a(href='terms') Conditions 
        li
            a(href='/galerie/index') Galerie
        li
            a(href='/archive/actuel') Actualités

    span.language
        a(aria-label="Version anglaise de cette page" href=target.ciblee role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-en.png", title="drapeau anglais", alt='English Version')
        a(aria-label="Version allemande de cette page" href=target.cibled role="button"  tabindex="0") 
            img.drapeau(src="/images/drapeau-de.png", title="dapeau allemand", alt='Deutsche Version')

