div
    span
        img#logo(src='/images/asf20.png' title="logo A S F" alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') Association
        li
            a(href='galerie/index') Galerie
        li
            a(href='archive/actuel') Actualités
    span.language
        a(aria-label="Version anglaise de page d'accueil" href='e-index' role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-en.png", title="drapeau anglais", alt='English version')
        a(aria-label="Version allemande de page d'accueil" href='d-index' role="button" tabindex="0") 
            img.drapeau(src="/images/drapeau-de.png", title="drapeau allemand", alt='Deutsche Version')
