div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') Association
        li
            a(href='galerie/index') Galerie
        li
            a(href='archive/actuel') Actualités
    span.language
        a(href='e-index') 
            img.drapeau(src="/images/drapeau-en.png", alt='English version')
        a(href='d-index') 
            img.drapeau(src="/images/drapeau-de.png", alt='Deutsche Version')
