div
    span
        img#logo(src='images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='buts') L'association
            ul.menu2
                li
                    a(href='buts') Nos buts
                li
                    a(href='nous') Histoire
                li
                    a(href='contact') Contact
                li
                    a(href='join') Adhérer
                li
                    a(href='mentions') Mentions
        li
            | 
            a(href='galerie') Galerie
        li
            a(href='actuel') Actualités
        li
            |
            a(href='services') Services
            ul.menu2
                li
                    a(href='expos') Expositions
                li
                    a(href='sites') Sites
                li
                    a(href='apps') Applications
                li
                    a(href='stages') Stages
                li
                    a(href='divers') Autres
                li
                    a(href='terms') Conditions 
