.menucontainer
    .start
        a.asf(aria-label="accueil chapitre Association" title='logo Artistes sans Frontières' href='/site/index' tabindex="0" role="button" )
    ul.menu1
        li
            a(href='site/buts') Association
        li
            a(href='galerie/index') Galerie
        li
            a(href='archive/actuel') Actualités

    a.flage(aria-label="Version anglaise de cette page" href='e-index' role="button"  title="English Version" tabindex="0") 
    a.flagd(aria-label="Version allemande de cette page" href='d-index' title="Deutsche Version" role="button"  tabindex="0") 
