div
    span
        img#logo(src='/images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    ul.menu1
        li
            a(href='site/buts') L'association
        li
            a(href='galerie/index') Galerie
        li
            a(href='archive/actuel') Actualités
        li
            a(href='site/services') Services
            