extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Roy Adzak vor')
    meta(name='robots', content='index, follow')
block main
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Roy ADZAK
                    img(src='/images-galerie/artists/adzak-logo.gif' alt='Roy Adzak, imaginaires Logo, vorgestellt von Doug')
            .column65
                #diacontainer
                    #dias
                        img(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, Lithografie')
                        .legendes Roy Adzak, Lithografie