extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Roy Adzak vor')
    meta(name='robots', content='index, follow')
block main
    section
        #logoartist
            h1 Roy ADZAK
            img(src='/images-galerie/artists/adzak-logo.gif' alt='Roy Adzak, impression for a logo, by Doug')
    section
        #imageartist
            img(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, Lithografie')
            #legende Roy Adzak, Lithografie
        block aside