extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Halit Bazencir, Maler')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bbbbbb;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Halit Bazencir
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/bazencir.jpg' alt='Halit Bazencir, 2008')
                        .legendes Halit Bazencir, ohne Titel, 2008
