extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor Pierrette Champagne, Malerin')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bccada;}
    .fond        
        .row-artists
            .column35
                #logoartist
                    h1 Pierrette Champagne
                    p Canada
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/champagne1009.jpg' alt='Pierrette Champagne, Stillleben, 2010')
                        .legendes Pierrette Champagne, Stillleben, 2010
            