extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Pierrette Champagne vor')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #bccada;}
    section
        #logoartist
            h1 Pierrette Champagne
            p Kanada
    section
        #imageartist
            img(src='/images-galerie/artists/champagne1009.jpg' alt='Pierrette Champagne, 2010')
            #legende Pierrette Champagne, Stillleben, 2010
    block aside