extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Rick Emory vor')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #bbbbbb;}
    section
        #logoartist
            h1 Rick Emory
            p Fotografie - Details in Vorbereitung
    block aside