extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Frevarias vor')
    meta(name='robots', content='index, follow')
block main
    style. 
        main{background: black;color:white;}
    section
        #logoartist
            h1 C. Frevarias
            img(src='/images-galerie/artists/freva-aff.jpg' alt='C.Frevarias, Ausstellungsplakat 2007')
            #legende C.Frevarias, Plakat einer Ausstellung
    section
        #imageartist
            img(src='/images-galerie/artists/freva1.jpg' alt='C.Frevarias, Portrait, 2007')
            #legende C.Frevarias, Portrait
        block aside