extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Gruyters')
    meta(name='robots', content='noindex, nofollow')
block main
    style.
        .fond{background: #cccccc;}
    .fond
        .row-artists
            .column35
                #logoartist
                    #message=message
                    p   #{artist}'s Website in Vorbereitung
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-news/2007/po/8.jpg' alt='photo exhibition Gruyters') 
                        .legendes Ausstellungs Foto,  AsF "Offene Türen" Ausstellung
