extends ../../templates/d-layout-galerie.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Gruyters vor')
    meta(name='robots', content='noindex, nofollow')
block main
    section
    h3=message
    h1=title
    div
        p  Hier finden Sie in Kürze die neue Version der Webseite von: #{artist}
    block aside