extends ../../templates/d-layout-galerie.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - die Galerie')
    meta(name='robots', content='index, follow')
block main
    div
        section
            #message
                h3=message
            h1=title
            p Entdecken Sie unsere Künstler !