extends ../../templates/layout-site.pug
block main
    h1=title

    h3 
        |Webseite im Umbau - diese Seite ist noch nicht uebersetzt. 
        | Bitte besuchen Sie die existierende deutsche Version oder verwenden Sie das französische Menu.
    h2
        a(href="/html/de/index.html", target="_blank") bisherige deutsche Version
