extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Jalila Rezine,  Textilkunst')
    meta(name='robots', content='index, follow')
block main
    style.
        .legendes{font-weight:600;}
        .fond{background:#118cffCC;color:#8B0000;}
    .fond
        .row-artists
            .column35    
                #logoartist
                    h1 Jalila Rezine
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/jalila-rezine.jpg' alt='Jalila Rezine,Textilkunst')
                        .legendes Jalila Rezine, Textilkunst
