extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Jalila Rezine vor')
    meta(name='robots', content='index, follow')
block main
    style. 
        body{background:#3333FF;color:#8B0000;}
    section
        #logoartist
            h1 Jalila Rezine
    section
        #imageartist
            img(src='/images-galerie/artists/jalila-rezine.jpg' alt='Jalila Rezine,Textile Kunst')
            #legende Jalila Rezine, Textile Kunst
    block aside