extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Merle vor')
    meta(name='robots', content='index, follow')
block main
    section
    h3=message
    h1=title
    div
        p  Hier finden Sie in Kürze die neue Version der Webseite von: #{artist}
        p
            a(href="https://art.artistes-sf.org/merle/index.html" rel="noopener" target="_blank") Bisherige Website 
    block aside