extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Marie-Thérèse Massias, Emailkünstlerin')
    meta(name='robots', content='index, follow')
block main
    style. 
        .fond{background:#d7d7d7;}
        .legendes{font-weight:600; background-color:rgba(215, 215, 215, 0.67);}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Marie-Thérèse Masias
                    p Photo: Marie-Thérèse Masias, 2007
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/mtm-sculpture.jpg' alt='Marie-Thérèse Masias, Email auf Kupfer Skulptur,')
                        .legendes Marie-Thérèse Masias, Skulptur, Email auf Kupfer, 60 cm
