extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Nicolas, Lithograf')
    meta(name='robots', content='noindex, nofollow')
block main
    .fond
        section
        h3=message
        h1=title
        div
            p In Vorbereitung: #{artist}'s Website
            
        block aside