extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Robert Paquet vor')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #dddddd;}
    section
        #logoartist
            h1 Robert Paquet
            #legende  
                p "Träumerin"
                p Skulptur,
                br
                | Bronze, blaue Patina,
                br
                | 19 cm hoch
                br
                | 2008
                p Photo : Morteyrolle
    section
        #imageartist
            img(src='/images-galerie/artists/paquetrobert-sculpture-bleue.jpg' alt='Robert Paquet, "Songeuse", blaue Skulptur')
           
    block aside