extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Robert Paquet, Bildhauer')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #dddddd;}
        #sculpture{font-weight:600; padding:5%;line-height:1.3rem;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Robert Paquet
                    #sculpture
                        p "Songeuse" (Träumerin)
                        p 
                        | Skultpur
                        br
                        | Bronze, blaue Patina,
                        br
                        | 19 cm hoch
                        br
                        | 2008
                    p Foto : Morteyrolle
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/paquetrobert-sculpture-bleue.jpg' alt='Robert Paquet, "Träumerin", blaue Skultpur')
