extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Pascal Plazanet, Zeichner')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/plazanet/dias-listes2.js')
    script(src='../js/galerie.js')
block main
    style.
        #legende{font-weight:600;}
        .am{border-color:rgba(255, 0, 0, 0.4);color:blue; background-color: white;margin:1px;}

    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/plazanet/pascal-plazanet-logo.gif' alt='Pascal Plazanet, logo')
                    h1 Pascal Plazanet
                    #artistmenu
                            a(aria-label="Galerie 1" href='dplazanet' title="Zeichnungen") 
                                button.am  Galerie 1
                            br
                            a(aria-label="Galerie 2" href='dplazanet2' title="Zeichnungen 2") 
                                button.am Galerie 2
                            br
                            button#goToBio.am(aria-label=" Biografie" type='submit title="Biografie')  Biografie           
                           
            .column65
                #diacontainer
                    #dias
                    #legende
                #bio
                    h2 Biografie
                    p in Vorbereitung           
                    
        button#icons  Kurze Pause