extends ../../templates/d-layout-galerie.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Pluvinage vor')
    meta(name='robots', content='noindex, nofollow')
block main
    section
    h3=message
    h1=title
    div
        p  Hier finden Sie in Kürze die neue Version der Webseite von: #{artist}
        p
            a(href="https://art.artistes-sf.org/pluvinage/index.html" rel="noopener noreferrer nofollow"  target="_blank") Bisherige Website 
    block aside