extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Mary Quartarone vor')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #cccccc;}
    section
        #logoartist
            h1 Mary Quartarone
            img(src='/images-galerie/base/quartarone/blue-woman.jpg' alt='Mary Quartarone, blue woman')
            #legende Mary Quartarone, "Blue Woman"
            
    section
        #imageartist
            img(src='/images-galerie/base/quartarone/creation.jpg' alt='Mary Quartarone,creation')
            #legende Mary Quartarone, Creation
    block aside