extends ../../templates/d-layout-artistes.pug
block main
    style.
        body{background: #eeeeee;}
    section
        #logoartist
            h1 Beispiele für (Künstler) Logos
            p Beispiele in Kürze