extends ../../templates/d-layout-galerie-base.pug
block main
	section
		#logoartist
			h1 Webseite für ein Kulturinstitut
            p 
            | Dieses Projekt umfasste die Website,ein Audio und Video Archiv, die Einbindung existierender Services, Grafik ...    
            | Die Website ist offline 
			img(src='/images-galerie/references/mhh1.png' alt='page d\'accueil')
//-	section
		#imageartist
	img(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, lithographie')
			#legende Roy Adzak, lithographie
		block aside