extends ../../templates/d-layout-galerie-base.pug
block main
    .fond
        section
            #logoartist
                h1 Website für eine Institution im Kulturbereich
                p  
                | Das Projekt beinhaltete die Website, ein Audio und Video Archiv, 
                | die Intégration existierender Services, das grafische Konzept ...    
                p Die Website ist nicht mehr online 
                img(src='/images-galerie/references/mhh1.jpg' alt='Homepage der Website')

        