extends ../../templates/d-layout-galerie-base.pug
block main
    .fond
        style.
            .fond{background: #bbbbbb;}
        section
            #logoartist
                h1 SD Consulting
                p 
                | Wirtschafts Investigationen
                br 
                | Die Website ist nicht mehr online
                img(src='/images-galerie/references/sdc.jpg' alt='page d\'accueil')