extends ../../templates/d-layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 SD Consulting
            p Agentur für Wirtschafts Ermittlungen