extends ../../templates/d-layout-galerie-base.pug
block main
    .fond
        style.
            .fond{background: #eeeeee;}
        section
            #logoartist
                h1 Referenzen Webdesign
                p in Vorbereitung