extends ../../templates/d-layout-artistes.pug
block main
    style.
        body{background: #eeeeee;}
    section
        #logoartist
            h1 Unsere Referenzen für Website Gestaltung
            p Beispiele in Kürze