extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor:  Suzan Reggaro, Malerin')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bbbbbb;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Shannon Reggaro
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/shannon-painting.jpg' alt='Shannon Reggaro in 2016')
                        .legendes Shannon Reggaro malt im französischen Atelier des Vereins - Werke in Vorbereitung
