extends ../../templates/d-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Suzan Reggaro vor')
    meta(name='robots', content='index, follow')
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Shannon Reggaro
    section
        #imageartist
            img(src='/images-galerie/artists/shannon-painting.jpg' alt='Shannon Reggaro in 2016')
            #legende Shannon Reggaro malt im Atelier des Vereins - ihre Werke werden in Kürze erscheinen
    block aside