extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor: Joachen')
    meta(name='robots', content='noindex, nofollow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/schwertfeger/dias-listes.js')
block main
    style. 
        .fond{border: 5px ridge #999999;}
        #icons{background-color:#333333; color:#ffcc00;font-weight:500;}
        #logoartist{background-color:#333333; color:#ffcc00;}
        #diacontainer{background-color:white;}
        #legende{font-weight:600;}

    .fond
        .row-artists
            .column35
                #logoartist 
                    style. 
                        #logoartist{background-color:#333333; color:#ffcc00;}
                    img(src='/images-galerie/base/schwertfeger/logo.gif' alt='Logo Jochen')
                    p
                    | © Texte, Fotos : 
                    br
                    | J. Schwertfeger eundt
                    br
                    | H. Strobl (Fotos 1,2,5,10)


            .column65
                #diacontainer
                    #dias
                    #legende
                    
        button#icons  Kurze Pause
