extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt vor Elisa Souche, Fotografin')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bbbbbb;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Elisa Souche
            .column65
                #diacontainer
                    #dias
                        img(src='/images-news/2012/daudet-affiche-1210.jpg', alt='Elisa Souche, Ausstellungs Plakat, 2012')
                        .legendes Elisa Souche, Ausstellungs Plakat, 2012
