extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Valgallard, painter')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/val-gallard/dias-listes4.js')
    script(src='../js/galerie.js')

block main
    style.
        #legende{font-weight:600;}
        .am{border-color:rgba(255, 0, 0, 0.4);color:blue; background-color: white;}

    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/val-gallard/valgallard1.gif' alt='Logo Valgallard')
                    h1 Val-Gallard
                    h3 Paintings
                    #artistmenu
                        a(aria-label="Galerie 1" href='dvalgallard' title="Galerie 1") 
                            button.am  Galerie 1
                        br
                        a(aria-label="Galerie 2" href='dvalgallard2' title="Galerie 2") 
                            button.am  Galerie 2
                        br
                        a(aria-label="Galerie 3" href='dvalgallard3' title="Galerie 3") 
                            button.am  Galerie 3
                        br
                        a(aria-label="Galerie 4" href='dvalgallard4' title="Galerie 4") 
                            button.am  Galerie 4
                        br
                        a(aria-label="Galerie 5" href='dvalgallard5' title="Galerie 5") 
                            button.am  Galerie 5
                        br
                        a(aria-label="Galerie 6 " href='dvalgallard6' title="Galerie 6") 
                            button.am  Galerie 6
                        br
                        button#goToPhilo.am(aria-label="Artist's statement" type='submit' title="Artist's statement") Artist's statement
                        br
                        button#goToBio.am(aria-label="see the Biography" type='submit' title="Biography")  Biography           
           

                    p © Fotos : Valerie Gallard

            .column65
                #diacontainer
                    #dias
                    #legende
                #bio
                    h2 Biography
                    p to be followed
                #philo
                    h2 to be followed 

        button#icons  short break 