extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Villa Ada, Malerin, vor')
    meta(name='robots', content='noindex, nofollow')
block main
    style. 
        .fond{background-color:black; color:#eae8e0;}            
    .fond
        h3=message
        h1=title
        #logoartist
            p Website von #{artist} in Vorbereitung
            