extends ../../templates/d-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières stellt Fatma-Zohra Zamoum vor')
    meta(name='robots', content='index, follow')
block main
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Fatma-Zohra Zamoum
            .column65
                #diacontainer
                    #dias                        
                        img(src='/images-news/2014/fatma-zohra-zamoum_azib-zamoum.jpg' alt='Film Plakat, Azib Zamoum') 
                        .legendes Film Plakat "Azib Zamoum, une histoire de terres" (... eine Geschichte der Erde), vorgeführt während der "Offene Türen" Ausstellung
