extends ../../templates/layout-archive.pug
block main
    div
        p  L'évenement 20#{event} sera bientôt disponible
        section
            header
                h1 Annonces 20#{event}
            section
            p annonces, à suivre
