extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  L'exposition à la Loft-Gallery, juin 2005
           
            block script
                script(src='../images-news/2006/loft/dias-listes.js')
            