extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Salon Art du Nu - impressions des alentours
            block script
                script(src='../images-news/2006/artdunu2/dias-listes.js')
            