extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1   salon Art du Nu
            p Airelle, Douglas Petrovic et Suzan Rasmussen  
            p 23 - 25 septembre 2006
            p Le stand d'Artistes sans Frontières
            block script
                script(src='../images-news/2006/artdunu/dias-listes.js')
            