extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Exposition à la  Loftgallery 
            p Suzan Rasmussen, Roland Erguy et Douglas Petrovic 
            block script
                script(src='../images-news/2006/loft/dias-listes.js')
            