extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Exposition à la  Loftgallery - Le finissage
            block script
                script(src='../images-news/2006/fin/dias-listes.js')
            