extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1 
                    | Exposition en septembre : 
                    a(href="/galerie/erguy") Roland Erguy

            hr
    section
        #textgauche
            header 
                h1 Exposition dans la galerie 3F, Paris, août 2009
            p 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , peinture et sculptures 
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , photographie
            p du 6 au 30 août, jeudi à dimanche, 14 - 18h et sur rendez-vous (Tél. 06 32 95 40 90)
            p Galerie 3F, 58 rue des 3 frères, Paris 18e, Métro Abbesses
            hr
    section
        #textgauche
            header 
                h1 Exposition en octobre 2009 : Laurent Loizeau
            h3 Foire Internationale de Montpellier
            p du Vendredi 9 au Lundi 19 Octobre 2009
            p Parc des Expositions Hall7-stand 035
            p Vernissage Samedi 10 Octobre à 18H00