extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Expo Douglas Petrovic au Daudet
           
           
            block script
                script(src='../images-news/2010/daudet/dias-listes.js')
