extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            p 28 et 29 mai 2011
            p Samedi et dimanche : 11h - 19h
            h3  Exposition : 
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                a(href="https://www.hstrobl.info") Helga Strobl
           
            block script
                script(src='../images-news/2011/dias-listes.js')
            