extends ../../templates/layout-archive.pug
block main
    section
        header
            h1 Expositions 2012
    .row
        .column
            h3 Mai
            h3  Portes Ouvertes des ateliers d'artistes à Paris
            p 12 et 13 mai 2012
            p 
            | Samedi 12: 14h30 - 20h
            | Dimanche 13: 11h - 19h
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                br
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , 
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                br
                a(href="https://www.hstrobl.info") Helga Strobl
        .column
            a(href="/pdf/po12.pdf")
                img#imagefull(src="/images-news/2012/po-affiche.jpg", alt="affiche - télécharger programme")
                | Télécharger le programme des Portes Ouvertes
    section
        header
            h1 Novembre
        h3 Exposition photo dans le cadre du mois de la photo