extends ../../templates/layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            p 12 et 13 mai 2012
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , 
                a(href="/galerie/zamoum") Fatma-Zohra Zamoum
           
            block script
                script(src='../images-news/2012/dias-listes.js')
            