extends ../../templates/layout-archive.pug
block main
    p=title
    div
        section
            header
                h1 Les 14 ARTS 2018 - plan
        
        img#imagefull(src="/images-news/2018/po2018recto.png" alt="Les 14 Arts 2018, recto")
        | Les 14 Arts 2018, plan recto
        img#imagefull(src="/images-news/2018/po2018verso.png" alt="Les 14 Arts 2018, verso")
        | Les 14 Arts 2018, verso
