extends ../../templates/layout-archive.pug
block main
    p=title
    section
        header
            h1 Progrès 
    .row
        .column
            h3 Nouveau site - nouveau  stagiaire
            p 
            | Le nouveau site prend forme, la version française est déjà partiellement en ligne 
            | et remplacera l'ancien site dans la nuit du 20 au 21 octobre. 
            br
            | L'archive est complet pour les années 2011 à aujourd'hui et montre les photos des expositions depuis 2004. 
            | Le reste des pages suivra progressivement.
            p
            | En octobre et novembre, les sites individuelles des artistes seront remplacés l'un après l'autre. Dans la galerie, vous verrez parfois un lien vers l'ancien site, qu'il faut cliquer. 
            br
            | Note pour les membres avec un site de base: vos anciens noms de domaine resteront actifs. 
            p Saloum Sylla a terminé son stage et rejoint son ancien entreprise mais continue à contribuer aux projets de Artistes sans Frontières
            p 
            |Zoubeir Marouf a rejoint l'équipe et travaille sur un projet de site individuel pour membres.
        .column
            img#imagefull(src="/images-news/2019/remise-diplome.jpg", alt="la fête après la remise des diplômes")
            | Formation officiellement terminée pour Saloum et Helga (les deux à droite) - la fête après la remise des diplômes
    section
        header
            h1 Pas de Progrès pour notre atelier
        p 
        | Nous attendons toujours l'accord des assurances pour changer le sol.  
        | En préparation du chantier, les oeuvres d'art et la plupart des meubles sont partis pendant l'été, 
        | mais le dossier prend son temps. 
        br
        | Et encore plus de temps... 
        br
        | Des nouvelles expertises auront lieu le 6 et 7 novembre. 
        p 
        | Entre-temps, nous ne pouvons pas accueillir du public. Un trou béant immédiatement après le seuil, 
        | cela n'est pas le bon moyen de captiver les visiteurs.  
        | De l'autre coté, nous ne pouvons plus accéder aux oeuvres à exposer, aux cadres et au matériel nécessaire,
        | car l'endroit de stockage est rempli de meubles et de materiel de bureau.
        | C'est avec grand régret, que nous devons annuler les expositions de cet automne.
        p Nous espérons pouvoir terminer le chantier en 2019 pour vous accueillir de nouveau debut 2020.
        .row
            .column3
                img#imagefull(src="/images-news/2019/depart1.jpg", alt="Les oeuvres sont parties")
                p Les oeuvres sont parties en juillet ...
            .column3
                img#imagefull(src="/images-news/2019/depart2.jpg", alt="Ces oeuvres aussi")
                p ces gouaches et photos aussi ...
            .column3
                img#imagefull(src="/images-news/2019/depart3.jpg", alt="Un autre depart")
                p et les huiles également
            
    section
        header
            h1 Mois de la Photo en novembre - notre participation est annulée
        p Exposition photo dans le cadre du Mois de la Photo
        p Exposition collective en Automne - annulée