extends ../../templates/layout-archive.pug
block main
    div
        section
        header  
        table
              tr
                td
                  p
                      b
                          | Portes ouvertes
                  p
                      b
                        | le samedi 20 et dimanche 
                        | 21 novembre 2004
                        br
                        |         de14 à 20h
                      br
                      |         7, impasse du Rouet
                  p
                      b Exposition
                      | : 
                      a(href="http://www.dougpetrovic.info" target="_blank") Doug
                      |  (artiste
                      |         en résidence), Jacqueline Cauet
                td
                  p
                      img(src="http://image.artistes-sf.org/news/herbst04/bilder.jpg" width="250" height="188" alt="Traveaux en progrès pour les Portes Ouvertes")
                  p
                      | Travaux en progrès
                      | pour les Portes Ouvertes
            p
                | Depuis les dernières Portes
                | Ouvertes en mai 2004, nos lieux ont encore une fois changés: d'autres
                | travaux de rénovation ont été effectués et nous avons installé
                | une place de travail pour un artiste, qui lui permet de travailler en haut,
                | de recevoir des visiteurs en bas et de présenter ses oeuvres sur tout
                | l'espace.
            table
              tr
                td
                  img(src="http://image.artistes-sf.org/news/herbst04/atelier.jpg" width="200" height="267" alt="Table de travail")
                td
                  p
    
                      | Ce place de travail a été
                      | réalisé avec des anciens piliers en chêne et une grande
                      | planche de travail en plexiglas, pour ne pas réduire ni l'hauteur
                      | de l'atelier ni la lumière.
                  p
    
                      | Ces deux matières très
                      | différentes, les piliers solides de chêne antiques et le verre léger
                      | permettaient de réaliser un design très moderne sans
                      | changer l'esprit de l'ancien atelier d'artiste.
            p
                b
  
                    | Expositions au
                    | Musée Atelier Adzak,
                br
                |   3 rue Jonquoy, 75014 Paris, tél. 01.45.43.06.98 :
            p
                b
                  | Didier de Nayer, Philippe
                  | Descharmes et Luc Gueronnet: Photographies "De Natura"
            p
                | Du lundi 8 novembre au mardi 
                | 23 novembre 2004
                br
                |   Vernissage mardi 9 novembre. Le 16 novembre poésie de Claude-Marie à
                |   partir de 18 h.
            p
                b
                  | Portes Ouvertes samedi
                  | et dimanche, 20 et 21 novembre
            p
                b
                  | Automne de Bengale: Iffrat
                  | Ara Dewan, chanteuse et peintre de Bangladesh
            p
                | Du vendredi 26 novembre 
                | au mardi 14 décembre, ouvert jeudi au dimanche, 15 à 19 h
                br
                | Vernissage et soirée
                | de chants Bauls et Tagore le samedi 4 décembre à 18 h.
            p
                b Automne de Bengale: 
                b
                  a(href="http://art.artistes-sf.org/tajuddin/index.html" target="_blank")
                    | Tajuddin
                    | Ahmed
                  | , peintre bengali
            p
                | Du jeudi 16 au vendredi 24 décembre 
                | 2004
                br
                |   Vernissage le jeudi 16 décembre à partir de 18 h.
            p  
            p
                b
                    | Prévu pour
                    | février/mars 2005:
            p
                b
                  | Exposition collective des membres
                  | de l'association Artistes sans Frontières à Paris
            p
                a(href="../../index.html" target="_top")
                    | Afficher
                    | la page complète d'Artistes sans Frontières: www.artistes-sf.org
  block aside                   
