extends ../../templates/layout-archive.pug
block main
    div
        section
        header  
            p
            b
            p Expositions
            | : 
            |   - 
            b Du 21. juin au 12. juillet 2004
            p
            p
            a(href="http://www.dougpetrovic.info" target="_blank")
                img(src="http://image.artistes-sf.org/news/juin04/affiche_sete.jpg" width="216" height="300" alt="Expo à Sète" border="1")
            br
            br
            p
                | Artistes sans Frontières
                | expose "
                b
                    a(href="http://www.dougpetrovic.info" target="_blank") Doug
                a(href="../../../doug/index.html") "
            a(href="http://www.dougpetrovic.info" target="_blank")

                b Douglas Petrovic
                b
                | à Sète,
                |  dans le Midi.
            b

                br
                b Vernissage
                |  le 21. 
                |   juin, (Fête de la Musique) - naturellement avec musique, 
                br
                |   le 
                b  Blues-Rock-Band "Drivin' South"
                br
                b Adresse
                | : Bistro du Marché, 1, rue Alsace Lorraine, 34200 Sète
            p  
            p
                a(href="../../index.html" target="_top")
                    | Afficher
                    | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside
