extends ../../templates/layout-archive.pug
extends ../../templates/layoutdias.pug
block main
    div
        section
        header 
        div
            | Portes 
            | Ouvertes des ateliers du 14ème arrondissement
            br
            |     
            | le 15 et 16 mai 2004
             
block script
    script(src='images-news/2004/dias-listes.js')

                b Exposition:
                | 
            p
                | Tableaux et sculptures
                | de
                a(href="http://www.dougpetrovic.info" target="_blank")
                    b Doug
                | , 
                a(href="http://art.artistes-sf.org/krive/index.html" target="_blank")
                    b
                    | Eveline Krischan
                    | et de
                    | 10 autres artistes autrichiens.
            p  
            p
                a(href="../../index.html" target="_top")
                    | Afficher la page complète d'Artistes sans Frontières: www.artistes-sf.org
            
    block aside            
