extends ../../templates/layout-archive.pug
block main
    div
        section
        header 
            div
                img(src="http://image.artistes-sf.org/news/pomai05/loft-doug.jpg" width="194" height="200" usemap="#Map2" border="0")
                map(name="Map2")
                area(shape="rect" coords="43,12,158,156" href="../../../doug/index.html" target="_blank" alt="Peintures Douglas Petrovic")
            p
                b
                |   Exposition
                |   à la Loft Gallery
            p

                    | 88, 
                    | rue du dessous des Berges, 75013 Paris
                    br
                    |   Metro: Bibliothèque François Mitterand, 14 et RER C
                    br
                    |   Bus: Patay-Tolbiac, 27, 62 et 132
            p
                | du 15 au 29 juin 2005,
                | tous les jours de 12 à 19h
            p
                b
                | Vernissage le 15
                | juin à partir de 18h
    
            div
                img(src="http://image.artistes-sf.org/news/juni05/loft-moduss.jpg" width="200" height="200" usemap="#Map3" border="0")
                map(name="Map3")
                area(shape="rect" coords="36,35,169,177" href="../../../moduss/index.html" target="_blank" alt="Paintures Moduss")
            #loftgallery(style="position:absolute; left:43px; top:220px; width:400px; height:196; z-index:2; visibility: visible;")
            img(src="http://image.artistes-sf.org/news/juni05/loft-recto.jpg" width="400" height="196" alt="Invitation Loft Gallery" usemap="#Map" border="0")
            map(name="Map")
                area(shape="poly" coords="76,123,59,88,51,56,54,31,64,20,80,14,93,15,106,15,125,11,131,12,142,16,142,35,145,49,162,62,162,68,147,83,143,91,147,99,134,119,115,129,90,152,79,151,66,171,69,194,109,190,139,180,155,175,151,160,147,153" href="../../../erguy/index.html" target="_blank" alt="Sculptures Roland Erguy")
            p  
            p  
            hr
            p
                | Invitation
                | de la rédaction du Who's Who In International Art et Madame Christiane
                | Peugeot
            p
                | à 
                | l'exposition de notre membre 
                a(href="http://art.artistes-sf.org/p.plazanet/index.html" target="_blank")
                b Pascal Plazanet:
            p
                b
                | "La peinture
                | d'aujourd'hui dans ses différents métiers"
            p
                | du 9 au 14 juin 2005,
                | de 11 à 19 heures
            p
                b
                | Vernissage le jeudi
                | 9 juin, de 18 à 21 heures
            p
                | Centre culturel Christiane 
                | Peugeot, 62 avenue de la Grande Armée, 75017 Paris
                br
                |   Métro:
                |   Argentine. Parking: Porte Maillot (Palais de Congrès)
            hr
            p  
            table
            tr
                td
                p
    
                    b
        
                        a(name="po")
                        | Portes
                        |         ouvertes des ateliers du XIV
                p
    
                    b
                        | le samedi 21 et dimanche
                        | 22 mai 2005
                p
    
                    | Voir la galerie virtuelle de 
                    | la mairie du XIV: 
                    a(href="http://www.mairie14.paris.fr" target="_blank") www.mairie14.paris.fr
                p  
                td
                p  
                p
    
                    b Exposition
                    | :
                p
    
                    b
                        a(href="http://art.artistes-sf.org/erguy/index.html" target="_blank")
                        | Roland
                        | Erguy:
                    |  sculpture et gravure
                p
    
                    a(href="http://www.dougpetrovic.info" target="_blank")
                        b
                        | Doug
                        | Petrovic
                    | : peinture
                p
    
                    a(href="http://art.artistes-sf.org/rasmussen/index.html" target="_blank")
                        b
                        | Suzan
                        | Rasmussen
                    | : peinture
                p  
            p
                | Photos des "Portes
                | Ouvertes" et de la réception pour les artistes à la mairie
                | du XIV
            p
            img(src="http://image.artistes-sf.org/news/pomai05/05poa1.jpg" width="274" height="350")
            img(src="http://image.artistes-sf.org/news/pomai05/05poa2.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05poa3.jpg" width="350" height="225")
            img(src="http://image.artistes-sf.org/news/pomai05/05poa4.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05poa5.jpg" width="350" height="260")
            img(src="http://image.artistes-sf.org/news/pomai05/05poa6.jpg" width="350" height="240")
            img(src="http://image.artistes-sf.org/news/pomai05/05poapres.jpg" width="350" height="309")
            img(src="http://image.artistes-sf.org/news/pomai05/05pofest1.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pofet3.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pofete2.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens1.jpg" width="350" height="313")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens2.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens3.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens4.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens5.jpg" width="350" height="332")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens6.jpg" width="350" height="272")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens7.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pogens9.jpg" width="350" height="238")
            img(src="http://image.artistes-sf.org/news/pomai05/05pohof2.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05pok1.jpg" width="350" height="255")
            img(src="http://image.artistes-sf.org/news/pomai05/05potor.jpg" width="350" height="344")
            img(src="http://image.artistes-sf.org/news/pomai05/05poz2.jpg" width="240" height="350")
            img(src="http://image.artistes-sf.org/news/pomai05/05poz3.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/pomai05/05poz4.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/pomai05/hof2.jpg" width="400" height="300")
            img(src="http://image.artistes-sf.org/news/pomai05/hof3.jpg" width="400" height="300")
            p  
            p
                b
                | Au
                | revoir jusqu'aux prochaines Portes Ouvertes!
            p  
            p
                a(href="../../index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside