extends ../../templates/layout-archive.pug
block main
    div
        section
        header      
            div
                p
                img(src="http://image.artistes-sf.org/news/herbst05/aud-vue2.jpg" width="300" height="400")
                tr
                td
                    div
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-links.gif" width="70" height="48" onclick="MM_timelineGoto('Timeline1','1')")
                td
                    div
                        b
                            img(src="http://image.artistes-sf.org/grafik/pfeil-3d-stop.gif" width="48" height="48" onclick="MM_timelineStop('Timeline1')")
                td
                    div
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-rechts.gif" width="70" height="48" onclick="MM_timelinePlay('Timeline1')")
            div
            div
            #Layer1
            div
                a(href="../../index.html" target="_top")
                    | Afficher
                    | la page complète d'Artistes sans Frontières: www.artistes-sf.org
            div
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-vue1.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand2.jpg" width="300" height="225")
                p  
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand1.jpg" width="300" height="225" border="2")
                p  
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand4.jpg" width="300" height="225")
                div
                img(src="http://image.artistes-sf.org/news/herbst05/aud-vue3.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand5.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand6.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-stand3.jpg" width="300" height="225")
                div 18
                div 17
                div 16
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique6.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique4.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique5.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique3.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique2.jpg" width="300" height="225")
                div
                p
                    img(src="http://image.artistes-sf.org/news/herbst05/aud-musique1.jpg" width="300" height="225")
                div 
                div 
                div
                p

                    b
                        | Marché
                        | d'Art à Pont Audemer, 3 juillet 2005
                p
                    | Exposant: 
                    a(href="http://www.dougpetrovic.info" target="_blank") DOUG Petrovic
                    | , 
                    a(href="http://art.artistes-sf.org/rasmussen/index.html" target="_blank") Suzan Rasmussen
                table
                tr
                    td
                    div
    
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-links.gif" width="70" height="48" onclick="MM_timelineGoto('Timeline1','225')")
                    td
                    div
                        b
                            img(src="http://image.artistes-sf.org/grafik/pfeil-3d-stop.gif" width="48" height="48" onclick="MM_timelineStop('Timeline1')")
                    td
                    div
    
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-rechts.gif" width="70" height="48" onclick="MM_timelinePlay('Timeline1')")
                table
                tr
                    td
                    div
    
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-links.gif" width="70" height="48" onclick="MM_timelineGoto('Timeline1','75')")
                    td
                    div
                        b
                            img(src="http://image.artistes-sf.org/grafik/pfeil-3d-stop.gif" width="48" height="48" onclick="MM_timelineStop('Timeline1')")
                    td
                    div
    
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-rechts.gif" width="70" height="48" onclick="MM_timelinePlay('Timeline1')")
                table
                tr
                    td
                    div
    
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-links.gif" width="70" height="48" onclick="MM_timelineGoto('Timeline1','150')")
                    td
                    div
                        b
                            img(src="http://image.artistes-sf.org/grafik/pfeil-3d-stop.gif" width="48" height="48" onclick="MM_timelineStop('Timeline1')")
                    td
                    div
                        img(src="http://image.artistes-sf.org/grafik/pfeil-3d-rechts.gif" width="70" height="48" onclick="MM_timelinePlay('Timeline1')")
    block aside        
