extends ../../templates/layout-archive.pug
block main
    div
        section
        header      
        table
            tr
            td
                p
                    b
                        | Exposition
                        | à Sète
                p
                    b
                    | 15 décembre
                    | 2005 - 14 janvier 2006
                    br
                    | tous les jours sauf dimanche
                p
                    | Bistro du Marché,
                    | 1 rue Alsace Lorraine, Sète
                p
                    b Exposition
                    | : 
                    a(href="../../../doug/index.html" target="_blank")
                    | Douglas "Doug"
                    | Petrovic
                    |  et 
                    a(href="../../../pillas/index.html" target="_blank")
                    | Catherine
                    | Pillas
        p
            img(src="http://image.artistes-sf.org/news/1205sete/affiche.jpg" alt="affiche expo sète" width="298" height="422")
        p 
        p
            img(src="http://image.artistes-sf.org/news/1205sete/first.jpg" width="350" height="260")
            img(src="http://image.artistes-sf.org/news/1205sete/8.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/1205sete/2.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/6.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/7.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/3.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/9.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/1205sete/10.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/4.jpg" width="263" height="350")
            img(src="http://image.artistes-sf.org/news/1205sete/1.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/1205sete/5.jpg" width="350" height="263")
            img(src="http://image.artistes-sf.org/news/1205sete/last.jpg" width="350" height="263")
        p 
        p
            b
                | Nous
                | souhaitons une très bonne année 2006 à nos membres et à
                | nos visiteurs !
        p
        p
            a(href="../../../news08/index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org
        p  
        p  
        p  
        p  
        p  
    block aside 