
extends ../../templates/layout-archive.pug
block main
    div
        section
        header    
        table
        tr
            td
            p  
            p
                b Lartiste du trimestre
            p
                | Si vous êtes intéressés de devenir un de nos artistes
                | du trimestre ou à nous proposer un artiste, contactez-nous!
        div
        p  
        b
        p   Projets 2005
        table
        tr
            td
            p
                b
                    | Lartiste
                    | du trimestre
                br
                |         En décembre 2004 nous avons visité lexposition au 
                |         Musée-atelier Adzak, International Art Space, à Paris de 
                |         l'artiste peintre 
                b
                    a(href="http://art.artistes-sf.org/tajuddin/index.html" target="_blank")
                        | Ahmed
                        | Tajuddin
                | .
            p
                | Cet International Art Space,
                | géré par Margaret Crowther, est un vrai espace international
                | de lart contemporain, où lon peut rencontrer des artistes
                | de toutes les nationalités.
            p
                b Ahmed Tajuddin 
                | vient
                |         de Dhaka, Bangladesh et a déjà exposé dans le monde
                |         entier. Comme nous étions impressionnés par son uvre,
                |         nous lui avons offert une année dadhésion à
                |         lassociation Artistes sans Frontières avec la création
                |         dun site Internet personnalisé, pour présenter son
                |         uvre.
            p
                | Ainsi Ahmed Tajuddin est devenu 
                | le premier 
                b
                    | Artiste
                    | du trimestre
                | .De cette action, lidée est née de
                |         choisir un ou une artiste par trimestre, dorigine différente,
                |         dont luvre mérite dêtre connue.
        p

            img(src="http://image.artistes-sf.org/news/fev05-taj/taj2.jpg" width="195" height="300")
        p
            | Ahmed Tajuddin,
            br
            |     exposition à Paris, 2004
        p
            img(src="http://image.artistes-sf.org/news/fev05-taj/tajuddin.jpg" alt="Ahmed Tajuddin" width="201" height="300")
        p
            | Ahmed Tajuddin,
            br
            |     exposition à Paris, 2004
        p

            img(src="http://image.artistes-sf.org/news/fev05-taj/taj1.jpg" width="200" height="300")
        p
            | Ahmed Tajuddin,
            br
            |     exposition à Paris, 2004
        p
            b
                | Nouvelles possibilités
                | pour vos websites:
        p
            b Vos propres COM-adresses:
        b

            | Les artistes qui ont un 
            | website dans notre galerie, peuvent choisir en plus, de posséder un propre 
            | Domain Name, comme www.artiste.com (
            a(href="../../../fr/service_site.html" target="_self")
            | voir
            | les détails dans le chapitre Votre site
            | )
        p
            b Entretien
            | : À partir
            |   de la deuxième année de l'adhésion, la cotisation couvre
            | également l'entretien
            | de votre site et vous permet d'ajouter de nouveaux détails à votre
            | biographie ainsi que quatre nouvelles photos.
        p  
        p
            b

                | Expositions au
                | Musée Atelier Adzak
        p
            | 3 rue Jonquoy, 75014 Paris,
            | tél. 01.45.43.06.98 :
        p
            | Vendredi, 25 février 05, 18 
            | h : 
            b Jacqueline Hologne Delaney
            | , signature de la nouvelle édition 
            |   de son livre " Brancusi : LOeuvre Roumaine " (Edition Paris 
            |   Méditerranée)
            br
            |   Et exposition de photographies de 
            b Nicolae Sandalescu
            br
        p
            | Prévu pour mars
            br
            b
            | Fatima Zohra,
            br
            |   Brian Wilsher
            | , bronzes
            br
            b Laurence Beck
            | , sculpteur australien expose des dessins
        p
            | En permanence :
            br
            |   La basse (et haute) cour de 
            a(href="http://art.artistes-sf.org/wright/index.html" target="_blank")
            b
                | Nicholas
                | Wright
            | , sculptures en céramique
        p  
        p
            a(href="../../index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside
