extends ../../templates/layout-archive.pug
block main
    div
        section
        header 
        p
            b
            | L'exposition
            | à la Loft-Gallery, juin 2005
        p
            | Photos prises 
            | par nos membres - nous remercions Régine et 
            a(href="http://art.artistes-sf.org/erguy/index.html" target="_blank") Roland Erguy
        p  
        p
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland1.jpg" width="263" height="350")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland10.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland11.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland2.jpg" width="350" height="467")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland3.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland5.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland6.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland7.jpg" width="350" height="467")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland8.jpg" width="350" height="263")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland9.jpg" width="350" height="467")
        img(src="http://image.artistes-sf.org/news/juni05/loft-roland12.jpg" width="350" height="263")
        p  
        p
            a(href="../../index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org

    block aside