extends ../../templates/layout-archive.pug
block main
    div
        section
        header 
        table
            tr
                td
                p
                    b
                        | Portes
                        | ouvertes
                p
                    b
                        | le samedi
                        | 19 et dimanche 20 novembre 2005, de14 à 20h
                    br
                    |         7, impasse du Rouet
                p
                    b Exposition
                    | : 
                    a(href="http://www.dougpetrovic.info" target="_blank")
                        | Douglas "Doug"
                        | Petrovic
                    |  (artiste en résidence), Claire
                    |         Pluvinage et Airelle
            p
            img(src="http://image.artistes-sf.org/news/herbst05/po-nov05.jpg" width="300" height="424")
            p
                | Cette année Artistes
                | sans Frontières a offert la maquette de l'affiche et des dépliants
                | à l'association Monts 14 et aux artistes participants aux Portes Ouvertes.
                | (© Idée, photo et réalisation: Douglas de Petrovic, Paris,
                | octobre 2005)
            hr
            p
                b
            p   Expositions:
            p
                | Le C.E.P.S. et le musée du 
                | Montparnasse présentent 
                b REMZI 
                br
                |   au musée du Montparnasse, 21 avenue du Maine, 75015 Paris
                br
                |   du 28 octobre au 10 novembre 2005
            p
                | Notre membre 
                a(href="http://art.artistes-sf.org/p.plazanet/index.html" target="_blank")
                b
                    | Pascal
                    | Plazanet
                |  expose au
                b
                br
                | 22e salon des Artistes Peintres et Sculpteurs du 15e
            p
                | Du 24 novembre au 4 décembre, 
                | Ouverture 13h-17h, jeudi de 13h-19h,
                br
                |   Maire du 15e, Salle des fêtes de la Mairie du 15e, 31 rue Péclet,
                |   75015 Paris, Métro Vaugirard
            p
                | Notre membre 
                b
                | Claire
                | Pluvinage
                |  expose au 
                br
                b Salon d'Art Nature - Animaux
            p
                | 8 - 11 décembre, horaires: 
                | jeudi 11h à 22h, vendredi et samedi 11h à 20h, dimanche 11 décembre 
                | 11h à 19h
                br
                |   Espace Champerret, Paris 17 ème, Porte de Champerret, M. ligne 3 Pte
                |   Champerret, M ligne 2 Louise Michel, RER C Station Pereire
            p
                | Nos membre 
                a(href="http://www.dougpetrovic.info" target="_blank")
                b
                    | Douglas
                    | Petrovic
                |  et 
                b
                | Catherine
                | Pillas
                |  exposent
                br
                | au Bistro du Marché à Sète
            p
                | 15 décembre 2005 - 14 janvier 
                | 2006, ouvert tous les jours sauf dimanche
                br
                |   Bistro du Marché, 1 rue Alsace Lorraine, 34200 Sète, Tél.
                |   04.67.74.82.26
            hr
            p
            img(src="http://image.artistes-sf.org/news/po1105/vogel.jpg" width="263" height="350")
            p
                | (Le président 
                | d'honneur, 
                b Ibrahim Fogel 
                | surveille le bon déroulement des Portes
                |   Ouvertes)
            p
            img(src="http://image.artistes-sf.org/news/po1105/orange.jpg" width="350" height="263")
            p  
            img(src="http://image.artistes-sf.org/news/po1105/visiteur9.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/suzan.jpg" width="263" height="350")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur5.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/claire3.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/samir.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/claire2.jpg" width="263" height="350")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur11.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/airelle5.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/samir3.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/doug2.jpg" width="263" height="350")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur12.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/claire5.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur13.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/airelle3.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/samir2.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur3.jpg" width="263" height="350")
            p
            img(src="http://image.artistes-sf.org/news/po1105/doug.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur6.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur2.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/airelle2.jpg" width="263" height="350")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur10.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/claire4.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur1.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur7.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/aierelle.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/samir4.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/visiteur4.jpg" width="350" height="263")
            p
            img(src="http://image.artistes-sf.org/news/po1105/claire.jpg" width="350" height="263")
            p
                b
                    | A
                    | bientôt !
            p  
            p
                a(href="../../index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside
