extends ../../templates/layout-archive.pug
block main
    div
        section
        header 
        p
            strong
                | Nouveau site
            p
                | Comme vous avez pu constater, 
                strong le site d'Artistes sans Frontières porte un nouveau look
                |  plus gai. Nous espérons aussi qu'il soit plus fonctionnel.
            p
                | Le premier site était conçu comme un petit site,  mais son développement à dépassé  nos attentes et un grand ménage de ses plus que mille fichiers devenait nécessaire. Ainsi nous commençons l'année bien sage, en réalisant nos bonnes intentions.
            p
                | Pour le choix de l'image de l'arrière-plan nous avons pris une photo d'un événement bien typique pour notre association d'artistes internationales: 
                strong une fête improvisée.
            p
                | Un samedi en été 2004 nous voulions inviter deux personnes  au dîner. L'un n'était pas seul ce soir, pendant qu'on parlait à l'autre, un voisin passait et fut invité aussi. Des visiteurs de l'après-midi restaient et   le soir nous nous trouvions à onze personnes de sept nationalités  parlant trois langues différentes à table. 
                br
                | Les invités amenaient salades, hors d'oeuvres ou   fromage, Douglas achetait le plus grand pot à obtenir dans les alentours et ajoutait plus de haricots à son chili con carne mémorable. (La viande, il la calcule toujours pour une foule.
            | )
            p
            img(src="http://image.artistes-sf.org/news/0206site-fete/fete-cour1.jpg" alt="debut de la fete" width="333" height="250")
            img(src="http://image.artistes-sf.org/news/0206site-fete/fete-cour2.jpg" alt="la fete - les invités mettent la table" width="250" height="333")
            p
                | Nous commencions la fête dans la cour, mais après une heure il commençait à pleuvoir et tout le monde prenait sa chaise et son verre pour s'installer dans l'atelier pour le plat principal.
            p
                img(src="http://image.artistes-sf.org/news/0206site-fete/fete-atelier.jpg" alt="la fête continue dans l'atelier" width="333" height="250")
                img(src="http://image.artistes-sf.org/asf/site/1.jpg" alt="on peut manger à 11 dans 10m2" width="333" height="250")
            p
                | Vers 10 h la pluie s'arrêtait et nous pouvions retourner dans la cour pour le dessert.
            p
                | Après 11 h, un voisin venait demander de l'aide: on lui avait volé sa veste avec ses papiers et ses clés et il était inquiet, que le voleur visite aussi son atelier. Comme ils nous restaient encore d'anciens serrures de notre rénovation, Douglas  changeait vite fait la serrure   de son atelier, pendant qu'il reprenait des forces avec un verre de vin et un petit dessert. Ainsi nous étions douze.
            p
                | Vers minuit la fête se terminait avec un petit cours de yoga entre participants anglophones. - Les  visiteurs français se rendaient au bistro pour un dernier verre.
            p
            img(src="http://image.artistes-sf.org/news/0206site-fete/fete-cour3.jpg" alt="la fin de la fête, les visiteurs encore en pleine activité" width="188" height="250")
            img(src="http://image.artistes-sf.org/news/0206site-fete/fete-cour4.jpg" alt="levez les bras, cela reveille" width="333" height="250")
            img(src="http://image.artistes-sf.org/news/0206site-fete/fete-cour5.jpg" alt="en forme pour le chemin de retour - levez les jambes" width="333" height="250")
                a(href="../../index.html" target="_top")
                    | Afficher
                    | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside                    

