xtends ../../templates/layout-archive.pug
block main
    div
        section
        header     
        #ellipse
        img(src="http://image.artistes-sf.org/news/photo/ellipse.gif" width="284" height="170")
        #clown
        img(src="http://image.artistes-sf.org/news/photo/clown07.jpg" alt='Doug de Petrovic, "Le Clown" 2003, huile sur toile' width="335" height="400")
        #oeil
        img(src="http://image.artistes-sf.org/news/photo/clown07-g-oeil.jpg" width="674" height="408")
        #oeilgrand
        img(src="http://image.artistes-sf.org/news/photo/clown07-oeil-l.jpg" width="551" height="652")
        img(src="http://image.artistes-sf.org/news/photo/clown07-oeil-r.jpg" width="551" height="652")
        #textebas
        p
            | © Photo: Helga Strobl, Sète, France 2007.
            br
            | © Artiste: Doug de Petrovic, "Le Clown" 2003, huile sur toile 
        p
        p
        p
            | Notre équipement: 
        p   
            | Un Canon réflexe numérique professionnelle 
            br
            |     Un Canon réflexe argentique professionnelle, 
            |     si vous souhaitez aussi des photos classiques
            br
            |     2 à 3 lampes avec plusieurs types d'ampoules 
            |     (lumière du jour ou lumière plus douce)
            br
            |     Un ordinateur portable, pour charger et vérifier  
            |     les photos  immédiatement
            br
            |   Diverses accessoires
        p
        p
            strong
                | Offre spéciale pour nos membres et les membres adhérents en mars, avril et mai 2007
        ul
            li
            | * Déplacement du studio mobile  dans votre atelier à Paris intramuros ou à Sète
            li
                strong Prises de vue de 10 oeuvres
            li
                | Traitement des photos choisies pour la publication sur votre site Internet (mode RVB)
            li

                | Finition du traitement des couleurs en votre présence, pour choisir les plus fines nuances de couleurs
        p
            font(size="4" face="Arial, Helvetica, sans-serif")
            strong
                | Prix : 300 Euros 
       
            strong ttc
        p
            
            | * Déplacement hors de Paris ou hors de Sète à partir de 100  Euros, selon la distance.
        p  
        p
            a(href="../../index.html" target="_top")
                | Afficher
                | la page complète d'Artistes sans Frontières: www.artistes-sf.org
        p
        strong  
        | : Nouveau service
        p
        strong
            | Photos en qualité exceptionnelle pour l'Internet  et pour l'impression 
        p
            strong Artistes sans Frontières 
            | s'équipe pour vous offrir un nouveau service: des photos professionnelles numériques de vos oeuvres ou de votre vernissage.
        p
            strong Notre photographe se déplace chez vous avec un studio mobile ! 
    block aside 

