extends ../../templates/layout-archive.pug
block main
    div
        section
        header
            h1 Artistes-sf.org - exposition mai 2017, Salon des Photographes et expo Inspirations
        p 
        | Mois de la photo
        h3 
        | Salon des Photographes
        p
            a(href="http://hstrobl.info") Helga Strobl
            |  participe au Salon des Photographes du 14e arrondissement
        p
        | Annexe de la Mairie du 14e, 12 rue Pierre Castagnou,
        br
        | du 08.03 au 19.03: 11-19h, me 15.03 11-21 
        p
            img(src="mois-photo-2017.png" alt="expositions de l'association en mars, avril et mai 2017" width="198" height="281")
        p
            a(href="m14-mdlp17.pdf")  Le programme de la Mairie en pdf
        br
        br
        | du 24 avril au 26 mai, expo au bar restaurant Le Daudet, 
        br
        |  Helga Strobl: "Inspirations"
        br
        p
            a(href="../../index.html")
            | Afficher
            | la page complète d'Artistes sans Frontières: www.artistes-sf.org
    block aside        

