extends ../../templates/layout.pug
block main
        div
            section
            header
                h1=title
            h3 Une application mobile pour un évenement d'art contemporain ?
            ul
                li Vos visiteurs vous trouveront via leur smartphone?
                li L'application aura du contenu different pour diverses étapes?
                li Ils gagneront des points pendant leur progrès ?
                li Ils pouront payer des options ou tickets d'entrée pendant leur parcours ?
            p Une application mobile dédié, ce sera le standard de demain pour un grand évenement d'art.
            section
            header
                h3 Une application mobile commerciale ?
            p 
            | Parlez-nous en de votre projet, si vous cherchez la dernière technologie 
            | , une approche artistique pour le desing et 
            | un interface utilisateur pour un publique de tout age. 
           
            
        block aside