extends ../../templates/layout-sans-footer.pug
block main
        div
            section
            header
                h1=title
            h3 Service pour membres artistes
            p Participation à nos expositions de groupe: frais partagés
            p Exposition individuelle: Choix du lieu en fonction de votre budget
            h3 Service affiches et cartons d'invitation
            ul
                li 
                | Traitement d'une photo de votre choix pour l'impression à base d'une bonne photo numérique. 
                | Si vous n'avez pas de bonnes photos de vos oeuvres, nous prenons une photo d'une oeuvre dans notre atelier.
                | Si vous apportez une photo, vous déclarez, que vous disposez des droits de cette photo pour l'usage sur affiches et cartes d'invitation et que vous avez l'autorisation du photographe.
                |Si vous apportez une oeuvre, dont nous faisons la photo, vous donnez l'autorisation en tant qu'auteur de l'oeuvre pour la publication. Les droits d'auteur de photographe restent chez lui et il donne son accord pour cette publication.
                li Maquette d'affiche et de cartons d'invitation - vous choisissez les formats des affiches et des cartons
                li Fichiers prépresse et transfert à l'imprimerie
                li Impression: nous vous proposons des imprimeries à bon prix selon la quantité désirée, mais vous êtes libre de choisir une autre imprimerie. En ce cas nous fournissons les fichiers numériques.
                p L'affichage de vos affiches et la distribution des cartons d'invitation est à votre charge et responsabilité. Sur demande nous pouvons organiser l'affichage et envoyer des invitations - sur devis.
            h3 Catalogues et brochures
            ul
                li Catalogues personnels
                li Catalogues pour expositions de groupe
                li Dépliants
                li Service photos professionnelles
                li Mise en page
                li Impression: Organisation de l'impression
            h3 Transport d'oeuvres d'art et autres services pour l'exposition
            ul
                li Transport des oeuvres en France et dans l'Union Européenne, espace Schengen
                li Réception d'oevres envoyées et retour après l'expo
                li Encadrement sous verre ou mise sur châssis sur place
                li Accrochage, placement de sculptures, réglage d'éclairage etc.

            include ../../templates/footer.pug
        aside
           