extends ../../templates/layout.pug
block main
    div
        header
            h1=title
        section
            h3 Membres
            p 
            | Découvrez la palette de nos services sur les pages suivantes!
            br
            | Pour les services inclus dans la côtisation annuelle, voir page "Devenir Membre"
            | Les autres services sont généralement payants, à des prix très favorables pour nos membres.
            h3 Particulier ou entreprise 
            p
            | Nous offrons les services Internet, développement web, graphisme et informatique également aux non-membres. 
            br
            | C'est pour vous, si vous cherchez un service plus personalisé et une approche artistique. 
            h3 Artiste, mais pas membre
            p Si vous êtes artiste ou acteur culturel sans adhérer à AsF, vous profitérer d'une réduction de 10 % au prix standard.

    block aside