extends ../../templates/layout-sans-footer.pug
block main
        div
            section
                header
                    h1=title
                h3 Service pour Artistes, Galeries, acteurs culturels
                p 
                | Nous créons pour nos membres des sites avec une conception graphique unique, qui sont adaptés à la personnalité de chaque artiste. 
                br
                | Et cela à des prix sans concurrence !
                p Choissisez un des forfaits ou une solution adaptée à votre projet !

                p 
                | Promotion de vos expositions: Annoncez vos expos dans les pages Nouveautés gratuitement!
                | En général, Artistes sans Frontières fait des photo-reportages des ses vernissages et participations aux salons.menu1
                | (Voir aussi chapitre "Autres Service")
                br
                | Profitez d'un lien gratuit de votre site vers chaque reportage vous concernant - cela enrichit votre site! 
            section
                header
                    h3 Site de base
                ul
                    li Une page avec votre nom, un logo et la navigation (liens vers les autres pages)
                    li Une page pour la biographie ou tout autre texte
                    li Une page avec 6 à 10 photos
                    li Le traitement des photos à partir de photos numériques ou des photos papier de bonne qualité.
                    li Une animation autour des photos ou du texte (ex le defilement des photos).
                    li Sous-domaine: Nos visiteurs vous trouveront dans la Galerie Virtuelle. En plus vous disposerez d'une adresse du type art.Artistes-SF.org/VotreNom ou art.Artistes-SF.org/VotreNomd'Artiste pour accéder directement à votre site.
                    li Hébergement: Le site de base est hébergé sur notre serveur et donc accessible pendant la durée de votre adhésion à l'association Artistes sans Frontières. Vous trouverez les détails concernant l'adhésion sur le bulletin d'adhésion.
                    li En Option: La création de votre logo
                p Regardez un exemple de notre "site de base": Silvia Simoncelli (ancienne version)
                p 
                | Chaque année de votre adhésion, votre site s'étoffe et montre plus de vos oeuvres.
                br 
                | Regardez un exemple de site avec photos professionnelles: Germain Kouassi (ancienne version).
                h3 Site de base Plus
                p 
                | Vous désirez un grand site dès la création, sans vous soucier de sa gestion? 
                br
                | Ajoutez des options au site de base au choix:
                ul
                    li pages de texte
                    li plus de photos ou autre média
                    li un nom de domaine de votre choix
                    li des fonctionalités (formulaire de contact, un plan d'accès, ...)
            section
                header
                    h3 Site d'artiste, de taille variable et indépendant
                p Demandez un devis, si vous cherchez
                ul
                    li Structure et mise en page libre, en fonction de votre projet
                    li Graphisme unique
                    LI Interaction avec les visiteurs
                    li Statistiques, base de données
                    li Un ou plusieurs noms de domaine
                    li Photos de tous vos oeuvres importantes
                    li Qualité de photos exceptionnelle
                p Hébergement: le site est hébergé sur un serveur ou sur un espace inclus dans la location du nom de domaine. 
                | Cela dependra de vos exigences et des fonctionnalités choisis. 
                br
                | Ce site est indépendant du site de l'association. Vous pouvez nous confier son hébergement ou choisir votre fournisseur librement.
                p Mises à jour et services après livraison: sur devis
                p Exemple d'un site d'artiste indépendant: Doug Petrovic (ancienne version)
            section
                header
                    h3 Création de site personnel ou commercial
                p 
                | Rencontrez-nous, pour obtenir un devis pour votre projet. Venez avec le plan du contenu, 
                | des exemples de textes, photos, médias, vos attentes sur l'usage futur du site,
                | les visiteurs ciblés, les fonctionalités souhaitées et le budget prévu.
                br
                | Nous discuterons des possibilités techniques ensemble, pour créer une expérience utilisateur adapté à votre cible.  
                br
                | Devis sur demande après cette discussion de principe. 
                p
                    include ../../templates/footer.pug
