extends ../../templates/layout.pug
block main
    section
    h1=title
    div
        h3 A venir 
        p 
        | Stages de l'art (peinture, litho, photo ...) organisés par nos membres artistes,
        | dans la mésure des places disponibles.
        p ---
        

    block aside