extends ../../templates/layout.pug
block main
        div
            section
                header
                    h1=title
                div
                    h3 A venir 
                    p 
                    | Stages de pratique artistique (peinture, litho, photo ...) organisés par nos membres artistes,
                    | dans la mésure des places disponibles.
                    p ---
                    

        block aside