extends ../../templates/layout-sans-footer.pug
block main
    section
        header
            h1=title
        h2 Contenu du site
        p 
        | Les membres gardent toute la responsabilité - civile, administrative et pénale - des textes et des photos qui apparaissent sur leur site. L’association se réserve le droit de ne pas publier des contenus racistes, xénophobes ou pornographiques et plus généralement tout ce qui contreviendrait aux lois françaises relatives à la presse.
        h2 Droits d'auteurs des photos
        h3 Sites individuelles, dépendants du site Artistes sans Frontières
        p 
        | En commandant un site vous nous autorisez de publier les photos, que vous nous communiquerez, sur ce site pour toute la durée de votre adhésion, un an renouvelable, plus un délai de trois mois.
        | Si vous n'êtes pas l'auteur des photos, vous vous engagez à obtenir la permission du photographe pour la publication et de nous indiquer son nom pour l'indiquer sur le site, si le photographe le souhaite.
        h3 Sites individuelles indépendantes:
        p  Vous êtes libre à chaque moment de retirer le site, de changer son contenu ou de changer de fournisseur d'hébergement ou de gérant, à condition que le site a été entièrement payé. Ces changements sont en général payants, les prix et la procédure dépendent des fournisseurs concernés et sont semblables au changement de fournisseur de téléphone ou d'accès Internet.
        h3 Photos et informations dans les pages Nouveautés:
        p
        |  Nous nous réservons le droit de photographier et de documenter les expositions organisées par Artistes sans Frontières et des expositions de groupe, où Artistes sans Frontières loue un stand, inscrit ses membres etc.
        br
        | Nous publions aussi vos propres photos de votre exposition ou celles que vous nous faites parvenir avec l'accord du photographe.
        br
        | En tous ces cas, la choix des photos est une choix de la rédaction. Pour tous nos reportages et documentations s'applique le droit de la presse française.
        include ../../templates/footer.pug
    aside
    p ---
        




