extends ../../templates/layout-galerie-base.pug
block main
    section
        #logoartist
            h1 Rangel Amorim
            img(src='/images-galerie/base/amorim/rangel-amorim-logo.gif' alt='Rangel Amorim, logo')
            p © Photos: Rangel Amorim, 2007
    section
        style.
            dias{background: #bccada;}
        block script
            script(src='../images-galerie/base/amorim/dias-listes.js')