extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Halit Bazencir')
    meta(name='robots', content='index, follow')
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Halit Bazencir
    section
        #imageartist
            img(src='/images-galerie/artists/bazencir.jpg' alt='Halit Bazencir, 2008')
            #legende Halit Bazencir, untitled, 2008
    block aside