extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Pierrette Champagne, painter')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bccada;}
    .fond        
        .row-artists
            .column35
                #logoartist
                    h1 Pierrette Champagne
                    p Canada
            .column65
                #diacontainer
                    #dias
                        img(src='/images-galerie/artists/champagne1009.jpg' alt='Pierrette Champagne, 2010')
                        .legendes Pierrette Champagne, still life, 2010
            