extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Ellen Bryson, writer')
    meta(name='robots', content='index, follow')
block main
    style.
        .fond{background: #bbbbbb;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Ellen Bryson
            .column65
                p coming soon