extends ../../templates/layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 Rick Emory
            p photographe - détails à suivre
    block aside