extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Rick Emory')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #bbbbbb;}
    section
        #logoartist
            h1 Rick Emory
            p photographe - details to follow
    block aside