extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Frevarias')
    meta(name='robots', content='index, follow')
block main
    style. 
        body{background: black;color:white;}
    section
        #logoartist
            h1 C. Frevarias
            img(src='/images-galerie/artists/freva-aff.jpg' alt='C.Frevarias, affiche d\'exposition 2007')
            #legende C.Frevarias, exhibition poster
    section
        #imageartist
            img(src='/images-galerie/artists/freva1.jpg' alt='C.Frevarias, portrait, 2007')
            #legende C.Frevarias, portrait
        block aside