extends ../../templates/e-layout-galerie.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Gruyters')
    meta(name='robots', content='noindex, nofollow')
block main
    section
    h3=message
    h1=title
    div
        p You will find here shortly the updated website of #{artist}
    block aside