extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières - the gallery ')
    meta(name='robots', content='index, follow')
block main
    .fond
        section
            #message
                h3=message
            h1=title
            p Discover our artists !


        block aside