extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents "Le Paquet", construction of a bar')
    meta(name='robots', content='index, follow')
block main

    section
        //- p#message=title
        .row-artists
            .column35
                #logoartist
                    h1 Alain Pasquier "Le Paquet"
                    img(src='/images-galerie/base/lepaquet/alain-pasquier-3.jpg' alt='Alain Pasquier 1991')
                    h3 Realisations
                    #artistmenu
                        a(href='elepaquet') Theater
                        br
                        a(href='elepaquet2') Bar
                        br
                        a(href='elepaquet3') Caseieur
                    p © Photos: Marie Renée Burrin (theater), Alain Pasquier
            .column65
                #diacontainer
                    #dias
                    #legende
                    block script
                    style.
                        dias{background: #bccada;}
                    script(src='../images-galerie/base/lepaquet/dias-listes2.js')
        button#icons short break    
        