extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Lihidheb Mohsen')
    meta(name='robots', content='index, follow')
block main
    section
    h3=message
    h1=title
    div
        p You will find here shortly the updated website of  #{artist}
        p
            a(href="https://art.artistes-sf.org/mohsen/index.html" rel="noopener" target="_blank") Current site 
    block aside