extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Marie-Thérèse Masias')
    meta(name='robots', content='index, follow')
block main
    style. 
        body{background:#d7d7d7;}
    section
        #logoartist
            h1 Marie-Thérèse Masias
            p Photo: Marie-Thérèse Masias, 2007
    section
        #imageartist
            img(src='/images-galerie/artists/mtm-sculpture.jpg' alt='Marie-Thérèse Masias, sculpture enamel on copper')
            #legende Marie-Thérèse Masias, sculpture, enamel on copper, 60 cm
    block aside