extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Nicolas, litho')
    meta(name='robots', content='noindex, nofollow')
block main
    .fond
        section
        h3=message
        h1=title
        div
            p You will find here shortly the website of #{artist}
            
        block aside