extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Robert Paquet')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #dddddd;}
    section
        #logoartist
            h1 Robert Paquet
            #legende  
                p "Songeuse" (she is dreaming)
                p sculpture,
                br
                | bronze, blue sheen,
                br
                | 19 cm high
                br
                | 2008
                p Photo : Morteyrolle
    section
        #imageartist
            img(src='/images-galerie/artists/paquetrobert-sculpture-bleue.jpg' alt='Robert Paquet, "Songeuse", blue sculpture')
           
    block aside