extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Robert Paquet, sculptor')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #dddddd;}
        #sculpture{font-weight:600; padding:5%;line-height:1.3rem;}
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Robert Paquet
                    #sculpture
                        p "Songeuse" (she is dreaming)
                        p 
                        | sculpture
                        br
                        | bronze, blue sheen,
                        br
                        | 19 cm high
                        br
                        | 2008
                    p Photo : Morteyrolle
            .column65
                #diacontainer
                    .artwork
                        img.artimage(src='/images-galerie/artists/paquetrobert-sculpture-bleue.jpg' alt='Robert Paquet, "Songeuse", blue sculpture')
