extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Pascal Plazanet, drawings and paintings')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/plazanet/dias-listes2.js')
    script(src='../js/galerie.js')
block main
    style.
        #legende{font-weight:600;}
        .am{border-color:rgba(255, 0, 0, 0.4);color:blue; background-color: white;margin:1px;}

    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/plazanet/pascal-plazanet-logo.gif' alt='Pascal Plazanet, logo')
                    h1 Pascal Plazanet
                    #artistmenu
                            a(aria-label="Gallery 1" href='eplazanet' title="Drawings") 
                                button.am  Gallery 1
                            br
                            a(aria-label="Gallery 2" href='eplazanet2' title="Art work 2") 
                                button.am Gallery 2
                            br
                            button#goToBio.am(aria-label="see the Biography" type='submit title="Biography')  Biography           
                           
            .column65
                #diacontainer
                    #dias
                    #legende
                #bio
                    h2 Biography
                    p to be followed               
                    
        button#icons  short break   