extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Suzan Rasmussen, paintings and drawings')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/rasmussen/dias-listes5.js') 
    script(src='../js/galerie.js')
block main
    style.
        #legende{font-weight:600;}
        .am{border-color:rgba(255, 0, 0, 0.4);color:blue; background-color: white;}

    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Suzan Rasmussen
                    img(src='/images-galerie/base/rasmussen/suzan-rasmussen-logo.gif' alt='Logo Suzan Rasmussen')
                    h3 Réalisations
                    #artistmenu
                        a(aria-label= 'The ancestors speak' href='erasmussen' title="restart Ancètres") 
                            button.am The ancestors speak
                        br
                        a(aria-label="Cancer series" href='erasmussen2' title="restart Cancer Series") 
                            button.am  Cancer series
                        br
                        a(aria-label="Landscapes" href='erasmussen3' title="restart Landscapes") 
                            button.am  Landscapes
                        br
                        a(aria-label="Nudes" href='erasmussen4' title="restart Nudes") 
                            button.am  Nudes
                        br
                        a(aria-label="Portraits" href='erasmussen5' title="restart Portraits") 
                            button.am  Portraits
                        br
                        button#goToBio.am(aria-label="see the Biography" type='submit' title="Biography")  Biography           
                        br
                        button#goToPhilo.am(aria-label="l'artistes sur son art" type='submit' title="Suzan sur Suzan") Mon art          
                        br
                        button#goToExtratext.am(aria-label="art shows" type='submit' title="art show") Shows
                       
                        
                    p © Photos : Suzan Rasmussen et Helga Strobl
            .column65
                #diacontainer
                    #dias
                    #legende
                        
                #bio
                    h2 Biography
                    p to be followed
                #philo
                    h2 Artist's statement
                    p to be followed
                #extratext
                    h2  to be followed
        button#icons  short break 
        