extends ../../templates/e-layout-galerie-base.pug
block main
    .fond
        style.
            .fond{background: #eeeeee;}
        section
            #logoartist
                h1 Nos réferences de logos
                p détails à suivre