extends ../../templates/e-layout-artistes.pug
block main
    style.
        body{background: #eeeeee;}
    section
        #logoartist
            h1 References of (artists) logos
            p Details shortly