extends ../../templates/e-layout-artistes.pug
block main
	section
		#logoartist
			h1 Website for a cultural institution
            p 
            | This project included the site, an audio and video archive, the integration of existing services, the graphic charter ...
            | It is no longer online.
			img(src='/images-galerie/references/mhh1.png' alt='page d\'accueil')
//-	section
		#imageartist
	img(src='/images-galerie/artists/adzak1.jpg' alt='Roy Adzak, lithographie')
			#legende Roy Adzak, lithographie
		block aside