extends ../../templates/e-layout-artistes.pug
block main
    style.
        body{background: #bbbbbb;}
    section
        #logoartist
            h1 SD Consulting
            p agency for economic investigations