extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Suzan Reggaro')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #bbbbbb;}
    section
        #logoartist
            h1 Shannon Reggaro
    section
        #imageartist
            img(src='/images-galerie/artists/shannon-painting.jpg' alt='Shannon Reggaro in 2016')
            #legende Shannon Reggaro paints in the French workshop - works will be visible shortly
    block aside