extends ../../templates/e-layout-artistes.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Fabienne Stoulig')
    meta(name='robots', content='index, follow')
block main
    style.
        main{background: #dddddd;}
    section
        #logoartist
            #legende 
                h1 Fabienne Stoulig
                p "Don't move"
                p 
                | 205 x 90 cm
                br
                | Acrylic on canvas,
                br
                | frame woven of golden thread
    section
        #imageartist
            img(src='/images-galerie/artists/stoulig-fabienne.jpg' alt='Fabienne Stoulig, "Stop moving"')
    block aside