extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Silvia, art deco')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/sylviaartdeco/dias-listes.js')
    script(src='../js/galerie.js')
block main
    style. 
        .fond{background-color: #FFcc66;}
        #icons{background-color: #6666ff; color:#FFcc66;font-weight:500;}
        #logoartist{background-color:#6666ff;}
        .am{background-color: #6666ff; color:#FFcc66;font-weight:400;border-color:#FFcc66;margin:1px;}
        
        img{border-right:1px ridge rgba(255, 255, 255, 0.07);border-bottom:1px ridge rgba(255, 255, 255, 0.04);border-top:1px ridge rgba(255, 255, 255, 0.07);}
    
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Silvia Simoncelli
                    img(src='/images-galerie/base/sylviaartdeco/sylvia-art-deco.gif' alt='Logo Silvia Simoncelli')
                    #artistmenu
                        a(aria-label="Realisations" href='esylviaartdeco' title="Realisations") 
                            button.am Realisations
                        br
                        button#goToPhilo.am(aria-label="Artist's statement" type='submit' title="Artist's statement") Artist's statement
                        br
                        button#goToBio.am(aria-label="see Biography" type='submit' title="Biography")  Biography           
        
                    p Photos: Silvia Simoncelli
            .column65
                #diacontainer
                    #dias
                    #legende
                #bio
                    h2 Biography
                    p to be followed
                #philo
                    h2 Feng Shui
                    p  to be followed                 
                    
        button#icons  short break 
