extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Ahmed Tajuddin, painter')
    meta(name='robots', content='index, follow')
    script(src='../js/dias-code-base.js')
    script(src='../images-galerie/base/tajuddin/dias-listes.js')
    script(src='../js/galerie.js')
block main
    style.
        #legende{font-weight:600;}
        .am{border-color:rgba(189, 121, 35, 0.71);color:#990000; background-color: white;margin:1px;}
    .fond
        .row-artists
            .column35
                #logoartist
                    img(src='/images-galerie/base/tajuddin/tajuddin.gif' alt='Logo Ahmed Tajuddin')
                    h1 Ahmed Tajuddin
                    #artistmenu
                        a(aria-label="Paintings" href='etajuddin' title="Paintings") 
                            button.am Paintings
                        br
                        button#goToBio.am(aria-label="Biography" type='submit title="Biography')  Biography           
                        
                    p © Photos : Ahmed Tajuddin

            .column65
                #diacontainer
                    #dias
                    #legende
                #bio
                    h2 Biographie
                    p to be followed   
                    
        button#icons  short break 