extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Valgallard')
    meta(name='robots', content='index, follow')
block main
    .fond
        style.
            #legende{font-weight:600;}

        section
            .row-artists
                .column35
                    #logoartist
                        img(src='/images-galerie/base/val-gallard/valgallard1.gif' alt='Logo Valgallard')
                        h1 Val-Gallard
                        #artistmenu
                            a(href='valgallard') Galerie 1
                            br
                            a(href='valgallard2') Galerie 2
                            br
                            | ... 
                            br
                            | Note: working on this site, more content to follow
                        p © Photos : Valerie Gallard

                .column65
                    #diacontainer
                        #dias
                        #legende
                        block script
                        script(src='../images-galerie/base/val-gallard/dias-listes2.js')
            button#icons  short break  