extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presente Villa Ada, peintre')
    meta(name='robots', content='noindex, nofollow')
block main
    style. 
        .fond{background-color:black; color:#eae8e0;}            
    .fond
        h3=message
        h1=title
        #logoartist
            p You will find here shortly the updated website of #{artist}
            