extends ../../templates/e-layout-galerie-base.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières presents Fatma-Zohra Zamoum, filmmaker')
    meta(name='robots', content='index, follow')
block main
    .fond
        .row-artists
            .column35
                #logoartist
                    h1 Fatma-Zohra Zamoum, filmmaker
            .column65
                #diacontainer
                    #dias                        
                        img(src='/images-news/2014/fatma-zohra-zamoum_azib-zamoum.jpg' alt='film poster, Azib Zamoum') 
                        .legendes Film poster "Azib Zamoum, une histoire de terres" (a history of land), shown during Open Doors
