extends ../../templates/e-layout-site.pug
block main
    div
        section
            header
                h1=title
            h3 A mobile application for a contemporary art event
            p A mobile application dedicated to your event offers you new possibilities:
            ul
                li Easy access for your visitors via their smartphone (geolocation, tickets)
                li Diversification of content depending on time or location within the show
                li Reward system for your most loyal visitors
                li Option system during visits
            p A specific mobile app will be the standard of tomorrow for a great art event - we offer the vanguard today!
            section
            header
                h3 A commercial mobile application
            p
            | If you are looking for the latest technology, a custom design,
            | a user interface for an audience of any age, tell us about your project!
    footer        
        hr
        include ../../templates/footer.pug
    block aside