extends ../../templates/e-layout-site.pug
block extrameta
        meta(name='description' content='AsF helps its artists members to promote themselves and to exchange between feloow artists - Changes to reception during COVID-19 epidemy')

block main
    section
        header
            h1=title
        p 
        | Artistes sans Frontières is an organization dedicated to helping artists around the world make themselves known.
        br
        | It is funded solely by membership fees, donations and paid services.
        p
        | The association promotes exchanges between artists from various countries and all forms of artistic expression.
        | It organizes exhibitions and offers a social network of exchange between members (in the process of being created, put online at the beginning of 2020).
        | It establishes contacts abroad for French artists and welcomes national and international artists in France.
        | Whether you are a painter, writer, sculptor, musician, photographer, filmmaker, multimedia artist, creator in the electronic arts, craftsman, or a simple enthusiast or art lover, be welcome.

        h2 The statutes
        p
        | The statutes are available in pdf format on request by e-mail or via the contact form completely filled.
        br
        | For email requests, provide your name, address, phone number and a short presentation.
        br
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Request statuts') E-mail: bureau.asso@artistes-sf.org

    