extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, 7 impasse du Rouet, 75014 Paris. Contact par phone : +33 (0)1 40 44 77 41, Email: bureau.asso@artistes-sf.org')
block main
    section
    h1=title
    div
        p Following heavy water damage, our place is undergoing repairs at the moment and closed to the public.
        p Telephone reception, from Monday to Saturday, between 11h and 19h : +33 (0)1 40 44 77 41.
        p
            a(href='mailto:bureau.asso@artistes-sf.org?subject=page contact, en') E-mail: bureau.asso@artistes-sf.org