extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, 7 impasse du Rouet, 75014 Paris. Contact par phone : +33 (0)1 40 44 77 41, Email: bureau.asso@artistes-sf.org')
block main
    section
        header
            h1=title
        p 
        | Artistes sans Frontières, 7 impasse du Rouet, 75014 Paris
        br
        | Reception at the association: on appointment, preferably from Monday to Saturday, after 1pm.
        p Telephone reception, from Monday to Saturday, between 11h and 19h : +33 (0)1 40 44 77 41.
        p
            a(href='mailto:bureau.asso@artistes-sf.org?subject=page contact, en') E-mail: bureau.asso@artistes-sf.org