extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières offers a photo service to members and to clients of other services')
block main
    div
        section
            header
                h1=title
            h2 Photos of your works and exhibitions
            p
            | Each work of artist deserves the best possible presentation, this is the credo of our association.
            br
            | Each photo presented on our websites is processed by a graphic artist.
            | If possible, we process the colors in the presence of the artist or the work, to be as close as possible to reality.
            br
            | The photos of our reports in the News pages are treated more briefly, but we take all our time for photos of the works on personal sites.
            | This service is included in each package.
            h3 Shooting and photo processing
            ul
                li Photos for a website
                li Photos for Internet and printing
                li Pictures of documentation of your exhibition
            p Special rates for members, quotes on request.
            h2 IT services
            p Troubleshooting, training or assistance in creating a project
            include ../../templates/footer.pug
        aside
        p -----





