extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, our services for a succesful show of your art work. Choose the level of your implication, we have a solution for the rest !')    
block main
    section
        header
            h1=title
        h3 Service for artist members
        p Participation in our group exhibitions: shared costs
        p Individual exhibition: Choice of location according to your budget
        h3 Service posters and invitations
        ul
            li Processing of a photo of your choice for printing based on a good digital photo.
            | If you don't have good photos of your works, we take a photo of a work in our workshop.
            | If you bring a photo, you declare having the rights of this photo for the use on posters and invitation cards and the authorization of the photographer.
            | If you bring a work, of which we take the photo, you give us the authorization of publication.
            li Layout of posters and invitations - you choose the poster and card formats
            li Prepress files and transfer to the printing press
            li Printing: we use printing companies at a good price (depending on the quantity desired), but you are free to choose another printing company. In this case, we provide you with the digital files.
        p The display of posters and the distribution of invitation cards is your responsibility.
        h3 Catalogs and brochures
        ul
            li Personal catalogs
            li Catalogs for group exhibitions
            li Leaflets
            li Professional photo service
            li Layout
            li Printing: Organization of printing
        h3 Transport of works of art and other services for the exhibition
        ul
            li Transport of works in France and in the European Union, Schengen area
            li Reception of works sent and return after the exhibition
            li Framing under glass or mounting canvas on support on site
            li Hanging, placement of sculptures, lighting adjustment etc.
                include ../../templates/footer.pug