extends ../../templates/e-layout-site.pug
block main
    div
        h2 #{title} 
        section
        p 
        | On the new web site you find information on
        | our artists' association (a few pages still in preparation), on our services,
        | the members gallery and events of the past years.
        p Events since the foundation will be added gradually.
        h3
        | Most recent news (year - publication number)
        a(href='/archive/eactuel') :  20#{target.actu}
    footer
        hr
        include ../../templates/footer.pug
