extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Are you an artist or passionate about art? Join the association Artists without Borders' )

block main
    section
    h1=title
    div
        p 
    block aside