extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Impressum : who is in charge for what, and copyrights for everything' )
block main
    section
        div
            header
                h1=title
        div
            p   
            |   Paris Head Office 
            br
            |   7, impasse du Rouet
            br
            |   F-75014 Paris
            p   Phone : +33 (0)1.40.44.77.41
            a(href='mailto:bureau.asso@artistes-sf.org?subject=page e-mentions') E-mail: bureau.asso@artistes-sf.org
            p 
            |   Numéro SIRET 450 173 844 000 25 (statistical number)
            br
            |   TVA: CEE no FR50450173844 (VAT Number)
            br
            |   Code APE 923A
            p   
            |   President: M Ferdinand Winkler
            br
            |  Editorial manager: Ms Helga Petrovic
            p   Fournisseur / Provider:
            |   Site hosted by OVH.com
            br
            |   2 rue Kellermann - 59100 Roubaix - France
            | (data stored in Europe)

        div
            h3 Copyright
            p   Editorial part, photos and texts : Artistes sans Frontières, 
            |   Helga Petrovic, for the individual sites: the artists for the photos and texts provided by them.
            h3 Guarantees
            p
            | The association Artistes sans Frontières strives to ensure to the best of its ability, the accuracy and updating of the information published on this site. We reserve the right to correct the content of the site at any time. However, we cannot guarantee the accuracy, precision or completeness of the information made available on this site.
            br
            | We decline any responsibility for any interruption of the site, any occurrence of bug, any inaccuracy or omission relating to information available on the site, any damage resulting from a fraudulent intrusion by a third party leading to a modification of the information made available on the site.
            br
            | This site contains links to other sites. The Association Artistes sans Frontières cannot be held responsible for access or content problems on these sites.
            h3 Intellectual property rights
            p
            | All the elements present on the site and the site itself are protected by copyright, trademark law, designs and / and any other intellectual property law. By elements, we mean in a non-exhaustive manner: photographs, images, drawings, illustrations, animations, texts, videos, logos, brands, models, software ... These elements belong to the association Artistes sans Frontières or are used with agreement of their owners.
            br
            | As such, any reproduction, representation, use, adaptation, modification, incorporation, translation, marketing, partial or complete by any process and on any medium whatsoever (paper, digital, etc.) is prohibited without the prior written permission of the association Artistes sans Frontières, except for the exceptions provided for in article L 122.5 of the Code de Propriété Intellectuelle français, under penalty of constituting an offense of infringement of copyright and / or designs and / or brands.
            p For any questions, requests or additional information, write to:
                a(href='mailto:bureau.asso@artistes-sf.org?subject=page mentions, copyright') E-mail: bureau.asso@artistes-sf.org

    block aside