extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, our history (we are working on it)')
block main
    section
        h1=title
        p 
    footer
        hr
        include ../../templates/footer.pug