extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, the services of our association')
block main
    section
        header
            h1=title
        h3 Members
        p
        | Discover the range of our services on the following pages!
        br
        | For the services included in the annual subscription, see page "Become a Member"
        | The other services are generally paid services, at very attractive rates for our members.
        h3 Individual or business
        p
        | We also offer several services accessible to non-members
        ul
            li Internet Services
            li Web development
        p If you are looking for personalized service and an artistic approach, do not hesitate to contact us.
        h3 Artist, but not member
        p If you are an artist or cultural actor, without however joining AsF, you will benefit from a 10% reduction in the standard price.

    footer
        hr
        include ../../templates/footer.pug