extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières develops individual dynamic and responsive websites. From small cultural to large commercial projets, we find creative and esthetic solutions ')
block main
    section
        header
            h1=title
        h3 Service for artists, galleries, cultural institution
        p
        | We create for each of our members a unique site, adapted to their personality and their needs.
        br
        | And that, at prices without competition!
        p Choose one of the standard packages or a solution suited to your project!

        p
        | Promotion of your exhibitions: Advertise your exhibitions in the News pages for free!
        | In general, Artistes sans Frontières makes photo-reports of its openings and participations in trade fairs. 
        a(href='edivers')  (See also chapter "Other Services")
        br
        | Take advantage of a free link from your site to each news article about your artwork and events - this enriches your site!
    section
        header
            h3 Basic site
        ul
            li A page with your name, logo and navigation (links to other pages)
            li A page of text (biography or other)
            li A page with 6 to 10 photos
            li Processing of photos from digital photos or good quality paper photos.
            li An animation around photos or text (eg automatic dia show).
            li Subdomain: Our visitors will find you in the Virtual Gallery. In addition, you will have an address such as art.artistes-sf.org/YourName or art.artistes-sf.org/YourArtit'sName to access your site directly.
            li Hosting: hosted on our server, the basic site is accessible for the duration of your membership in the association Artistes sans Frontières. You will find details about membership on the membership form.
            li Optional: The creation of your logo
        p See an example from our "basic site": Silvia Simoncelli (old version)
        p
        | Throughout your membership to AsF, each year your site expands and shows more of your works.
        br
        | See an example of a site with professional photos: Germain Kouassi (old version).
        h3 Basic Site Plus
        p
        | You want to have a large site, without worrying about its management?
        br
        | Add options to the base site, as desired:
        ul
            li Additional text pages
            li Photos or other media
            li Domain name of your choice
            li Features (contact form, access map ...)
    section
        header
            h3 Independent, variable size artist site
        p Ask for a quote, if you wish:
        ul
            li Free structure and layout, depending on your project
            li Unique graphics
            LI Interaction with visitors
            li Statistics, database
            li One or more domain names
            li Photos of all your important works
            li Exceptional photo quality
        p Hosting: the site is hosted on a server or in a space included in the rental of the domain name,
        | depending on your requirements and the features selected.
        br
        | This site is independent from the association's site. You can entrust us with its hosting or choose your supplier freely.
        p Updates and services after delivery: on estimate
        p See an independent artist site: Doug Petrovic (old version)
    section
        header
            h3 Creation of personal or commercial site
        p
        | Meet or contact us, to get a quote for your project. We will ask for the content plan,
        | examples of texts, photos, media, your expectations for future use of the site,
        | target visitors, desired features and budget.
        br
        | We will discuss the technical possibilities together, to create a user experience adapted to your target.
        br
        | Quote on request after the first interview.
        p
        hr
        p
            include ../../templates/footer.pug
