extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières and its members offer workshops. We also accept interns.')
block main
    section
        header
            h1=title
        
        h3 Coming soon
        p 
            | Art practice courses (painting, litho, photo ...) organized by our artist members,
            | to the limit of available places.
        p ---
    footer
        hr
        include ../../templates/footer.pug