extends ../../templates/e-layout-site.pug
block main
    div
        section
            header
                h1=title
            div
                h3 Coming soon
                p 
                    | Art practice courses (painting, litho, photo ...) organized by our artist members,
                    | to the limit of available places.
                p ---


    block aside