extends ../../templates/e-layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, copyrights and members\' liabilities for content on individual websites and participations on our shows')
block main
    section
        header
            h1=title
        h2 Site content
        p
        | The members retain all responsibility - civil, administrative and criminal - for the texts and photos that appear on their site.
        | The association will not publish any racist, xenophobic or pornographic content and more generally anything that contravenes French press laws.
        | Erotic works are welcome, but we reserve the right to decide if a photo is eligible.
        h2 Photo copyright
        h3 Individual sites, dependent on the Artists without Borders site
        p
        | By ordering a site you authorize us to publish the photos online, which you communicate to us, for the duration of the membership and until written revocation of this right.
        | If you are not the author of the photos, you agree to obtain the photographer's permission for publication and provide us with his name to indicate it on the site, if the photographer wishes.
        h3 Independent individual sites
        p You are free at any time to withdraw the site, modify the content or change the hosting provider or manager, provided that the site has been fully paid for. These changes are generally chargeable, the prices and the procedure depend on the suppliers concerned.
        h3 Photos and information in the News pages
        p
        | We reserve the right to photograph and document the exhibitions organized by Artistes sans Frontières and group exhibitions, where Artistes sans Frontières rents a stand, registers its members, etc.
        br
        | We also publish your own photos of your exhibition or those you send us with the photographer's agreement.
        br
        | The choice of photos is up to the editorial staff. For all our reports and documentation, the law of the French press applies.

        include ../../templates/footer.pug
        p
        hr
        include ../../templates/footer.pug   





