extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer Ausstellungen 2004 : Doug Petrovic, Christian "Motor" Polansek et Eveline Krischan' )
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header
                h1  Offene Türen der Künstlerateliers, "les Portes Ouvertes du 14e"
            p 15 - 16 Mai 2004
            h3  
                | Ausstellungen : 
                | Gemälde und Skulpturen von 
                a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic
                | , Christian "Motor" Polansek, 
                a(href="/galerie/krive") Eveline Krischan 
                |  und 10 andere österreichische Künstler.    
        block script
            script(src='../images-news/2004/dias-listes.js')

            