extends ../../templates/e-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos der Ausstellung Offene Türen 2004, Teilnehmer : Doug Petrovic, Jacqueline Cauet, Tajuddin Ahmed' )
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Offene Türen 2004
        .row
            .column
                h2 Offene Türen   
                p Samstag 20. und Sonntag 21. November 2004
                p von 14 bis 20h
                p 7, Impasse du Rouet
                h3  
                    |Ausstellung: 
                    a(href="http://www.dougpetrovic.info" rel='noopener' target="_blank")  Doug Petrovic
                    |  und Jacqueline Cauet
                p Seit den letzten Offenen Türen im Mai 2004 haben sich unsere Ateliers weiter verändert. Zusätzliche Renovierungsarbeiten wurden durchgeführt und wir haben einen Arbeitsplatz in luftiger Höhe für einen Künstler eingebaut. Damit kann er hoch oben arbeiten, zu ebener Erde Besucher empfangen und seine Werke auf der ganzen Fläche ausstellen.
            .column
                img#imagefull(src="../images-news/2004/bilder.jpg", alt="Werke in Vorbereitung der Offenen Türen")
                br
                | Arbeiten in Vorbereitung auf die Offenen Türen.      

        .row 
            .column
                img(src="../images-news/2004/atelier.jpg", alt="Atelier 2004")
            .column
                p Der Arbeitsplatz wurde aus hundertjährigen Eichenbalken und einer grossen Arbeitsfläche aus Plexiglas gebaut, um weder die Höhe des Ateliers noch das Licht einzuschränken.
                p Diese beiden grundverschiedenen Materialien, die soliden antiken Eichenbalken und das leichte Glas, haben ein sehr modernes Design gestattet, ohne den Charakter des alten Künstlerateliers zu verändern.


    section
        header
            h1 Ausstellung im Musée Atelier Adzak,
        p 3 rue Jonquoy, 75014 Paris, tél. 01.45.43.06.98 
        h3 Didier de Nayer, Philippe Descharmes et Luc Gueronnet: Fotos "De Natura"
        p Montag, 8. November bis Dienstag, 23. November 2004
        p Vernissage Dienstag, 9. November. 16. November Claude-Maries Gedichte ab 18h.

    section
        header
            h1 Automne de Bengale: 
        h2
            a(href="/galerie/tajuddin") Tajuddin Ahmed
            | ,  bengalischer Maler  
        p Von Donnerstag, 16. bis Freitag, 24. Dezember 2004
        p Vernissage, Donnerstag, 16. Dezember ab 18h.

    section
        header
            h1 Vorschau Februar - März 2005:
        h3 Gemeinschaftsausstellung für Mitglieder von Artistes sans Frontières in Paris