extends ../../templates/d-layout-archive-dias.pug
block main
    h3=message
    section
        header
            h1=title
    section
    #textgauche
        header 
            h1  Exposition à Sète
        p 15 décembre 2005 - 14 janvier 2006, tous les jours sauf dimanche
        p Bistro du Marché, 1 rue Alsace Lorraine, Sète
        p Douglas "Doug" Petrovic et Catherine Pillas


       
        block script
            script(src='../images-news/2005/sete/dias-listes.js')
        