extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Offene Türen im November : Claire Pluvinage, Doug Petrovic, Airelle,Pascal Plazanet, Catherine Pillas ')

block main
    section
        p#message=title
        #textgauche
            header 
                h1 Offene Türen im Herbst
            p 
                | Airelle, 
                a(href="/galerie/pluvinage") Claire Pluvinage
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                 
        block script
            script(src='../images-news/2005/ponov/dias-listes.js')