extends ../../templates/d-layout-archive-dias.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  L'exposition à la Loft-Gallery, juin 2005
           
            block script
                script(src='../images-news/2006/loft/dias-listes.js')
            