extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung in der loft-gallery 2005, pictures by the artist Roland Erguy')

block main
    section
        p#message=title
        #textgauche
            header
                h1  Die Ausstellung in der Loft-Gallery, Juni 2005
                p  Fotos unserer Mitglieder - wir danken Regine und Roland Erguy
        
        block script
            script(src='../images-news/2005/lofterguy/dias-listes.js')


