extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Salon Art du Nu 2006, Stimmung ')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section 
        p#message=title
            header 
                h1  Salon Art du Nu - die Stimmung rund um den Stand
            block script
                script(src='../images-news/2006/artdunu2/dias-listes.js')
            p 
                a(href='06-12')   Sehen Sie unseren Stand auf der Salon Art du Nu 
        