extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos der Ausstellung Claire Pluvinage, 2006')
    meta(name='author' content='Fréderic')
block main
    section
        p#message=title
        #textgauche
            header
                h1  
                    a(href="/galerie/pluvinage") Claire Pluvinage 
                    | stellt in der Galerie Thuillier aus, 
            p 13, rue de Thorigny, 75003 Paris, 
            p Tel: 01 42 77 33 24
            p 10 - 23 November 2006
            block script
                script(src='../images-news/2006/pluvinage/dias-listes.js')