extends ../../templates/d-layout-archive-dias.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes du XIVe, 20 et 21 mai 2006, chez Artistes sans Frontières
           
            block script
                script(src='../images-news/2006/po/dias-listes.js')
            