extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer an den Offene Türen , "les Portes Ouvertes du 14e" 2006 : Roland Erguy, Nicolas Ganter, Doug Petrovic')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Offene Türen , "les Portes Ouvertes du 14e"  in Paris, 20 + 21 Mai 2006, bei Artistes sans Frontières
            h3 
                | Der Verein stellt  
                a(href="/galerie/erguy") Roland Erguy 
                |  , 
                a(href="/galerie/nicolas") Nicolas Ganter 
                |  und 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
                | vor.

            block script
                script(src='../images-news/2006/po/dias-listes.js')