extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer am Fest des Vereins 2005')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Vereinsfest
            p Im Sommer leert sich Paris und Mitte Juli fanden wir uns allein im Hof, da alle Nachbarn im Erdgeschoss der Häuser auf Urlaub gefahren waren. Am Samstag, dem 22. Juli, veranstalteten wir daher ein improvisiertes Fest für unsere Mitglieder und die Nachbarn, die noch in Paris geblieben waren
    
            p  Der Aperitif zwischen 17 et 19 Uhr verwandelte sich in ein gemeinsames Abendessen für die, die noch bleiben konnten. Auf den Fotos sehen sie uns schon beim Dessert zwischen 21 und 22 Uhr. Der letzte Besucher ging gegen 3 Uhr nach Hause. Wir hoffen schon auf gutes Wetter im September, um die Veranstaltung nach der Rückkehr der Pariser wiederholen zu können.         
            block script
                script(src='../images-news/2006/fete/dias-listes.js')