extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos Auftritt von Tiki Joe 2006: ')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section 
        p#message=title
        #textgauche
            header 
                h1  Tiki Joe 
            p auf Einladung von Greg Iaggart in der Shannon Bar, Paris 13e, 24. August 2006.
            block script
                script(src='../images-news/2006/tikijoe/dias-listes.js')
