extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer  Loft Gallery : Roland Erguy, Douglas "Doug" Petrovic, Suzan Rasmussen')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section    
        p#message=title
        #textgauche
            header 
                h1  Ausstellung im der Loftgallery : 
            h3 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  und   
                a(href="/galerie/rasmussen") Suzan Rasmussen
        
        p 
            a(href='06-10') Fotos der Finissage  
        block script
            script(src='../images-news/2006/loft/dias-listes.js')
