extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellungen 2007 : Gabriel Gebka und Frevarias')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h3  Nächste Ausstellungen 
            h2 
                a(href="/galerie/gebka") Gabriel Gebka
                |  stellt in der Galerie Thuillier aus,
            p 13 rue de Thorigny, 75003 Paris, noch bis 23. April 2007  
            h2  
                    | Ausstellung   
                    a(href="/galerie/frevarias") Frevarias
            p bis zum 22 April 2007, Galerie 3F, 58 rue des 3 Frères, 75018 Paris

            block script
                script(src='../images-news/2007/freva/dias-listes.js')

