extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer während der Offenen Türen in Paris im Mai 2007 : Roland Erguy, Val Gallard, Nicolas Ganter, Dirk Gruyters, Douglas "Doug" Petrovic')
block main
    section
        p#message=title
        #textgauche
            header 
                h3  Nächste Ausstellungen
            p 
                a(href="/galerie/villaada") Ada Villa 
                | : 'Ritagle di Memorie' 26 Mai bis 4 Juni
                br
                | Galleria dea Borgo Pinti 42/r 50121 Firenze
                br
                | Vernissage 26 Mai 18h
           
    section
        #textgauche
            header 
                h1  Offene Türen der Künstlerateliers, "les Portes Ouvertes du 14e"  in Paris
            p 12 und 13 Mai 2007, bei Artistes sans Frontières
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="/galerie/valgallard") Val Gallard
                | , 
                a(href="/galerie/nicolas") Nicolas Ganter
                | , 
                a(href="/galerie/gruyters") Dirk Gruyters
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Douglas de Petrovic

            block script
                script(src='../images-news/2007/po/dias-listes.js')
