extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Nächste Ausstellungen 2007')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Nächste Ausstellungen
            h3 
                a(href="/galerie/erguy") Roland Erguy
                | , Skulpturen 
                a(href="/galerie/villaada") Ada Villa
                |  und 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Douglas Petrovic
                | , Malerei, 
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                | , Fotos
            .row
                .column
                    img(src="../images-news/2007/loft/invitation-recto.jpg", alt="carte invitation recto")
                .column
                    img(src="../images-news/2007/loft/invitation-verso.jpg", alt="carte invitation verso")
    section
        #textgauche
            header 
                h3  Nächste Ausstellungen :
                        
            p  Ulysses Belz stellt in Freiburg, Deutschland, aus: 19 Oktober - 2 Dezember:
            img(src="../images-news/2007/fete/ulysses-tript.jpg", alt="Austellung Ulysses Belz in Deutschland")
        
            .row
                .column
                    img(src="../images-news/2007/fete/ulysses2a.jpg", alt="Einladungskarte Ulysses Belz Rückseite")
                .column
                    img(src="../images-news/2007/fete/ulysses2.jpg", alt="Einladungskarte Ulysses Belz rechte Vorderseite")
