extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer an der Ausstellung in der Loft Gallery 2007 : Roland Erguy, Ada Villa, Douglas Petrovic et Helga Strobl ')
    meta(name='author' content='Babacar')
block main
    section
        p#message=title
        #textgauche
            .row
                .column
                    header 
                        h1 Ausstellung in der Loft Gallery
                    h3 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        br
                        a(href="/galerie/villaada") Ada Villa
                        | ,
                        br
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Douglas Petrovic
                        |  und  
                        br
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                    p 17 - 30 November 2007
                .column
                    img.imagehalfc(src="../images-news/2007/loft/affiche.jpg", alt="Ausstellungs Plakat Loft Gallery 2007")
    section
        block script
            script(src='../images-news/2007/loft/dias-listes.js')