extends ../../templates/d-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  L'exposition dans la Loft Gallery
            p Ada Villa, Helga Strobl, Douglas Petrovic et Roland Erguy
           
            block script
                script(src='../images-news/2007/loft/dias-listes.js')
            