extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Abschiedsfeier des Zeitschriftenhändlers')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Die Abschiedsfeier des Zeitschriftenhändlers
            p Eine kleine improvisierte Feier zum Abschied einer Institution des Viertels
           
            block script
                script(src='../images-news/2007/pot/dias-listes.js')
            