extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos von der Veranstaltung und Teilnehmer während des Offene Türen in Paris, September 2008 : Fatma-Zohra Zamoum, Roland Erguy, Germain Kouassi, Helga Strobl, Douglas "Doug" Petrovic, Jochen Schwertfeger')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        #textgauche
            header 
                h1  Offene Türen der Künstlerateliers, "les Portes Ouvertes du 14e"  in Paris
            p 27 und 28 September 2008
            p 
                | Gemälde von 
                a(href="/galerie/kouassi") Germain Kouassi
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/schwertfeger") Jochen Schwertfeger
                | , 
                br
                | Skulpturen von 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                br
                | Fotos von  
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                br
                | Kurzfilme von
                a(href="/galerie/zamoum") Fatma-Zohra Zamoum

            block script
                script(src='../images-news/2008/po/dias-listes.js')
