extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung 2009, Carole Freva')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Ausstellung im Dezember 2009
            .row
                .col
                    h2 Carole Freva 
                    h3 Le Salon de décembre
                        br
                        | Galerie Thuillier
                    p 5 - 18 Dezember 2009
                        br
                        |  Montag bis Samstag, 13h - 19h
                    p Vernissage Dienstag 8 Dezember, 18h - 21h
                    p 13 rue de thorigny, 75003 Paris, Telefon 01 42 77 33 24
                    p Metro St Sébastien-Froissart or St Paul
                .col
                    h2 Showroom und Privatverkauf Irena et Gabriella
                    img(src="../images-news/2009/gabriella-carbone1209.jpg", alt="Einladung Irena und Gabriella")