extends ../../templates/d-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1   
                    a(href='http://gabriella.carbone.free.fr/'  rel='noopener noreferrer nofollow'  target='_blank') Gabriella Carbone 
                | , photographies
                h3 Vernissage Galerie 3 F, 3 avril 2009
            block script
                script(src='../images-news/2009/carbone/dias-listes.js')
