extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung Roland Erguy, Ausstellung Doug Petrovic, Helga Strobl')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1 Ausstellungen 2009
            .row
                .col
                    h2 August
                    h3 
                        | AsF in der Galerie 3F, Paris
                        br
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | , Malerei und  Skulptur, 
                        br
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank")  Helga Strobl
                        |, Foto
                    img(src="../images-news/2009/affiche3f-doug-helga.jpg", alt="Doug Petrovic, Helga Strobl,  Einladung zur Ausstellung")
                    p 6 - 30 August, Donnerstag - Sonntag, 14 - 18h und nach Vereinbarung (Tél. 06 32 95 40 90)
                    p Galerie 3F, 58 rue des 3 frères, Paris 18e, Métro Abbesses
                .col
                    h2 September 
                    h3
                        a(href="/galerie/erguy") Roland Erguy in Cercles Bleu
                    img(src="../images-news/2009/roland-expo.jpg", alt="Roland Erguy, Einladung zur Ausstellung")
                
