extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung Doug Petrovic, Helga Strobl')
    meta(name='author' content='Frédéric LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Ausstellung in der Galerie 3F, Paris, August 2009
            p 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , Malerei und  Skulptur, und  
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank")  Helga Strobl
                |  , Foto
            block script
                script(src='../images-news/2009/3f/dias-listes.js')
