extends ../../templates/d-layout-archive-dias.pug
block main
    div
        h3=message
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1 Exposition dans la galerie 3F, Paris, août 2009
            p Doug Petrovic, Helga Strobl
            block script
                script(src='../images-news/2009/3f/dias-listes.js')
