extends ../../templates/layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Nächste Ausstellungen Offene Türen - Paris, Doug Petrovic stellt in China aus')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header
                h1 Ausstellungen Frühjahr 2010 
            h2
                | Portes Ouvertes - Offene Türen - Paris
            p 29 und 30 Mai 2010
            h2  
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                |  stellt in China mit der 
                a(href="http://www.artenvoyage.org/f/xhhd_c.asp?ID=139" rel='noopener' target="_blank") Association Art en Voyage aus
        .row        
            .column
                    p 12 - 16 April 2010
                    h3 SENAT (Beratender Ausschuss der Volksrepublik China)
                    p Adresse: 北京市西城区太平桥大街23号
                    p No23 TAIPINGQIAO STREET XICHENG DISTRICT BEIJING
                    br
                    p 20 April - 16 Mai 2010
                    h3 PEKIN ORIENTAL MEDIA CENTER
                    p 第三站：北京东方梅地亚中心  Pekin Oriental Media Center
                    p Adresse: 4 Guang Hua Road, Chao Yang
                    p Dist, Beijing
                    p Postleitzahl: 100026
            .column
                    img(src="../images-news/2010/1002doug_05.jpg", alt="Doug Petrovic: Bleu cérise, Kirschblau")
        h2 Ausstellungen mit Art en Voyage
        p Um an einer der nächsten Ausstellungen in China teil zu nehmen, wenden Sie sich bitte an uns