extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellungen Frühjahr 2010 Offene Türen - Paris,  Parc Floral de Paris, BASE’ART, Le Festival, Doug Petrovic stellt in China aus')
    meta(name='author' content='Frederic LAMAGNERE')
block main
    section
        p#message=title
        #textgauche
            header 
                h1  Ausstellungen Frühjahr 2010
            h2 Portes Ouvertes - Offene Türen - Paris
            p 29 und 30 Mai 2010
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="/galerie/kouassi")   Germain Kouassi
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic 
                |  und  
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            h2 Parc Floral de Paris: Malerei, Skulpturen, Gravuren und Fotografien
        .row
            .column
                p 
                    a(href="/galerie/erguy") Roland Erguy
                p 13 Mai - 13 Juni 2010
                p Jeden Tag von 13.30 bis 19.00, Wochenende von 10:30 bis 19:00
                p Bois de Vincennes, Bus 112, RER Vincennes, M Chateau de Vincennes
                p Pavillon 18, Eingang Nympheas, freier Eintritt
                p Info: 
                    a(href="https://www.paris.fr/" target="_blank") Mairie de Paris
            .column
                img(src="../images-news/2010/parc-floral.jpg", alt="Parc floral")
        h2 BASE’ART, Le Festival
        p  in Fréjus am 3, 4, 5 und 6 Juni
        p
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic 
            | und  
            a(href="https://www.hstrobl.info") Helga Strobl
        h2 
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
            |  stellt in China mit der Association Art en Voyage aus                 
        p 
            | 12 - 16 April 2010, SENAT, Peking
            br
            | 20 April - 16 Mai 2010, MUSEE DE TIANJIN
            br
            | 20 MAI - 20 JUNI 2010,PEKIN ORIENTAL MEDIA CENTER
