extends ../../templates/d-layout-archive-dias.pug
block main
    section
        #textgauche
            header 
                h1  Portes Ouvertes des ateliers d'artistes à Paris
            block script
                script(src='../images-news/2010/po/dias-listes.js')
