extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos der Ausstellung Doug Petrovic')
block main
    section
        header
            p#message=title
    section
    #textgauche
        header 
            h1  Douglas Petrovic au Daudet, 2010 / 2011
        p 

        block script
            script(src='../images-news/2010/daudet/dias-listes.js')