extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        header
            h1 Neuigkeiten Jänner 2011
        p 
        | Unser tunesisches Mitglied,  
        h(ref="mohsen") Lihidheb Mohsen
        |, schickt uns folgenden Kommentar zu den Ereignissen in seinem Land:
        h3 HEUREUX QUI COMME LES TUNISIENS ONT RECONQUIS LA LIBERTÉ ET L'HONNEUR DE LA NATION.
        p En effet, congratulations au peuple vaillant de Tunisie, Honneur, gloire et respect aux martyrs. Que le mouvement continu par la maitrise du chaos, la reconstruction du pays et le refus du paternalisme politique. Dans cette ère de la citoyenneté et d'humanité, chaque Tunisien doit participer activement à la sécurité de son milieu, de sa région et du pays en général.
        p TUNISIENS ET TUNISIENNES, LA BATAILLE CONTRE LE DICTAT EST GAGNÉE, CELLE DE LA RECONSTRUCTION EST COMMENCÉE.
        p Annähernde Übersetzung:
        p GLÜCKLICHE, DIE WIE DIE TUNESER DIE FREIHEIT UND DIE EHRE DER NATION ABGEGLICHEN HABEN.
        In der Tat, Glückwünsche an die tapferen Menschen in Tunesien, Ehre, Ruhm und Respekt vor den Märtyrern. Möge die Bewegung durch die Beherrschung des Chaos, den Wiederaufbau des Landes und die Ablehnung des politischen Bevormundung weitergehen. In dieser Zeit der Staatsbürgerschaft und der Menschlichkeit muss sich jeder Tunesier aktiv an der Sicherheit seiner Umwelt, seiner Region und des Landes im Allgemeinen beteiligen.
        p TUNESISCH UND TUNESISCH, DIE SCHLACHT GEGEN DEN DIKTAT GEWINNT, DASS DER WIEDERAUFBAU BEGONNEN WIRD.
        p Lihidheb Mohsen, Eco artiste, 4170 Zarzis Tunisie
        hr
    section
        header
            h1 
                h(ref="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                |  : Ölbilder
        p Die Ausstellung wird im März 2011 stattfinden
        p Grand Hôtel, Sète, France
        hr


