extends ../../templates/d-layout-archive-dias.pug
block main
    div
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers
            .row
                .column
                    p 28 und 29 Mai 2011
                    h3  Ausstellung : 
                    p 
                        a(href="/galerie/erguy") Roland Erguy
                        | , 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , 
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , 
                        a(href="https://www.hstrobl.info") Helga Strobl
                .column
                    a(href="/pdf/po11.pdf")
                        img(src="/images-news/2011/po.jpg", alt="Offene Türen 2011 - Laden Sie das Programm herunter")   
                        p Programm herunterladen
            block script
                script(src='../images-news/2011/dias-listes.js')
            