extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Tod der Präsidenten und Vereinsgründers Douglas "Doug" Petrovic, Einladung zu einer Abschieds Veranstaltung')
block main
    div
        section
            header
                p#message=title
        section
        header
            h1 Tod von Douglas Petrovic, Präsident des Vereins Artistes sans Frontières
        img#imagefull(src="/images-news/2011/doug-parti.jpg", alt="Todesanzeige Doug Petrovic")
        hr
    section
        h3 An unsere Mitglieder: gegenwärtige, ehemalige und zukünftige :
        p Wenn Sie Douglas' Abenteuer weiterführen wollen, nehmen Sie bitte Kontakt mit dem Büro des Vereins auf. 
        p Es wird eine ausserordentliche Generalversammlung in Sete stattfinden, mit der Möglichkeit per Telefon oder Visioconférence teilzunehmen.
        p Selbst wenn Sie nicht kommen können, senden Sie uns Ihre Vorschläge, Fragen oder Erinnerungen an Douglas per Mail oder Brief.
        hr