extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos und Teilnehmer and den Offenen Türen  2012 : Roland Erguy, Doug Petrovic, Suzan Rasmussen, Helga Strobl')
block main
    section
        header
            p#message=title
    section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers
            p 12 und 13 Mai 2012
            p 
                a(href="/galerie/erguy") Roland Erguy
                | , 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , 
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , 
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
            block script
                script(src='../images-news/2012/dias-listes.js')
    section
        header
            h1 November
    p Foto Ausstellung im Rahmen des Europäischen Fotomonats in Paris
