extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Offene Türen 2013, Fotos und Teilnehmer  Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl, Fatma-Zohra Zamoum ')
block main
    section
        header
            p#message=title
    section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers - Paris
            p 1 und 2 Juni 2013
            p Samstag und Sonntag: 11h - 19h
            h3  Ausstellung : 
            p 
                a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                | , Malerei, Skulptur
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , Malerei, Holzschnitt
                br
                a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                |  , Fotografie
                br
                a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                |  , Film
            block script
                script(src='../images-news/2013/dias-listes.js')
