extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers - Paris
            p 14 und 15 Juni 2014
            p Samstag und Sonntag: 11h - 19h
            .row
                .column
                    h3  Ausstellung : 
                    p 
                        a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                        | , Malerei, Skulptur
                        br
                        a(href="/galerie/quartarone")  Mary Quartarone
                        | , Malerei
                        br
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , Malerei, Holzschnitt
                        br
                        a(href="https://www.hstrobl.info") Helga Strobl
                        |  , Fotografie
                        br
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                        |  , Film
                    p und außer Konkurrenz der Clown Auguste, der Papagei, der fliegen kann, aber nicht wegfliegt.
                .column
                    h(ref="/pdf/po14.pdf")
                        img#imagehalf(src="/images-news/2014/programme-po-2014.jpg" alt="Treten Sie ein - Programm der Offenen Türen")
    section
        h3 Doug, Ölbilder
        .row
            .column
                img#image90(src="/images-news/2014/doug_blau.png", alt="Doug Petrovic, blaues Ölbild, 2010") 
            .column
                img#image90(src="/images-news/2014/doug_gelb.png", alt="Doug Petrovic, gelbes Ölbild, 2010")
        .row    
            .column
                img#image90(src="/images-news/2014/quartarone_blue-woman.jpg", alt="Mary Quartarone, Blue Woman") 
            .column
                h3 Mary Quartarone "Blue Woman"
                P Die Kunst Marie Quartarones hat ihre Wurzeln in ihrer Spiritualität. Ihre Bilder stammen aus tiefen Visionen, die die Seele und das Herz ihrer inneren Welt widerspiegeln. Mary lebt mit metastasierendem Brustkrebs und malt oft ihre Zukunft, während sie ihren Weg mit dieser Krankheit fortsetzt. Ihre Inspirationen kommen von den Farben und Formen der Natur und der instinktiven Intelligenz. Außerdem porträtiert sie oft Seelen. Mary lebt mit ihrem 34-jährigen Ehemann in Mississauga, Ontario, Kanada, und kommt regelmäßig nach Paris. Sie hat zwei erwachsene Söhne.
        .row    
            .column
                h3 Suzan Rasmussen
                p Die Künstlerin wird während der Ausstellung anwesend sein.
                img#image90(src="/images-news/2014/rasmussen.jpg", alt="Suzan Rasmussen") 
            .column
                h3 Helga Strobl, Blick vom Himmel
                p  Helga Strobl wird während der Ausstellung anwesend sein.
                img#image90(src="/images-news/2014/vue-du-ciel.png", alt="Helga Strobl, Blick vom Himmel") 
        .row
            .column
                h3 Fatma Zohra Zamoum : Azib Zamoum, une histoire de terres (eine Geschichte der Erde)
                p Film
                p Im Innern werden Ausschnitte und Kurzfilme gezeigt. Wenn es das Wetter erlaubt, werden langeFilme im Hof ​​zu sehen.
                p Fatma Zohra Zamoum wird während eines Teils des Open House anwesend sein (Änderungen vorbehalten)
            .column
                img#image90(src="/images-news/2014/fatma-zohra-zamoum_azib-zamoum .jpg", alt="fatma-Zohra Zamoum, Azib Zamoum,Filmplakat") 