extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Arts 14 de 2014 : Fotos der Ausstellung Arts 14 in 2014, Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl, Fatma-Zohra Zamoum - und der Papagei Auguste')
block main
    section
        header
            p#message=title
    section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers - Paris
            .row
                .column
                    h3  Ausstellung : 
                    p 14 und 15 Juni 2014
                    p Samstag und Sonntag: 11h - 19h
                    p 
                        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
                        | , Malerei, Skulptur
                        br
                        a(href="/galerie/quartarone")  Mary Quartarone
                        | , Malerei
                        br
                        a(href="/galerie/rasmussen")  Suzan Rasmussen
                        | , Malerei, Holzschnitt
                        br
                        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
                        |  , Fotografie
                        br
                        a(href="/galerie/zamoum") Fatma-Zohra Zamoum
                        |  , Film
                    p 
                        | Außer Konkurrenz der Clown Auguste,
                        br
                        | der Papagei, der fliegen kann, 
                        br
                        | aber nicht wegfliegt.
                .column
                    h(ref="/pdf/po14.pdf")
                        img#imagehalf(src="/images-news/2014/programme-po-2014.jpg", alt="Treten Sie ein - Programm der Offenen Türen")
            block script
                script(src='../images-news/2014/dias-listes.js')
