extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ankündigung der Arts 14 de 2015 und Teilnehmer: Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl')
block main
    p#message=title
    p  Ausstellungs Ankündigungen
    section
        header
            h1 Portes Ouvertes - Offene Türen der Künstler Ateliers - Paris
        p 6 und 7 Juni 2015
        br
        | Samstag und Sonntag: 11h - 19 Uhr
        p  
        a(href="https://www.dougpetrovic.info" rel='noopener' target="_blank") Doug Petrovic
        | , Malerei, Skulptur
        br
        a(href="/galerie/quartarone") Mary Quartarone
        | , Malerei
        br
        a(href="/galerie/rasmussen") Suzan Rasmussen
        | , Malerei, Holzschnitt
        br
        a(href="https://www.hstrobl.info" rel='noopener' target="_blank") Helga Strobl
        | , Fotos
        .row
            .column
                img#image90(src="/images-news/2015/helga-strobl0909train_5.jpg" alt='Helga Strobl "Haltestelle", Foto')
                p Helga Strobl "Arrêt de train" (Bahnhof), Foto
            .column
                img#image90(src="/images-news/2015/suzan-rasmussen_milburn-heights.jpg" alt='Suzan Rasmussen: "Milburn Heights", Aquarell')
                p Suzan Rasmussen: Milburn Heights, Aquarell
        .row
            .column
                img#image90(src="/images-galerie/base/quartarone/4creation.jpg" alt='Mary Quartarone: "Creation", Aquarell')
                p Mary Quartarone: Creation, Aquarell
            .column    
                img#image90(src="/images-news/2015/douglas-petrovic-sans-titre.jpg" alt='Douglas "Doug" Petrovic, ohne Titel, Ölbild')
                p Douglas "Doug" Petrovic, ohne Titel, Ölbild
