extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos der Ausstellung und Teilnehmer an den Arts 14 von 2015 : Doug Petrovic, Mary Quarterone, Suzan Rasmussen, Helga Strobl')
block main
    div
        section
            header
                h1=title
        section
        #textgauche
            header 
                h1  Portes Ouvertes - Offene Türen der Künstler Ateliers - Paris
            p 6 und 7 Juni 2015
            p Samstag und Sonntag: 11h - 19h
            h3  Ausstellung : 
            p 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | , Malerei, Skulptur
                br
                a(href="/galerie/quartarone")  Mary Quartarone
                | , Malerei
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | , Malerei, Holzschnitt
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , Fotos   
            block script
                script(src='../images-news/2015/dias-listes.js')
