extends ../../templates/d-layout-archive-dias.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Fotos und Teilnehmer an den Arts 14 im Juli 2016 : Doug Petrovic, Suzan Rasmussen, Suzan Reggaro, Helga Strobl')
block main
    div
        section
            header
                p#message=title
        section
        #textgauche
            header 
                h1  Offene Türen der Künstler Ateliers in Paris:
            p Sonntag 12 Juni 2016
            h3  Ausstellung : 
            p 
                a(href="/galerie/emory") Rick Emory
                | , Fotos
                br 
                a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                | ,  Malerei, Skulptur
                br
                a(href="/galerie/rasmussen")  Suzan Rasmussen
                | ,  Malerei, Holzschnitt
                br 
                a(href="/galerie/reggaro")  Shannon Reggaro
                | ,  Malerei
                br
                a(href="https://www.hstrobl.info") Helga Strobl
                |  , Fotos   
            block script
                script(src='../images-news/2016/dias-listes.js')
