extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung "Rencontres" - Begegnungen, November 2016 :Germain Kouassi, Doug Petrovic, Suzan Rasmussen, Suzan Reggaro, Helga Strobl')
block main
    div
        section
            header
                h1=title
        section
        #textgauche
            header
                h1 Rencontres d'artistes - Künstler Treffpunkt
            .row
                .column
                    p In unserem Verein trafen sich Künstler verschiedener Genres und verschiedener Herkunkt, wurden Freunde, inspirierten sich gegenseitig, überliessen manchmal ein Werk dem Verein, tauschten Werke aus oder liessen ein Werk vorübergehend zurück, als Zeugen ihres Besuchs.
                    p Diese Ausstellung zeigt die Ergebnisse dieser Treffen. 
                    p Artistes sans Frontières präsentiert Gemälde, Zeichnungen und Fotos:

                    h3 
                    | Alexandre Froment, 
                    a(href="galerie/kouassi")  Germain Kouassi
                    |, Françoise Orbey, 
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | , 
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , 
                    a(href="galerie/reggaro") Shannon Reggaro
                    | , 
                    a(href="https://www.hstrobl.info") Helga Strobl

                    p 3 - 19 November, im Restaurant "Le Daudet"; einem anderen beliebten Treffpunkt.
                .column
                    img#imagefull(src="/images-news/2016/2016-affiche-expo.jpg" alt="Plakat der Ausstellung Rencontres d'artistes")

    section
        header
            h3 Programm Änderung Fotomonat
        p Fotoausstellung : April 2017
        p Ausstellung Douglas Petrovic : Frühling 2017, Paris