extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Europäischer Fotomonat 2017, Salon der Fotografen Paris 14, Ausstellung Helga Strobl "Inspirationen"')
block main
    section
        header
            p#message=title
    section
        header
            h1 Europäischer Foto Monat -Paris
        h2 Salon des Photographes
        .row
            .column
                p Helga Strobl stellt auf der Foto Ausstellung der Fotografen des 14. Bezirks aus
                p Annexe de la Mairie du 14e, 12 rue Pierre Castagnou,
                p du 08.03 au 19.03: 11-19h, me 15.03 11-21
            .column
                img#imagefull(src="/images-news/2017/mois-photo-2017.png" alt="Plakat Fotomonat 2017")
                a(href="/pdf/mdlp17.pdf" alt="le programme en pdf")  Das Programm der Gemeinde als pdf
    section
        h2 Helga Strobl: "Inspirations"
        p 24 avril - 26 Mai, Ausstellung im Bar Restaurant Le Daudet

