extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung in Hommage von Paolo Boni, 2018 ')
block main
    section
        header
            p#message=title
        p  Empfehlung
    section
        header
            h1 Ausstellung: Hommage à Paolo Boni
        p Beaubourg 24, 24 rue Beaubourg, Paris 3e
        p 10 - 26 Januar 2018, Dienstag - Samstag, 11 - 19:00
        p
            img#image80(src='/images-news/2018/boni.jpg', alt='Einladung zur Ausstellung Paolo Boni 2018')
            img#image80(src='/images-news/2018/boni-text.jpg', alt='Einladungs Text Paolo Boni')

