extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
    div
        p  Empfehlung
        section
            header
                h1 Ausstellung: Hommage à Paolo Boni
            p Beaubourg 24, 24 rue Beaubourg, Paris 3e
            p 10 - 26 Januar 2018, Dienstag - Samstag, 11 - 19:00
            p
                img#imagefull(src='/images-news/2018/boni.jpg', alt='Einladung zur Ausstellung Paolo Boni 2018')
                img#imagefull(src='/images-news/2018/boni-text.jpg', alt='Einladungs Text Paolo Boni')

