extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Teilnehmer an der Arts 14 2018: Doug Petrovic, Suzan Rasmussen, Helga Strobl')
block main
    div
        section
            header
                h1=title
        section
            header
                h1 Ausstellungsankündigungen
        h2  14 ARTS 2018 -  Urban Art und Offene Türen der Künstlerateliers 
        .row
            .column
                p
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | ,  Malerei, Zeichnungen, Skulptur
                    br
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , Malerei, Zeichnungen, 
                    br
                    a(href="https://hstrobl.info") Helga Strobl
                    | , Fotos 
                    | Zohra Zamoum, Film
                p Samstag 9 und Sonntag 10 Juni 2018
                p Im 14. Bezirk von Paris und in unserem Atelier, 7 impasse du Rouet, Paris 14e
            .column
                p 
                    a(href="18-3")
                        img#imagefull(src="/images-news/2018/plancomplet2018po.png" alt="Plan der Veranstaltungen, Offene Türen und Urban Art, 2018")
                        | Den Plan 14 ARTS grösser anzeigen
