extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
    div
        section
            header
                h1 14 ARTS 2018 - Plan

        img#imagefull(src="/images-news/2018/po2018recto.png" alt="14 Arts 2018, recto")
        | 14 Arts 2018, plan recto
        img#imagefull(src="/images-news/2018/po2018verso.png" alt="14 Arts 2018, verso")
        | 14 Arts 2018, verso
