extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        header
            h1 Ankündigungen von Ausstellungen und Veränderungen
        section
        h3 Neue Website - neues Angebot - Praktikanten
        p Seit April 2019 bereiten wir eine totale Überarbeitung der Website vor.
            | Diese Webseite hat sich seit der ersten Version im Jahr 2000 viele Male geändert. Dieses Mal ändern wir die Technik,
            | um die Website dynamisch und reaktionsschnell zu gestalten, damit sie sowohl auf einem Handy als auch auf einem großen Bildschirm angenehm zu besuchen ist.
            br
            | Diese Website umfasst ein Archiv von Veranstaltungen seit fast 20 Jahren und individuelle Webseiten, die im selben Zeitraum für unsere Mitglieder erstellt wurden.
            | Es wird einige Zeit dauern, bis alles zuerst in die aktuelle Internet-Sprache und dann in mehrere Sprachen übersetzt ist.
            | Im letzten Schritt können die Mitglieder interaktiv Kunst diskutieren und ihre Erfahrungen austauschen.
        p Um dieses Projekt zu vereinfachen, wird der Verein Künstler ohne Grenzen nun Praktikanten in den Bereichen Entwicklung, Webintegration oder Grafik aufnehmen.
    section
        header
            h1 14 ARTS 2019 - Offene Atelier Türen
        p Samstag 29 und Sonntag 30 Juni 2019
        p
            a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
            | ,  Malerei, Zeichung, Skulptur
            br
            a(href="/galerie/rasmussen")  Suzan Rasmussen
            | , Malerei, Zeichung
            br
            a(href="https://hstrobl.info" target="_blank") Helga Strobl
            | , Fotos 
    section
        header
            h1 Fotomonat im November
        p Foto Ausstellung im Rahmen des Fotomonats
        p Gemeinschafts Ausstellung im Herbst