extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        header
            h1 Erste Schritte zum Projekt der neuen Webseite
        section
        .row
            .column
                p Mitte März haben zwei Entwickler begonnen, die neue Site zu erstellen:
                p Saloum Sylla verstärkt das Team und arbeitet mit Helga Petrovic an der Projektstruktur.
                p
                | Eine der Herausforderungen eines neuen Projekts besteht immer darin, eine Bestandsaufnahme dessen zu erstellen, was bereits existiert,
                | neue Dinge hinzuzufügen, den (neuen) Rahmen zu definieren und wie man alles bequem hinein bekommt.
                p Wie man sieht, ist dies nicht immer eindeutig - Saloums Fahrrad schien auf der Straße viel kleiner zu sein ...

            .column
                img#image90(src="/images-news/2019/saloum.jpg", alt="Saloum kommt für seinen ersten Arbeitstag an.")
                | Saloum kommt für seinen ersten Arbeitstag an.
