extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Ausstellung zu den Offenen Türen abgesagt - Schäden im Gebäude')
block main
    div
        section
            header
                h1=title
        section
        header
            h1 14 ARTS 2019 - Offene Atelier Türen
        h2 STORNIERUNG der offenen Türen des Ateliers Artistes sans Frontières
        p Der Boden unserer Werkstatt versinkt plötzlich - wir können Besucher erst wieder empfangen, wenn wir die Ursache kennen.
        p Wir entschuldigen uns für die Unannehmlichkeiten. Weitere Einzelheiten folgen in Kürze
        .row
            .column3
                p Samstag 29 und Sonntag 30 Juni 2019
                p
                    a(href="https://www.dougpetrovic.info" target="_blank") Doug Petrovic
                    | ,  Malerei, Zeichung, Skulptur
                    br
                    a(href="/galerie/rasmussen")  Suzan Rasmussen
                    | , Malerei, Zeichung
                    br
                    a(href="https://hstrobl.info" target="_blank") Helga Strobl
                    | , Fotos 
            .column3
                img#image90(src="/images-news/2019/po19recto.jpg", alt="14 ARTS - Art Urbain")
                p 14 ARTS - Art Urbain
            .column3
                img#image90(src="/images-news/2019/po19verso.jpg", alt="14 ARTS - le plan des ateliers ouverts")
                p 14 ARTS - le plan des ateliers ouverts        
    section
        header
            h1 Fotomonat im November
        p Foto Ausstellung im Rahmen des Fotomonats
        p Gemeinschafts Ausstellung im Herbst