extends ../../templates/d-layout-archive.pug
block main
    div
        section
            header
                h1=title
        section
        header
            h1 Fortschritt 
    .row
        .column
            h3 Neue Website - neuer Praktikant  
            p Die neue Seite nimmt Gestalt an, die französische Version ist bereits teilweise online
            | und wird die alte Seite in der Nacht vom 20. auf den 21. Oktober ersetzen.
            br
            | Das Archiv ist komplett für die Jahre 2019 bis zurück in 2011 und zeigt die Fotos der Ausstellungen seit 2004.
            | Der Rest der Seiten folgt nach und nach.
            p
            | Im Oktober und November werden die einzelnen Webseiten der Künstler nacheinander ausgetauscht. In der Galerie wird manchmal ein Link zur alten Site angezeigt, auf den geklickt werden muss.
            br
            | Hinweis für Mitglieder mit einer Basis-Site: Ihre alten Domain-Namen bleiben aktiv.
            p Saloum Sylla hat sein Praktikum und seine Ausbildung beendet und arbeitet wieder bei seiner früheren Firma, beteiligt sich aber weiterhin an Künstler ohne Grenzen-Projekten
            p 
            | Zoubeir Marouf ist dem Team beigetreten und arbeitet an einem individuellen Website-Projekt für Mitglieder.   
        .column
            img#imagefull(src="/images-news/2019/remise-diplome.jpg", alt="Feier nach der Diplomverteilung")
            | Offiziell abgeschlossenes Studium für Saloum und Helga (die beiden rechts) - die Feier nach der Diplomverteilung
    section
        header
            h1 Kein Fortschritt für unser Atelier
        p 
        | Wir warten immer noch auf die Zustiummung der Versicherung, um den Boden zu reparieren.
        | In Vorbereitung auf den Umbau haben wir die Kunstwerke und die meisten Möbel im Sommer entfernt,
        | aber die Abwicklung braucht seine Zeit.
        br
        | Und noch mehr Zeit ...
        br
        | Neue Expertisen finden am 6. und 7. November statt.
        p
        | In der Zwischenzeit können wir keine Besucher empfangen. Ein klaffendes Loch unmittelbar nach der Schwelle,
        | das ist nicht die beste Methode, um das Publikum einzufangen.
        | Dadurch haben leider zur Zeit keinen Zugriff  auf die auszustellenden Werke, die Bilderrahmen und die notwendige Ausstattung.
        | Der Lagerraum, der auch als Werkstatt dienst, ist mit Möbeln und Büroausstattung zugestellt.
        | Zu unserem Bedauern müssen wir die Ausstellungen in diesem Herbst absagen.
        p Wir hoffen, die Arbeiten im Jahr 2019 abzuschließen, um Sie zu Beginn des Jahres 2020 wieder willkommen zu heißen.
        .row
            .column3
                img#imagefull(src="/images-news/2019/depart1.jpg", alt="Die Kunstwerke wandern aus")
                p Die Kunstwerke wandern im Juli aus ...
            .column3
                img#imagefull(src="/images-news/2019/depart2.jpg", alt="Diese Werke ebenso")
                p Diese Gouaches und Fotos ebenso ...
            .column3
                img#imagefull(src="/images-news/2019/depart3.jpg", alt="Noch ein Abschied")
                p und auch die Ölbilder

    section
        header
            h1 Fotomonat im November - unsere Teilnahme ist storniert
        p Foto Ausstellung im Rahmen des Fotomonats - storniert
        p Gemeinschafts Ausstellung im Herbst - storniert
