extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Beginn der Bauarbeiten, Beton wird gegossen - man kann drüber lächeln')
block main
    div
        p#message=title
        section
            header
                h1 Fester Boden unter den Füßen
            section
            .row
                .column
                    p Nach dem Wasserschaden im Sommer klärte sich die Situation endgültig und die Arbeiten konnten Ende November beginnen.
                    p
                    | 60 cm unter dem Niveau des Hofes erreichten die Arbeiter festen Grund und begannen mit dem Wiederaufbau der verschiedenen Schichten
                    | des Bodens.
                    p
                    | Eines Abends fand ich diese Arbeitskleidung und Tasche eines Arbeiters in sicherer Höhe über dem
                    | frisch gegossener Beton.
                    p Nach den Tagen des Trocknens kamen die Parkettleger, Wandmonteure, die Maler ... und die Streiks.
                    p
                    | Bei alledem ging die Arbeit an der Website langsamer als geplant voran.
                    | Die Migration und die Übersetzungen der Hauptseite ins Englische und Deutsche sind fast abgeschlossen, jedoch arbeiten wir noch an 
                    | den unabhängigen Websites der Künstler.
                    p Der Termin für die Eröffnung des Pariser Büros für den Empfang von Besuchern steht noch nicht fest, voraussichtliche wird es der 15. Januar 2020 werden.
                .column
                    img#image90(src="/images-news/2019/concrete-funny.jpg", alt="Kleidung und Tasche verbringen das Wochenende in sicherer Höhe")
                    br
                    | Arbeitskleidung und Tasche in trockener Höhe               
