extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, développements et annonces 2020')

block main
    section
        p#message=title
        #textgauche
            header
                h1=title
            h2 COVID-19-Epidemie
        p Infolge der aktuellen öffentlichen Maßnahmen,
        h3 sind unsere Räumlichkeiten für Besucher geschlossen.
        p Wir bieten montags bis freitags zwischen 14 und 17 Uhr einen Telefonempfang an.
        p Handynummer: +33 (0)6 32 95 40 90
        p Um einen Telefontermin außerhalb dieser Zeiten zu vereinbaren, kontaktieren Sie uns per E-Mail oder SMS.
        a(href='mailto:bureau.asso@artistes-sf.org?subject=Empfang') E-mail: bureau.asso@artistes-sf.org

