extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, jüngste Entwicklungen und Ankündigungen 2020, Änderungen aufgrund der Pandemie')

block main
    section
        p#message=title
        #textgauche
            header 
                h1  Eingeschränkter Empfang während der Covid19 Pandemie
            h2 Virtuelle Ausstellungen
            p
                | 2020, mit den sozialen Abstandsregeln in der realen Welt 
                |  ist das Jahr einer massiven Migration in die virtuelle Welt des Internets.
            p
                | 2020 ist es 20 Jahre her, dass unser Team die erste Website für Künstler erstellt hat.
                br
                | Kunstfreund, machen Sie einen Spaziergang in der virtuellen Galerie der AsF-Site, um die Werke unserer Mitglieder zu entdecken!
                br
                | Künstler, kontaktieren Sie uns für
                ul
                    li eine virtuelle Ausstellung, 
                    li eine reale Ausstellung so bald wie möglich,
                    li eine neue Website zur Präsentation Ihrer Werke.
            h2 Empfang in unseren Räumlichkeiten
            p
                | Das Büro des Vereins ist klein und unser Team arbeitet hauptsächlich vom Home Office aus.
                | Für Besuche in unseren Räumlichkeiten gelten neue Empfangsregeln:
                ul
                    li Besuche nur nach Vereinbarung
                    li maximal ein oder zwei Besucher
                    li obligatorisches Tragen eines Mund und Nasen Schutzes
                    li Terminvereinbarungen: 06 32 95 40 90, von Dienstag bis Samstag, zwischen 13 und 17 Uhr
                    li Termine von Dienstag bis Samstag ab 14 Uhr
    section
        #textgauche
            .row
                .column
                    h2 Erste Ausstellung im Jahr 2020: Doug Petrovic
                    p Ölbilder und Guachen von Doug Petrovic sind nach Vereinbarung zu besichtigen (siehe Besuchs Regeln oben).
                    p Aufgrund der administrativen Schließung vom 16. März wurden die Vernissage und die Einweihungsparty nach der Renovierung unserer Räumlichkeiten abgesagt.
                    h3 Ein privater Ausstellungs Besuch nach Termin Vereinbarung
                    p bietet Ihnen die Möglichkeit, einen Künstler in einer intimen Umgebung zu entdecken, während einer Zeitspanne, die ausschließlich Ihrer Entdeckung gewidmet ist.
                .column
                    img.imagehalfc(src="/images-news/2020/atelier1.jpg", title="Doug Petrovic, Õlbild" alt = "Doug Petrovic, Ölbilder und Gouachen")
            h2 Neue Website - neue Teammitglieder
            p Die neue Site hat die alte Version ersetzt, die Inhalts Übertragung ist weit fortgeschritten und wird im Mai abgeschlossen.
            p
                | Babacar Seck, unser neuestes Team Mitglied, begann sein Praktium am 1. April unter besonderen Bedingungen: Am Tag seines ersten Vorstellungstermins wurde die Ausgangssperre verhängt.
                | Sein Praktikum begann von zu Hause aus und in einer Codesprache, die er vorher nicht kannte. 
                | Er hat bereits begonnen, den Inhalt des Archivs für die Jahre 2005 und 06 zu übertragen. Es wird die fehlenden Jahre im Mai beenden.
            p Im Mai oder Juni wird ein weiterer Auszubildender zu uns stossen - seine Ausbildung wurde durch die Quarantäne unterbrochen
            | und das Enddatum seiner Ausbildung kann sich noch ändern.

