extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, neue Website für unseren  Nachbarschaftsrat, Projekt conseil-jmpo.fr, neuer Film Body & Art von Fama Zohra Zamoum, film screening and Gespräch mit Fatma Zohra Zamoum im ZKM Karlsruhe')

block main
    section
        p#message=title
        #textgauche
            header
                h1 Herbst 2020
            .row
                .column
                    h2 Neue Website für unseren  Nachbarschaftsrat
                    p
                        a(href='https://petrovic.ovh', rel='noopener', target='_blank')  Helga Petrovic 
                        | und das Team von Artistes sans Frontières arbeiten am Projekt einer Website für den
                        a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') Conseil de Quartier Jean Moulin Porte d'Orléans, 
                        br
                        | Textes par Zeliha Chaffin.
                .columncenter
                    a(href='https://conseil-jmpo.fr', rel='noopener', target='_blank') 
                        img.imagefullc(src="/images-news/2020/conseil-jmpo.jpg", title="Erste Version der Website conseil-jmpo.fr" alt="Erste Version der Website conseil-jmpo.fr") 
                        br
                        | Erste Version der Website, 6 Oktober 2020
            h2 Neuer Film von Fatma-Zohra Zamoum:  Body &amp; Art
            p 
                |Samstag 17. Oktober 2020, 19 Uhr
                br
                | im ZKM, Zentrum für Kunst und Medien, Karlsruhe, Deutschland
            h2 Film und interview mit der Regisseurin Fatma Zohra Zamoum
            p 
                | Body &amp; Art ist eine Retrospektive einer Kunst Performance von Gunter Brus
                | in den Strassen von Wien im Jahr 1965.
                br
                |Mit Gunter Brus, Peter Weibel, Eva Badura Trischka und Yves Michaud. 
        
            a(href="https://zkm.de/de/veranstaltung/2020/10/body-art" rel='noopener' target="_blank") Programm des Abends auf der ZKM Website
       


