extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Projekte 2021, Bürozeiten 2021')

block main
    section
        p#message=title
        #textgauche
            header
                h1 Ein Gutes Neues Jahr 2021!
            .row
                .column65
                    h3 Beste Wünsche zum neuen Jahr ! 
                    p Wir alle hoffen auf eine Wiederaufnahme des kulturellen und sozialen Lebens - dieser Baum, der heute aus unserer Einfahrt wuchs, brachte mich zum Lachen, da er unsere abgeschnittenen Beziehungen und die Trennung von Freunden und Familie perfekt darstellt.
                    
                .column3 
                    img.imagefullc(src="/images-news/2021/separations.jpg", title="Ich fühle mich so abgeschnitten" alt="Ich fühle mich so abgeschnitten von allem") 
                    br
                    | Ich fühle mich so von allem abgeschnitten
                    br
                    | Photo: Helga Strobl
              
            h2    Projekte und Entwicklungen
            h3 Bürozeiten
            p 
                | Neue Öffnungszeiten in  2021 : Montag - Freitag, 13 - 17 Uhr. 
                br
                |   Informationen per Telefon unter der unten auf der Seite angegebenen Nummer. Um ein Projekt zu besprechen, bieten wir Ihnen einen Videoanruf an. Aufgrund der aktuellen Beschrãnkungen sind Besuche in unseren Räumlichkeiten nur nach Vereinbarung möglich und auf jeweils eine Person beschränkt.
            h3 Kommende Projekte - Praktika
            p Für ein großes literarisches Projekt suchen wir uns Praktikanten oder Freiwillige, die als Entwickler an React oder an einer Datenbank arbeiten möchten, aber auch an ein oder zwei Praktikanten, die sich für Literatur oder Kultur interessieren. Projektbeginn im Februar, Praktika von mindestens sechs Wochen für die Web Entwicklung und mindestens vier Wochen für den kulturellen Aspekt, Praktika erhältlich voraussichtlich während des ganzen Jahres 2021.
         


