extends ../../templates/d-layout-archive.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, Öffnungszeiten, neue Team Mitglieder 2021')

block main
    section
        p#message=title
        #textgauche
            header
                h1 Neue Mitglieder im AsF Team
            .row1-2
                .column35
                    p  Wir freuen uns, Lilia, Raky, Sarah und Zina, vier Frauen, die sich für Digitaltechnik begeistern und voller Kreativität sind, im Team von Artistes sans Frontières begrüßen zu dürfen. Für einen Zeitraum von vier Monaten werden diese Webentwickler Helga bei der Realisierung digitaler Projekte unterstützen.
                    p Alle vier lieben die Herausforderung und wollten ihrem Bogen durch ein Training in der  Web Entwicklung (in Rekordzeit) eine Saite hinzufügen!
                    p Sie wissen Ihre Websites und mobilen Anwendungen zu erstellen.
                    p Zögern Sie also nicht, sich an den Verein zu wenden, wir sind gerne bereit, alle Webprojekte  zum Leben erwecken, die Sie sich vorgestellt haben!
                .column
                    img.image80(src="/images-news/2021/drolededames.jpg", title="Unsere Entwicklerinnen" alt="Lustige Damen - unsere Entwicklerinnen") 
            h3 Bürozeiten
            p 
                | Öffnungszeiten in  2021 : Montag - Freitag, 13 - 17 Uhr. 
                br
                |   Informationen per Telefon unter der unten auf der Seite angegebenen Nummer. Um ein Projekt zu besprechen, bieten wir Ihnen einen Videoanruf an. Aufgrund der aktuellen Beschränkungen sind Besuche in unseren Räumlichkeiten nur nach Vereinbarung möglich und auf jeweils eine Person beschränkt.
            


