extends ../../templates/layout-site.pug
block main
    section
    h1=title
    div
        p Suite à un sinistre, nos lieux sont fermés pour travaux. 
        p Accueil téléphonique, de lundi à samedi, entre 11h et 19h : +33 (0)1 40 44 77 41.
        p
             a(href='mailto:bureau.asso@artistes-sf.org?subject=page contact, fr') E-mail: bureau.asso@artistes-sf.org