extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières offre un service de photos professionnelles pour membres ou clients d\'un de nos autres services')

block main
    div
        section
            header
                h1=title
            h2 Photos de vos oeuvres et de vos expositions
            p 
            | Chaque oeuvre d'artiste mérite la meilleure présentation possible, c'est le credo de notre association. 
            br
            | Chaque photo présentée sur nos sites Internet est traitée par un artiste-graphiste. 
            |  Si possible, nous traitons les couleurs en présence de l'artiste ou de l'oeuvre, pour être le plus proche de la réalité.
            br
            | Les photos de nos reportages dans les pages Nouveautés sont traitées plus sommairement, mais nous prenons tout notre temps pour les photos des oeuvres sur les sites personnels. 
            | Ce service est inclus dans chaque forfait.
            h3 Prises de vue et traitement de photos 
            ul
                li Photos pour un site Internet
                li Photos pour Internet et impression 
                li Photos de documentation de votre exposition
            p Tarifs spéspeciaux pour membres, devis sur demande.
            h2 Services informatiques
            p Dépannage, formation ou aide à la création d'un projet 
            p
            hr
            include ../../templates/footer.pug   

        aside
        p 





