extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, nos services pour garantir une exposition réussi de vos oeuvres. Choissisez votre niveau d\'implication, nous avons une solution pour le reste !')    
block main
    div
        section
            header
                h1=title
            h3 Service pour membres artistes
            p Participation à nos expositions de groupe: frais partagés
            p Exposition individuelle: Choix du lieu en fonction de votre budget
            h3 Service affiches et cartons d'invitation
            ul
                li Traitement d'une photo de votre choix pour l'impression sur la base d'une bonne photo numérique. 
                | Si vous n'avez pas de bonnes photos de vos oeuvres, nous prenons une photo d'une oeuvre dans notre atelier.
                | Si vous apportez une photo, vous déclarez disposer des droits de cette photo pour l'usage sur affiches et cartes d'invitation et de l'autorisation du photographe.
                | Si vous apportez une oeuvre, dont nous faisons la photo, vous nous en donnez l'autorisation de publication. 
                li Maquette d'affiches et de cartons d'invitation - vous choisissez les formats des affiches et des cartons
                li Fichiers prépresse et transfert à l'imprimerie
                li Impression: nous vous proposons des imprimeries à bon prix (selon la quantité désirée), mais vous êtes libre de choisir une autre imprimerie. Dans ce cas, nous vous fournissons les fichiers numériques.
            p L'affichage des affiches et la distribution des cartons d'invitation est à votre charge et à votre responsabilité. 
            h3 Catalogues et brochures
            ul
                li Catalogues personnels
                li Catalogues pour expositions de groupe
                li Dépliants
                li Service photos professionnelles
                li Mise en page
                li Impression : Organisation de l'impression
            h3 Transport d'oeuvres d'art et autres services pour l'exposition
            ul
                li Transport des oeuvres en France et dans l'Union Européenne, espace Schengen
                li Réception d'oeuvres envoyées et retour après l'expo
                li Encadrement sous verre ou mise sur châssis sur place
                li Accrochage, placement de sculptures, réglage d'éclairage etc.
            p
            hr
            include ../../templates/footer.pug   

    aside
