extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, page d\'accueil du chapitre Les Services de Notre Association')
block main      
    section
        header
            h1 #{title} 
        p 
        | Vous trouverez sur le nouveau site des informations sur 
        | notre association d'artistes (quelques pages encore en préparation), sur nos services, 
        | la galerie des membres et les événements des dernières années. 
        p Des événements depuis la fondation seront ajoutés progressivement.
        h2 
        | Actualités les plus récentes (année - numéro de publication)   
        a(href='/archive/actuel') :  20#{target.actu}
    footer
        hr
        include ../../templates/footer.pug
