extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Vous êtes artiste ou ami(e) des beaux arts? Adhérez à Artistes sans Frontières !')
block main
    section
        header
            h1=title
        p Page en préparation, contactez-nous pour des détails !
    footer
        hr
        include ../../templates/footer.pug