extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Page de mentions légales : qui est en charge, auprès de qui se plaindre et les droits d\'auteur pour tout' )
block main
    section
        div
            header
                h1=title
        div
            p   
            |   Bureau Paris
            br
            |   7, impasse du Rouet
            br
            |   F-75014 Paris
            p   Téléphone : (+33) 01.40.44.77.41
            a(href='mailto:bureau.asso@artistes-sf.org?subject=page mentions') E-mail: bureau.asso@artistes-sf.org
            p 
            |   Numéro SIRET 450 173 844 000 25
            br
            |   TVA: CEE no FR50450173844
            br
            |   Code APE 923A
            p   
            |   Président: M Ferdinand Winkler
            br
            |   Responsable de la rédaction: Mme Helga Petrovic
            p   Fournisseur / Provider:
            |   Le site est hébergé chez OVH.com
            br
            |   2 rue Kellermann - 59100 Roubaix - France

        div
            h3 Droits d'auteur
            p   Pour toute la création (photos et textes) : Artistes sans Frontières, 
            |   Helga Petrovic, les artistes pour leurs photos et textes fournis sur leurs sites.
            h3 Garanties
            p 
            |   L’association Artistes sans Frontières s’efforce d’assurer au mieux de ses possibilités, l’exactitude et la mise à jour des informations diffusées sur ce site. Nous nous réservons le droit de corriger à tout moment le contenu du site. Toutefois, nous ne pouvons garantir l’exactitude, la précision ou l’exhaustivité des informations mises à disposition sur ce site.
            br
            |   Nous déclinons toute responsabilité pour toute interruption du site, toute survenance de bug, toute inexactitude ou omission portant sur des informations disponibles sur le site, tous dommages résultant d’une intrusion frauduleuse d’un tiers ayant entraîné une modification des informations mises à disposition sur le site.
            br
            |   Ce site contient des liens vers d’autres sites. L’association Artistes sans Frontières ne peut être tenue pour responsable des problèmes d’accès ou de contenu de ces sites.
            h3 Droit de propriété intellectuelle
            p
            |   Tous les éléments présents sur le site et le site en lui-même sont protégés par le droit d’auteur, droit des marques, des dessins et modèles et/ou tout autre droit de la propriété intellectuelle. Par éléments, nous entendons de façon non exhaustive : les photographies, images, dessins, illustrations, animations, textes, vidéos, logos, marques, modèles, logiciels…Ces éléments appartiennent à l’associations Artistes sans Frontières ou bien sont utilisés avec l’accord de leurs propriétaires.
            br
            |   À ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier, numérique…) est interdite, sans l’autorisation écrite préalable de l’associations Artistes sans Frontières, sauf les exceptions prévues par l’article L 122.5 du Code de Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d’auteur et/ou de dessins et modèles et/ou de marque.
            p Pour toute question, demande ou complément d’information, écrire à :
                a(href='mailto:bureau.asso@artistes-sf.org?subject=page mentions, droits') E-mail: bureau.asso@artistes-sf.org


    block aside