extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières, notre histoire (en préparation)')
block main
    section
        h1=title
        p 
    footer
        hr
        include ../../templates/footer.pug