extends ../../templates/layout-site.pug
block extrameta
    meta(name='description' content='Artistes sans Frontières crée des sites Internet personalisés, réactifs et dynamiques. Du petit projet culturel au grand projet commercial, nous trouvons des solutions créatives et esthetiques  ')
block main
    section
        header
            h1=title
        h3 Service pour artistes, galeries, acteurs culturels
        p 
        | Nous créons pour chacun de nos membres un site unique, adapté à sa personnalité et à ses besoins.
        br
        | Et cela, à des prix sans concurrence !
        p Choisissez un des forfaits ou une solution adaptée à votre projet !

        p 
        | Promotion de vos expositions: Annoncez vos expos dans les pages Nouveautés gratuitement!
        | En général, Artistes sans Frontières fait des photo-reportages de ses vernissages et participations aux salons. 
        a(href='divers')  (Voir aussi chapitre "Autres Service")
        br
        | Profitez d'un lien gratuit de votre site vers chaque reportage vous concernant - cela enrichit votre site! 
    section
        header
            h3 Site de base
        ul
            li Une page avec votre nom, un logo et la navigation (liens vers les autres pages)
            li Une page de texte (biographie ou autre)
            li Une page avec 6 à 10 photos
            li Le traitement des photos à partir de photos numériques ou des photos papier de bonne qualité.
            li Une animation autour des photos ou du texte (ex le défilement des photos).
            li Sous-domaine : Nos visiteurs vous trouveront dans la Galerie Virtuelle. En plus vous disposerez d'une adresse du type art.Artistes-SF.org/VotreNom ou art.Artistes-SF.org/VotreNomd'Artiste pour accéder directement à votre site.
            li Hébergement: hébergé sur notre serveur, le site de base est accessible pendant la durée de votre adhésion à l'association Artistes sans Frontières. Vous trouverez les détails concernant l'adhésion sur le bulletin d'adhésion.
            li En Option: La création de votre logo
        p Voir un exemple de notre "site de base": Silvia Simoncelli (ancienne version)
        p 
        | Tout au long de votre adhésion à AsF, chaque année votre site s'étoffe et montre plus de vos oeuvres.
        br 
        | Voir un exemple de site avec photos professionnelles : Germain Kouassi (ancienne version).
        h3 Site de base Plus
        p 
        | Vous désirez disposer d'un grand site, sans vous soucier de sa gestion? 
        br
        | Ajoutez des options au site de base, au choix :
        ul
            li Pages de texte additionnelles
            li Photos ou autre média 
            li Nom de domaine de votre choix
            li Fonctionnalités (formulaire de contact, plan d'accès ...)
    section
        header
            h3 Site d'artiste, de taille variable et indépendant
        p Demandez un devis, si vous souhaitez :
        ul
            li Structure et mise en page libre, en fonction de votre projet
            li Graphisme unique
            LI Interaction avec les visiteurs
            li Statistiques, base de données
            li Un ou plusieurs noms de domaine
            li Photos de tous vos oeuvres importantes
            li Qualité de photos exceptionnelle
        p Hébergement: le site est hébergé sur un serveur ou sur un espace inclus dans la location du nom de domaine. 
        | Cela dépendra de vos exigences et des fonctionnalités choisies. 
        br
        | Ce site est indépendant du site de l'association. Vous pouvez nous confier son hébergement ou choisir votre fournisseur librement.
        p Mises à jour et services après livraison : sur devis
        p Voir un site d'artiste indépendant : Doug Petrovic (ancienne version)
    section
        header
            h3 Création de site personnel ou commercial
        p 
        | Rencontrez-nous, pour obtenir un devis pour votre projet. Venez avec le plan du contenu, 
        | des exemples de textes, photos, médias, vos attentes sur l'usage futur du site,
        | les visiteurs ciblés, les fonctionalités souhaitées et le budget prévu.
        br
        | Nous discuterons des possibilités techniques ensemble, pour créer une expérience utilisateur adapté à votre cible.  
        br
        | Devis sur demande après le premier entretien. 
        p
        hr
        p
            include ../../templates/footer.pug
