extends ../../templates/layout-site.pug
block main
        div
            section
                header
                    h1=title
                h2 Contenu du site
                p 
                | Les membres gardent toute la responsabilité - civile, administrative et pénale - des textes et des photos qui apparaissent sur leur site. 
                | L’association ne publiera aucun contenu raciste, xénophobe ou pornographique et plus généralement tout ce qui contreviendrait aux lois françaises relatives à la presse.
                | Des oeuvres érotiques sont les bienvenues,mais nous nous réservons le droit de décider si une photo est admissible.
                h2 Droits d'auteurs des photos
                h3 Sites individuels, dépendants du site Artistes sans Frontières
                p 
                | En commandant un site vous nous autorisez à publier en ligne les photos, que vous nous communiquez pendant toute la durée de l'adhésion et jusqu'à révocation écrite de ce droit.
                | Si vous n'êtes pas l'auteur des photos, vous vous engagez à obtenir la permission du photographe pour la publication et nous fournir son nom pour l'indiquer sur le site, si le photographe le souhaite.
                h3 Sites individuels indépendants
                p  Vous êtes libre à tout moment de retirer le site, d'en modifier le contenu ou de changer de fournisseur d'hébergement ou de gérant, à condition que le site ait été entièrement payé. Ces changements sont en général payants, les prix et la procédure dépendent des fournisseurs concernés.
                h3 Photos et informations dans les pages Nouveautés
                p
                |  Nous nous réservons le droit de photographier et de documenter les expositions organisées par Artistes sans Frontières et des expositions de groupe, où Artistes sans Frontières loue un stand, inscrit ses membres etc.
                br
                | Nous publions aussi vos propres photos de votre exposition ou celles que vous nous faites parvenir avec l'accord du photographe.
                br
                | Le choix des photos appartient à la rédaction. Pour tous nos reportages et documentations, s'applique le droit de la presse française.
                include ../../templates/footer.pug
        aside
        p
        




