extends ../../templates/layout-galerie.pug
block main
        div
            section
                h3=message
                    h1=title
                p Vous retrouverez ici bientôt : 
                h3 Les sites de nos artistes créés par :
                p 'adzak', 'amorim', 'bazencir', 'champagne', 'delaney', 'erguy', 'frevarias', 'gebka', 'gruyters', 'jalila','kouassi','krive', 'lepaquet', 'merle',  'mohsen', 'mtm', 'nicolas','p.plazanet','paquetrobert', 'pillas', 'pluvinage','quarterone','rahs', 'rasmussen', 'schwertfeger','stoulig', 'silviaartdeco', 'tajuddin', 'valgallard', 'wright'
                h3 Les liens vers les sites externes des membres : 
                p 'doug', 'strobl', 'carbone'
                h3 Des liens vers des sites non artistiques créés par AsF
                p ...



            block aside